.idea

dist
db.sqlite3

venv
env

production_settings.py



**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

/CUBO_v1/media/*
/media/*
/frontend/media
/frontend/media/*


.DS_Store
*.egg-info/
.installed.cfg
*.egg

build
doc
home.rst
make.bat
Makefile

doc-dev


.env

