{% extends 'superbase.html' %}
{% load static %}

{% block seo_title %}Контакты{% endblock seo_title %}
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock styles %}


{% block content %}

    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li class="active">Контакты</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="footer-contacts">
                <div class="info">
                    <h1>Контакты</h1>
                    <ul class="">
                        <li>
                            <span class="footer-title">Адрес</span> <span>{{ contacts.address }}</span>
                        </li>
                        <li>

                            <span class="footer-title">Телефоны</span>
                            {% for phone in contacts.phones.all %}
                                <a href="tel:{{ phone.phone_number }}">{{ phone.phone_number }}</a>
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </li>
                        <li>
                            <span class="footer-title">E-mail</span> <a
                                href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                        </li>

                        <li>
                            <span class="footer-title">Время работы</span> <span>{{ contacts.working_hours }}</span>
                        </li>
                    </ul>
                </div>
                <div class="img">
                    <img
                            alt="{{ contacts.alt_picture }}"
                            class="lazy"
                            src="{{ contacts.map_picture.thumb.url }}"
                            data-srcset="{{ contacts.map_picture.w400.url }} 400w,
                                         {{ contacts.map_picture.w800.url }} 800w"
                            data-sizes="(max-width: 767px) 400px,
                                                1000px"
                    />
                </div>
            </div>

        </div>
    </section>
    <section class="contact-form b-shadow white">
        <div class="container">
            <h3>Напишите нам</h3>
            <div class="form">
                <form method="post" id="form">
                    <div class="input">
                        <input data-required data-length type="text" name="name" id="input-name" class="text-input">
                        <label for="input-name" class="input-label">Ваше имя*</label>
                    </div>

                    <div class="input">
                        <input data-required type="text" name="email" id="input-email" class="text-input">
                        <label for="input-email" class="input-label">E-mail*</label>
                    </div>

                    <div class="input phone">
                        <input data-required type="text" name="phone" id="input-phone" class="text-input">
                        <label for="input-phone" class="input-label">Номер телефона*</label>
                    </div>

                    <div class="input textarea">
                        <textarea data-required wrap="soft" name="comment" id="input-comment"
                                  class="text-input"></textarea>
                        <label for="input-comment" class="input-label">Сообщение*</label>
                    </div>

                    <p class="agree">Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии
                        со
                        статьей 9 ФЗ от 27.07.2006 № 152-ФЗ «О персональных данных» и оглашаюсь с
                        <a href="{% url 'privacy' %}">политикой конфиденциальности</a></p>

                    <p id="error-server-message">Ошибка сервера! Пожалуйста, попробуйте позже.</p>


                    <div class="buttons">
                        <a href="#" class="btn-a diagonal black"
                           id="send-message"><span>Отправить</span>
                            <span class="img">
                                <img class="spinner hide" src="{% static 'images/spinner.svg' %}" width="30px"/>
                            </span>
                        </a>
                    </div>

                </form>
                <div id="success-message">
                    <p>Спасибо! Ваше сообщение получено. Мы свяжемся с Вами в ближайшее время</p>
                </div>
            </div>

        </div>
    </section>

{% endblock content %}


{% block scripts %}

    <script src="{% static 'scripts/form_contacts.js' %}"></script>
{% endblock scripts %}