{% extends 'superbase.html' %}
{% load static %}

{% block seo_title %}Контакты{% endblock seo_title %}
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock styles %}


{% block content %}

    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li class="active">Контакты</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="footer-contacts">
                <div class="info">
                    <h1>Контакты</h1>
                    <ul class="">
                        <li>
                            <span class="footer-title">Адрес</span> <span>4578 Marmora Road, Glasgow, D04 89GR</span>
                        </li>
                        <li>
                            <span class="footer-title">Телефоны</span> <a href="tel:#">(800) 123-0045</a>, <a
                                href="tel:#">(800) 123-0045</a>
                        </li>
                        <li>
                            <span class="footer-title">E-mail</span> <a href="mailto:#">info@demolink.org</a>
                        </li>

                        <li>
                            <span class="footer-title">Время работы</span> <span>Пн - Пт: 10:00 - 20:00</span>
                        </li>
                    </ul>
                </div>
                <div class="img">
                    <img src="{% static 'images/map.jpg' %}"/>
                </div>
            </div>

        </div>
        <!-- RD Google Map-->
        {#       <div class="map" style="background-image: url({% static 'images/map.jpg' %})">#}
        {#        </div>#}
    </section>
    <section class="contact-form b-shadow white">
        <div class="container">
            <h3>Напишите нам</h3>
            <div class="form">
                <form method="post">
                    <div class="input">
                        <input type="text" name="name" id="input-name" class="text-input">
                        <label for="input-name" class="input-label">Ваше имя</label>
                    </div>

                    <div class="input">
                        <input type="text" name="email" id="input-email" class="text-input">
                        <label for="input-email" class="input-label">E-mail</label>
                    </div>

                    <div class="input phone">
                        <input type="text" name="phone" id="input-phone" class="text-input">
                        <label for="input-phone" class="input-label">Номер телефона</label>
                    </div>

                    <div class="input textarea">
                        <textarea wrap="soft" name="comment" id="input-comment" class="text-input"></textarea>
                        <label for="input-comment" class="input-label">Сообщение</label>
                    </div>


                    <p><input type="submit" value="Войти"></p>

                </form>
            </div>

        </div>
    </section>
    <section class="section-md bg-default">
        <div class="container">
            <div class="row row-50">
                <div class="col-md-7 col-lg-8">
                    <h3>Напишите нам</h3>
                    <!-- RD Mailform-->
                    <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global"
                          data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap">
                            <input class="form-input" id="contact-name" type="text" name="name"
                                   data-constraints="@Required">
                            <label class="form-label" for="contact-name">Ваше имя</label>
                        </div>
                        <div class="form-wrap">
                            <input class="form-input" id="contact-email" type="email" name="email"
                                   data-constraints="@Email @Required">
                            <label class="form-label" for="contact-email">E-mail</label>
                        </div>
                        <div class="form-wrap">
                            <input class="form-input" id="contact-phone" type="text" name="phone"
                                   data-constraints="@Numeric">
                            <label class="form-label" for="contact-phone">Номер телефона</label>
                        </div>
                        <div class="form-wrap">
                            <textarea class="form-input" id="contact-message" name="message"
                                      data-constraints="@Required"></textarea>
                            <label class="form-label" for="contact-message">Сообщение</label>
                        </div>
                        <button class="button button-primary" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}


{% block scripts %}

    <script src="{% static 'scripts/forms.js' %}"></script>
{% endblock scripts %}