{% extends 'superbase.html' %}
{% load static price_to_str_filter %}

{% block seo_title %}
    {% if not series %}
        Модельный ряд CUBO
    {% else %}
        {{ series.seo_title }}
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {% if not series %}
        На этой странице представлен модельный ряд домов CUBO
    {% else %}
        {{ series.seo_description }}
    {% endif %}
{% endblock seo_description %}


{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    {% if series %}
                        <li><a href="{% url 'houses_list' %}">Каталог</a></li>
                        <li class="active">{{ series.name }}</li>
                    {% else %}
                        <li class="active">Каталог</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
    <section class="catalog">
        <section class="home-info ">
            <div class="container tab ">
                <div class="tabs-controls">
                    <div class="tabs-controls-wrapper">
                        <div class="container">
                            <div class="tabs-slider">
                                {#                        <div class="mask"></div>#}
                                {#                                <a href="{% url 'houses_list' %}">#}
                                <div class="tabs-controls-item
                                {% if not series %} active {% endif %}"
                                     data-for="tab-all">
                                    <div>
                                        <span>Все ({{ all_houses.count }})</span>
                                    </div>
                                </div>
                                {#                                </a>#}
                                {% for s in series_list %}
                                    <div class="tabs-controls-item {% if s == series %}active{% endif %}"
                                         data-for="tab-{{ s.slug }}">
                                        {#                                        <a href="{{ s.get_absolute_url }}">#}
                                        <div>
                                            <span>{{ s.name }} ({{ s.get_houses.count }})</span>
                                        </div>
                                        {#                                        </a>#}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="tabs-content">
                <div class="container">
                    <div id="tab-all" class="body-item {% if not series %}active{% endif %}">
                        <div class="products-wrapper">
                            {% for house in all_houses %}
                                <div class="product-item white b-shadow">
                                    <div class="item-wrapper">
                                        <div class="item-category">
                                            <span>{{ house.category.name }}</span>
                                        </div>
                                        <div class="item-title">
                                            <span class="item-category">модель - </span><h4>{{ house.name }}</h4>

                                        </div>
                                        <div class="item-picture">
                                            <img
                                                    alt="{{ house.get_main_picture.alt }}"
                                                    class="lazy"
                                                    src="{{ house.get_main_picture.picture.thumb.url }}"
                                                    data-src="{{ house.get_main_picture.picture.w450.url }}"
                                            />

                                        </div>
                                        <div class="item-min-price">жилая площадь -
                                            <span class="price">{{ house.area }} </span>м&sup2;.
                                        </div>
                                        <div class="item-min-price">
                                            <span class="price">{{ house.price_min|price_to_str_filter }}</span> руб.
                                        </div>
                                        <div class="item-link">
                                            <a href="{{ house.get_absolute_url }}" class="btn-a diagonal black">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for s in series_list %}
                        <div id="tab-{{ s.slug }}" class="body-item {% if s == series %}active{% endif %}">
                            <div class="products-wrapper">
                                {% for house in s.get_houses %}
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>{{ house.category.name }}</span>
                                            </div>
                                            <div class="item-title">
                                                <span class="item-category">модель - </span><h4>{{ house.name }}</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="{{ house.get_main_picture.alt }}"
                                                        class="lazy"
                                                        src="{{ house.get_main_picture.picture.thumb.url }}"
                                                        data-src="{{ house.get_main_picture.picture.w450.url }}"
                                                />

                                            </div>
                                            <div class="item-min-price">жилая площадь -
                                                <span class="price">{{ house.area }} </span>м&sup2;.
                                            </div>
                                            <div class="item-min-price">
                                                <span class="price">{{ house.price_min|price_to_str_filter }}</span>
                                                руб.
                                            </div>
                                            <div class="item-link">
                                                <a href="{{ house.get_absolute_url }}" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </section>

    </section>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/catalog.js' %}"></script>
{% endblock scripts %}