{% extends 'superbase.html' %}
{% load static price_to_str_filter image_type %}

{% block seo_title %}
    {% if not series %}
        {% if not catalog_settings.seo_title %}
            Модельный ряд CUBO
        {% else %}
            {{ catalog_settings.seo_title }}
        {% endif %}
    {% else %}
        {{ series.seo_title }}
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {% if not series %}
        {% if not catalog_settings.seo_description %}
            На этой странице представлен модельный ряд домов CUBO
        {% else %}
            {{ catalog_settings.seo_description }}
        {% endif %}
    {% else %}
        {{ series.seo_description }}
    {% endif %}
{% endblock seo_description %}



{% block seo_og_title %}
    {% if not series %}
        {% firstof catalog_settings.seo_og_title catalog_settings.seo_title  "Модельный ряд CUBO" %}
    {% else %}
        {% firstof series.seo_og_title series.seo_title  "Модельный ряд CUBO" %}
    {% endif %}

{% endblock seo_og_title %}

{% block seo_og_url %}{% if not series %}{% url 'houses_list' %}{% else %}{% url 'houses_list_by_series' series.slug %}
{% endif %}{% endblock seo_og_url %}

{% block seo_og_image %}{% if not series %}{% firstof catalog_settings.seo_og_image.w1000.url '' %}{% else %}
    {% firstof series.seo_og_image.w1000.url '' %}{% endif %}{% endblock seo_og_image %}

{% block seo_og_image_secure_url %}{% if not series %}{% firstof catalog_settings.seo_og_image.w1000.url '' %}{% else %}
    {% firstof series.seo_og_image.w1000.url '' %}{% endif %}{% endblock seo_og_image_secure_url %}

{% block seo_og_image_type %}{% if not series %}{% firstof catalog_settings.seo_og_image.w1000.url|image_type 'JPEG' %}
{% else %}{% firstof series.seo_og_image.w1000.url|image_type 'JPEG' %}{% endif %}{% endblock seo_og_image_type %}




{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    {% if series %}
                        <li><a href="{% url 'houses_list' %}">Каталог</a></li>
                        <li class="active">{{ series.name }}</li>
                    {% else %}
                        <li class="active">Каталог</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
    <section class="catalog">
        <section class="home-info ">
            <div class="container tab ">
                <div class="tabs-controls">
                    <div class="tabs-controls-wrapper">
                        <div class="container">
                            <div class="tabs-slider">
                                {#                        <div class="mask"></div>#}
                                {#                                <a href="{% url 'houses_list' %}">#}
                                <div class="tabs-controls-item
                                {% if not series %} active {% endif %}"
                                     data-for="tab-all">
                                    <div>
                                        <span>Все ({{ all_houses.count }})</span>
                                    </div>
                                </div>
                                {#                                </a>#}
                                {% for s in series_list %}
                                    <div class="tabs-controls-item {% if s == series %}active{% endif %}"
                                         data-for="tab-{{ s.slug }}">
                                        {#                                        <a href="{{ s.get_absolute_url }}">#}
                                        <div>
                                            <span>{{ s.name }} ({{ s.get_houses.count }})</span>
                                        </div>
                                        {#                                        </a>#}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="tabs-content">
                <div class="container">
                    <div id="tab-all" class="body-item {% if not series %}active{% endif %}">
                        <div class="products-wrapper">
                            {% for house in all_houses %}

                                <div class="product-item white b-shadow">
                                    <a class="a-wrapper" href="{{ house.get_absolute_url }}"></a>
                                    <div class="item-wrapper">
                                        <div class="item-category">
                                            <span>{{ house.category.name }}</span>
                                        </div>
                                        <div class="item-title">
                                            <span class="item-category">модель - </span><h4>{{ house.name }}</h4>

                                        </div>
                                        <div class="item-picture">
                                            <img
                                                    alt="{{ house.get_main_picture.alt }}"
                                                    class="lazy"
                                                    src="{{ house.get_main_picture.picture.thumb.url }}"
                                                    data-src="{{ house.get_main_picture.picture.w450.url }}"
                                            />

                                        </div>
                                        <div class="item-min-price">площадь дома -
                                            <span class="price">{{ house.area }} </span>м&sup2;.
                                        </div>
                                        <div class="item-min-price">цена -
                                            <span class="price">{{ house.get_price|price_to_str_filter }}</span> руб.
                                        </div>
                                        <div class="item-link">
                                            <a class="button right" href="{{ house.get_absolute_url }}">
                                                Подробнее
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            {% endfor %}
                            <div class="product-item white b-shadow"
                                 data-hystmodal="#individual_project">
                                <div class="item-wrapper new_project">
                                    <div class="item-category">
                                        {% if not catalog_settings.card_text %}
                                            <span>Не нашли подходящий дом? Напишите нам и мы разработаем индивидуальный
                                                проект совершенно бесплатно.</span>
                                        {% else %}
                                            {{ catalog_settings.card_text|safe }}
                                        {% endif %}

                                    </div>

                                    <div class="item-link">
                                        <a href="#" class="button right">
                                            Отправить запрос
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% for s in series_list %}
                        <div id="tab-{{ s.slug }}" class="body-item {% if s == series %}active{% endif %}">
                            <div class="products-wrapper">
                                {% for house in s.get_houses %}
                                    <div class="product-item white b-shadow">
                                        <a class="a-wrapper" href="{{ house.get_absolute_url }}"></a>
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>{{ house.category.name }}</span>
                                            </div>
                                            <div class="item-title">
                                                <span class="item-category">модель - </span><h4>{{ house.name }}</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="{{ house.get_main_picture.alt }}"
                                                        class="lazy"
                                                        src="{{ house.get_main_picture.picture.thumb.url }}"
                                                        data-src="{{ house.get_main_picture.picture.w450.url }}"
                                                />

                                            </div>
                                            <div class="item-min-price">площадь дома -
                                                <span class="price">{{ house.area }} </span>м&sup2;.
                                            </div>
                                            <div class="item-min-price">цена -
                                                <span class="price">{{ house.get_price|price_to_str_filter }}</span>
                                                руб.
                                            </div>
                                            <div class="item-link">
                                                <a class="button right" href="{{ house.get_absolute_url }}">
                                                    Подробнее
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                                <div class="product-item white b-shadow"
                                     data-hystmodal="#individual_project">
                                    <div class="item-wrapper new_project">

                                        {% if not catalog_settings.card_text %}
                                            <div class="item-category">
                                                <span>Не нашли подходящий дом? Напишите нам и мы разработаем индивидуальный
                                                проект совершенно бесплатно.</span>
                                            </div>
                                        {% else %}
                                            <div>
                                                {{ catalog_settings.card_text|safe }}
                                            </div>
                                        {% endif %}


                                        <div class="item-link">
                                            <a href="#" class="button right">
                                                Отправить запрос
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </section>

    </section>
    <div class="hystmodal" id="individual_project" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Закрыть</button>
                <!-- Ваш HTML код модального окна -->
                {% if not catalog_settings.modal_text %}
                    <h5>Не нашли подходящий дом? Напишите нам и мы разработаем индивидуальный
                        проект совершенно бесплатно.</h5>
                {% else %}
                    {{ catalog_settings.modal_text|safe }}
                {% endif %}
                <div class="form">
                    <form method="post" id="form">
                        <div class="wrapper first-col">
                            <div class="input">
                                <input data-required="data-required" data-only-int data-maxLength="2" data-length
                                       type="text" name="floors"
                                       id="input-floors"
                                       class="text-input">
                                <label for="input-floors" class="input-label">Количество этажей*</label>
                            </div>
                            <div class="input">
                                <input data-required="data-required" data-only-int data-length type="text" name="area"
                                       id="input-area"
                                       class="text-input">
                                <label for="input-area" class="input-label">Площадь*</label>
                            </div>
                            <div class="input">
                                <input data-required="data-required" data-only-int data-length type="text" name="rooms"
                                       id="input-rooms"
                                       class="text-input">
                                <label for="input-rooms" class="input-label">Количество комнат*</label>
                            </div>
                            <div class="input">
                                <input data-required="data-required" data-only-int data-length type="text"
                                       name="bathrooms"
                                       id="input-bathrooms"
                                       class="text-input">
                                <label for="input-bathrooms" class="input-label">Количество санузлов*</label>
                            </div>
                            <div class="ars-checkbox-wrapper">
                                <input id="garage" type="checkbox">
                                <label class="ars-checkbox" for="garage">Нужен гараж</label>
                            </div>
                            <div class="ars-checkbox-wrapper">
                                <input id="credit-checkbox" type="checkbox">
                                <label class="ars-checkbox" for="credit-checkbox">Нужен кредит на покупку дома</label>
                            </div>

                            <div class="input choice">
                                <input data-only-int
                                       type="text" name="credit"
                                       id="input-credit"
                                       class="text-input">
                                <label for="input-credit" class="input-label">Необходимая сумма кредита
                                    (руб)*</label>
                            </div>
                            <div class="input textarea">
                        <textarea data-required wrap="soft" name="comment" id="input-comment"
                                  class="text-input"></textarea>
                                <label for="input-comment" class="input-label">Другие пожелания</label>
                            </div>
                        </div>
                        <div class="wrapper second-col">
                            <div>
                                <p>Куда Вам ответить?</p>
                            </div>
                            <div class="choices">
                                <div class="whatsapp  b-shadow active" data-key="whatsapp">
                                    <p>Whatsapp</p>
                                    <img src="{% static 'icons/forms/whatsapp.png' %}" alt="логотип whatsapp"/>
                                    <p>Очень быстро</p>
                                </div>
                                <div class="telegram" data-key="telegram">
                                    <p>Telegram</p>
                                    <img src="{% static 'icons/forms/telegram.png' %}" alt="логотип telegram"/>
                                    <p>Очень быстро</p>
                                </div>
                                <div class="phone" data-key="phone">
                                    <p>Мобильный</p>
                                    <img src="{% static 'icons/forms/phone.png' %}" alt="иконка телефона"/>
                                    <p>Быстро</p>
                                </div>
                                <div class="email" data-key="email">
                                    <p>E-mail</p>
                                    <img src="{% static 'icons/forms/mail.png' %}" alt="логотип mail"/>
                                    <p>Умеренно</p>
                                </div>
                            </div>
                            <div class="input">
                                <input data-required="data-required" data-length data-maxLength="254" type="text"
                                       name="name"
                                       id="input-name"
                                       class="text-input">
                                <label for="input-name" class="input-label">Ваше имя*</label>
                            </div>
                            <div class="input phone choice active" data-value="whatsapp">
                                <input data-required="data-required" data-only-int type="text" name="whatsapp"
                                       id="input-whatsapp"
                                       class="text-input">
                                <label for="input-whatsapp" class="input-label">Номер телефона*</label>
                            </div>
                            <div class="input choice" data-value="telegram">
                                <input data-length type="text" name="telegram" id="input-telegram"
                                       class="text-input">
                                <label for="input-telegram" class="input-label">@username*</label>
                            </div>
                            <div class="input phone choice" data-value="phone">
                                <input type="text" name="phone" id="input-phone" data-only-int class="text-input">
                                <label for="input-phone" class="input-label">Номер телефона*</label>
                            </div>
                            <div class="input choice" data-value="email">
                                <input type="text" name="email" id="input-email" class="text-input">
                                <label for="input-email" class="input-label">E-mail*</label>
                            </div>

                            <p class="agree">Нажимая кнопку, я даю согласие на обработку моих персональных данных в
                                соответствии
                                со
                                статьей 9 ФЗ от 27.07.2006 № 152-ФЗ «О персональных данных» и соглашаюсь с
                                <a href="{% url 'privacy' %}">политикой конфиденциальности</a></p>
                            <p id="error-server-message">Ошибка сервера! Пожалуйста, попробуйте позже.</p>
                            <div class="buttons">
                                <a href="#" class="button right"
                                   id="send-message">Отправить запрос
                                    <span class="img">
                                            <img class="spinner hide"
                                                 src="{% static 'icons/forms//spinner.svg' %}"
                                                 width="30px" alt="иконка загрузки"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div id="success-message">
                        <p>Спасибо! Ваше сообщение получено. Мы свяжемся с Вами в ближайшее время</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/products/catalog.min.js' %}"></script>
{% endblock scripts %}