{% extends 'superbase.html' %}
{% load static %}

<!--{% block seo_title %}{{ home_data.seo_title }}{% endblock seo_title %}-->
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->


{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <p class="breadcrumbs-custom__title">Каталог</p>
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li class="active">Каталог</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-md bg-default">
        <div class="container">
            <div class="row row-60 flex-lg-row-reverse">
                <div class="col-lg-9 section-divided__main section-divided__main-left">
                    <div class="section-sm">
                        <div class="filter-shop-box">
                            <p>Показано 12 результатов из 50</p>
                            <div class="form-wrap">
                                <!--Select 2-->
                                <select class="form-input select-filter" data-placeholder="Default sorting"
                                        data-minimum-results-for-search="Infinity">
                                    <option>Не выбрано</option>
                                    <option value="2">Сначала новые</option>
                                    <option value="3">Сначала дорогие</option>
                                    <option value="4">Сначала дешевые</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-sm-center row-70">
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- 2 row-->
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!-- 3 row-->
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="{% url 'products_detail' %}"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <section class="section-sm">
                        <!-- Classic Pagination-->
                        <nav>
                            <ul class="pagination-classic">
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                            </ul>
                        </nav>
                    </section>
                </div>
                <div class="col-lg-3 section-divided__aside section__aside-left">
                    <!-- Categories-->
                    <section class="section-sm">
                        <h5>Категории</h5>
                        <ul class="small list">
                            <li><a href="#">Дома серии CUBO VR</a></li>
                            <li><a href="#">Дома серии CUBO FR</a></li>
                        </ul>
                    </section>

                    <!-- Filter color-->
                    <section class="section-sm">
                        <h5>Фильтр</h5>
                        <ul class="small list">
                            <li><a href="#">Одноэтажные (3)</a></li>
                            <li><a href="#">Двухэтажные (5)</a></li>
                            <li><a href="#">Террасные модули (6)</a></li>
                        </ul>
                    </section>

                    <!-- Range-->
                    <section class="section-sm">
                        <h5>По стоимости</h5>
                        <!--RD Range-->
                        <div class="rd-range-wrap">
                            <div class="rd-range-inner"><span>Стоимость: </span><span class="rd-range-input-value-1"></span><span>—</span><span
                                    class="rd-range-input-value-2"></span></div>
                            <div class="rd-range" data-min="10" data-max="500" data-start="[75, 244]" data-step="1"
                                 data-tooltip="true" data-min-diff="10" data-input=".rd-range-input-value-1"
                                 data-input-2=".rd-range-input-value-2"></div>
                        </div>
                        <a class="button button-gray-light-outline" href="#">Показать</a>
                    </section>

                </div>
            </div>
        </div>
    </section>
{% endblock content %}