{% extends 'superbase.html' %}
{% load static %}

<!--{% block seo_title %}{{ home_data.seo_title }}{% endblock seo_title %}-->
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->


{% block content %}
<section class="breadcrumbs-custom">
    <div class="container">
        <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">CUBO VR 134 gray</p>
            <ul class="breadcrumbs-custom__path">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'products_catalog' %}">Каталог</a></li>
                <li class="active">CUBO VR 134 gray</li>
            </ul>
        </div>
    </div>
</section>
<section class="section-sm bg-default">
    <div class="container">
        <div class="row row-60">
            <div class="col-md-6 col-lg-6">
                <!-- Slick Carousel-->
                <div class="slick-slider carousel-parent" data-arrows="false" data-loop="false" data-dots="false"
                     data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel"
                     data-photo-swipe-gallery="gallery">
                    <div class="item">
                        <a class="img-thumbnail-variant-2"
                           href="{% static 'images/single_page/full/CUBO-VR-85-white-2.jpg' %} "
                           data-photo-swipe-item="" data-size="3000x2000">
                            <figure>
                                <img
                                        src="{% static 'images/single_page/300x200/CUBO-VR-85-white-2.jpg' %}"
                                        alt="" width="600" height="400"/>
                            </figure>
                            <div class="caption">
                                    <span class="icon icon-lg linear-icon-magnifier">

                                    </span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="img-thumbnail-variant-2"
                           href="{% static 'images/single_page/full/1-modul-fas-1.jpg' %} "
                           data-photo-swipe-item="" data-size="3000x2000">
                            <figure>
                                <img
                                        src="{% static 'images/single_page/300x200/1-modul-fas-1.jpg' %}"
                                        alt="" width="600" height="400"/>
                            </figure>
                            <div class="caption">
                                    <span class="icon icon-lg linear-icon-magnifier">

                                    </span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="img-thumbnail-variant-2"
                           href="{% static 'images/single_page/full/1-modul-fas-2.jpg' %} "
                           data-photo-swipe-item="" data-size="3000x2000">
                            <figure>
                                <img
                                        src="{% static 'images/single_page/300x200/1-modul-fas-2.jpg' %}"
                                        alt="" width="600" height="400"/>
                            </figure>
                            <div class="caption">
                                    <span class="icon icon-lg linear-icon-magnifier">

                                    </span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="img-thumbnail-variant-2"
                           href="{% static 'images/single_page/full/1-modul-fas-3.jpg' %} "
                           data-photo-swipe-item="" data-size="3000x2000">
                            <figure>
                                <img
                                        src="{% static 'images/single_page/300x200/1-modul-fas-3.jpg' %}"
                                        alt="" width="600" height="400"/>
                            </figure>
                            <div class="caption">
                                    <span class="icon icon-lg linear-icon-magnifier">

                                    </span>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a class="img-thumbnail-variant-2"
                           href="{% static 'images/single_page/full/1-modul-fas-4.jpg' %} "
                           data-photo-swipe-item="" data-size="3000x2000">
                            <figure>
                                <img
                                        src="{% static 'images/single_page/300x200/1-modul-fas-4.jpg' %}"
                                        alt="" width="600" height="400"/>
                            </figure>
                            <div class="caption">
                                    <span class="icon icon-lg linear-icon-magnifier">

                                    </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="slick-slider" id="child-carousel" data-for=".carousel-parent" data-arrows="false"
                     data-loop="false" data-dots="false" data-swipe="true" data-items="3" data-xs-items="4"
                     data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="5"
                     data-slide-to-scroll="1">
                    <div class="item"><img
                            src="{% static 'images/single_page/thumbs/CUBO-VR-85-white-2.jpg' %}"
                            alt="" width="90" height="60"/>
                    </div>
                    <div class="item"><img
                            src="{% static 'images/single_page/thumbs/1-modul-fas-1.jpg' %}"
                            alt="" width="90" height="60"/></div>
                    <div class="item"><img
                            src="{% static 'images/single_page/thumbs/1-modul-fas-2.jpg' %}"
                            alt="" width="90" height="60"/></div>
                    <div class="item"><img
                            src="{% static 'images/single_page/thumbs/1-modul-fas-3.jpg' %}"
                            alt="" width="90" height="60"/>
                    </div>
                    <div class="item"><img
                            src="{% static 'images/single_page/thumbs/1-modul-fas-4.jpg' %}"
                            alt="" width="90" height="60"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="product-single">
                    <h4>CUBO VR 134 GRAY</h4>
                    <!--                        <p class="product-price"><span>500000</span></p>-->
                    <p>Комплектация:</p>
                    <h6 class="product-text">"Поставка с завода" - 950 000 руб</h6>
                    <h6 class="product-text">"Дом под отделку" - 1 340 000 руб</h6>
                    <h6 class="product-text">"Дом под ключ" - 2 150 000 руб</h6>
                    <!--                    <p class="product-text"></p>-->
                    <button class="button button-primary" id="show-price-info-modal">Конфигуратор стоимости
                    </button>

                    <p class="product-text">
                        <button class="button button-primary" id="show-request-info-modal">
                            Получить консультацию
                        </button>
                    </p>

                    <!--                    <div class="group group-middle">-->
                    <!--                        <button class="button button-primary button-icon button-icon-left"-->
                    <!--                                type="submit"><span-->
                    <!--                                class="icon icon-md linear-icon-cart"></span><span>Заказать</span>-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <!--                        <div class="form-wrap product-select">-->
                    <!--Select 2-->
                </div>

                <!--                        <ul class="product-meta">-->
                <!--                            <li>-->
                <!--                                <dl class="list-terms-minimal">-->
                <!--                                    <dt>SKU</dt>-->
                <!--                                    <dd>256</dd>-->
                <!--                                </dl>-->
                <!--                            </li>-->
                <!--                            <li>-->
                <!--                                <dl class="list-terms-minimal">-->
                <!--                                    <dt>Category</dt>-->
                <!--                                    <dd>-->
                <!--                                        <ul class="product-categories">-->
                <!--                                            <li><a href="{% url 'products_catalog' %}">Living Room</a></li>-->
                <!--                                            <li><a href="{% url 'products_catalog' %}">Dining room</a></li>-->
                <!--                                            <li><a href="{% url 'products_catalog' %}">Bedroom</a></li>-->
                <!--                                            <li><a href="{% url 'products_catalog' %}">Office</a></li>-->
                <!--                                        </ul>-->
                <!--                                    </dd>-->
                <!--                                </dl>-->
                <!--                            </li>-->
                <!--                        </ul>-->
            </div>
        </div>
        <div class="row row-60">
            <div class="col-sm-12">
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal" id="tabs-1">
                    <!-- Nav tabs-->
                    <ul class="nav-custom nav-custom-tabs nav-custom__align-left nav nav-tabs">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#tabs-1-1" data-toggle="tab">
                                Размеры дома
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#tabs-1-2" data-toggle="tab">
                                Включено в стоимость
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#tabs-1-3" data-toggle="tab">
                                Не включено в стоимость
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#tabs-1-4" data-toggle="tab">
                                Опции и дополнения
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content text-left">
                    <div class="tab-pane fade show active" id="tabs-1-1">
                        <h5>Описание дома</h5>
                        <p>Здесь описание</p>
                        <ul class="list-marked">
                            <li>Уникальный дизайн</li>
                            <li>Высокие потолки</li>
                            <li>Огромные стекла</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-2">
                        <h5>Параметры</h5>
                        <div id="accordion" role="tablist">
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="1Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#1" href="#1Collapseundefined"
                                                                      aria-controls="1Collapseundefined">1. Общие
                                        положения</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="1Collapseundefined" role="tabpanel"
                                     aria-labelledby="1Headingundefined">
                                    <div class="panel-custom-body">
                                        <p>Настоящая политика обработки персональных данных составлена в соответствии с
                                            требованиями
                                            Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и
                                            определяет порядок
                                            обработки персональных данных и меры по обеспечению безопасности
                                            персональных данных,
                                            предпринимаемые Cubo (далее – Оператор).
                                        </p>
                                        <div class="ol">
                                            1.1. Оператор ставит своей важнейшей целью и условием осуществления своей
                                            деятельности
                                            соблюдение прав и свобод человека и гражданина при обработке его
                                            персональных данных, в
                                            том числе защиты прав на неприкосновенность частной жизни, личную и семейную
                                            тайну.
                                        </div>
                                        <div class="ol">
                                            1.2. Настоящая политика Оператора в отношении обработки персональных данных
                                            (далее –
                                            Политика) применяется ко всей информации, которую Оператор может получить о
                                            посетителях
                                            веб-сайта http://cubo.com.
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="2Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#2" href="#2Collapseundefined"
                                                                      aria-controls="2Collapseundefined">2. Основные
                                        понятия,
                                        используемые в Политике</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="2Collapseundefined" role="tabpanel"
                                     aria-labelledby="1Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">2.1. Автоматизированная обработка персональных данных –
                                            обработка
                                            персональных данных с помощью средств вычислительной техники;
                                        </div>
                                        <div class="ol">2.2. Блокирование персональных данных – временное прекращение
                                            обработки
                                            персональных данных (за исключением случаев, если обработка необходима для
                                            уточнения
                                            персональных данных);
                                        </div>
                                        <div class="ol">2.3. Веб-сайт – совокупность графических и информационных
                                            материалов, а
                                            также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети
                                            интернет по
                                            сетевому адресу http://cubo.com;
                                        </div>
                                        <div class="ol">2.4. Информационная система персональных данных — совокупность
                                            содержащихся
                                            в базах данных персональных данных, и обеспечивающих их обработку
                                            информационных
                                            технологий и технических средств;
                                        </div>
                                        <div class="ol">2.5. Обезличивание персональных данных — действия, в результате
                                            которых
                                            невозможно определить без использования дополнительной информации
                                            принадлежность
                                            персональных данных конкретному Пользователю или иному субъекту персональных
                                            данных;
                                        </div>
                                        <div class="ol">2.6. Обработка персональных данных – любое действие (операция)
                                            или
                                            совокупность действий (операций), совершаемых с использованием средств
                                            автоматизации или
                                            без использования таких средств с персональными данными, включая сбор,
                                            запись,
                                            систематизацию, накопление, хранение, уточнение (обновление, изменение),
                                            извлечение,
                                            использование, передачу (распространение, предоставление, доступ),
                                            обезличивание,
                                            блокирование, удаление, уничтожение персональных данных;
                                        </div>
                                        <div class="ol">2.7. Оператор – государственный орган, муниципальный орган,
                                            юридическое или
                                            физическое лицо, самостоятельно или совместно с другими лицами организующие
                                            и (или)
                                            осуществляющие обработку персональных данных, а также определяющие цели
                                            обработки
                                            персональных данных, состав персональных данных, подлежащих обработке,
                                            действия
                                            (операции), совершаемые с персональными данными;
                                        </div>
                                        <div class="ol">2.8. Персональные данные – любая информация, относящаяся прямо
                                            или косвенно
                                            к определенному или определяемому Пользователю веб-сайта http://cubo.com;
                                        </div>
                                        <div class="ol">2.9. Пользователь – любой посетитель веб-сайта
                                            http://cubo.com;
                                        </div>
                                        <div class="ol">2.10. Предоставление персональных данных – действия,
                                            направленные на
                                            раскрытие персональных данных определенному лицу или определенному кругу
                                            лиц;
                                        </div>
                                        <div class="ol">2.11. Распространение персональных данных – любые действия,
                                            направленные на
                                            раскрытие персональных данных неопределенному кругу лиц (передача
                                            персональных данных)
                                            или на ознакомление с персональными данными неограниченного круга лиц, в том
                                            числе
                                            обнародование персональных данных в средствах массовой информации,
                                            размещение в
                                            информационно-телекоммуникационных сетях или предоставление доступа к
                                            персональным
                                            данным каким-либо иным способом;
                                        </div>
                                        <div class="ol">2.12. Трансграничная передача персональных данных – передача
                                            персональных
                                            данных на территорию иностранного государства органу власти иностранного
                                            государства,
                                            иностранному физическому или иностранному юридическому лицу;
                                        </div>
                                        <div class="ol">2.13. Уничтожение персональных данных – любые действия, в
                                            результате которых
                                            персональные данные уничтожаются безвозвратно с невозможностью дальнейшего
                                            восстановления содержания персональных данных в информационной системе
                                            персональных
                                            данных и (или) уничтожаются материальные носители персональных данных.
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="3Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#3" href="#3Collapseundefined"
                                                                      aria-controls="3Collapseundefined">3. Оператор
                                        может
                                        обрабатывать следующие персональные данные Пользователя</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="3Collapseundefined" role="tabpanel"
                                     aria-labelledby="3Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">3.1. Фамилия, имя, отчество;</div>
                                        <div class="ol">3.2. Электронный адрес;</div>
                                        <div class="ol">3.3. Номера телефонов;</div>
                                        <div class="ol">3.4. Также на сайте происходит сбор и обработка обезличенных
                                            данных о
                                            посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики
                                            (Яндекс
                                            Метрика и Гугл Аналитика и других).
                                        </div>
                                        <div class="ol">3.5. Вышеперечисленные данные далее по тексту Политики
                                            объединены общим
                                            понятием Персональные данные.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="4Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#4" href="#4Collapseundefined"
                                                                      aria-controls="4Collapseundefined">4. Цели
                                        обработки
                                        персональных данных</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="4Collapseundefined" role="tabpanel"
                                     aria-labelledby="4Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">4.1. Цель обработки персональных данных Пользователя — уточнение
                                            деталей
                                            заказа.
                                        </div>
                                        <div class="ol">4.2. Также Оператор имеет право направлять Пользователю
                                            уведомления о новых
                                            продуктах и услугах, специальных предложениях и различных событиях.
                                            Пользователь всегда
                                            может отказаться от получения информационных сообщений, направив Оператору
                                            письмо на
                                            адрес электронной почты cubo@gmail.com с пометкой «Отказ от уведомлений о
                                            новых
                                            продуктах и услугах и специальных предложениях».
                                        </div>
                                        <div class="ol">4.3. Обезличенные данные Пользователей, собираемые с помощью
                                            сервисов
                                            интернет-статистики, служат для сбора информации о действиях Пользователей
                                            на сайте,
                                            улучшения качества сайта и его содержания.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="5Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#5" href="#5Collapseundefined"
                                                                      aria-controls="5Collapseundefined">5. Правовые
                                        основания
                                        обработки персональных данных</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="5Collapseundefined" role="tabpanel"
                                     aria-labelledby="5Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">5.1. Оператор обрабатывает персональные данные Пользователя
                                            только в случае
                                            их заполнения и/или отправки Пользователем самостоятельно через специальные
                                            формы,
                                            расположенные на сайте http://cubo.com. Заполняя соответствующие формы и/или
                                            отправляя
                                            свои персональные данные Оператору, Пользователь выражает свое согласие с
                                            данной
                                            Политикой.
                                        </div>
                                        <div class="ol">5.2. Оператор обрабатывает обезличенные данные о Пользователе в
                                            случае, если
                                            это разрешено в настройках браузера Пользователя (включено сохранение файлов
                                            «cookie» и
                                            использование технологии JavaScript).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="6Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#6" href="#6Collapseundefined"
                                                                      aria-controls="6Collapseundefined">6. Порядок
                                        сбора, хранения,
                                        передачи и других видов обработки персональных данных</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="6Collapseundefined" role="tabpanel"
                                     aria-labelledby="6Headingundefined">
                                    <div class="panel-custom-body">
                                        <p>Безопасность персональных данных, которые обрабатываются Оператором,
                                            обеспечивается путем
                                            реализации правовых, организационных и технических мер, необходимых для
                                            выполнения в
                                            полном объеме требований действующего законодательства в области защиты
                                            персональных
                                            данных.</p>
                                        <div class="ol">6.1. Оператор обеспечивает сохранность персональных данных и
                                            принимает все
                                            возможные меры, исключающие доступ к персональным данным неуполномоченных
                                            лиц.
                                        </div>
                                        <div class="ol">6.2. Персональные данные Пользователя никогда, ни при каких
                                            условиях не
                                            будут переданы третьим лицам, за исключением случаев, связанных с
                                            исполнением
                                            действующего законодательства.
                                        </div>
                                        <div class="ol">6.3. В случае выявления неточностей в персональных данных,
                                            Пользователь
                                            может актуализировать их самостоятельно, путем направления Оператору
                                            уведомление на
                                            адрес электронной почты Оператора cubo@gmail.com с пометкой «Актуализация
                                            персональных
                                            данных».
                                        </div>
                                        <div class="ol">6.4. Срок обработки персональных данных является неограниченным.
                                            Пользователь может в любой момент отозвать свое согласие на обработку
                                            персональных
                                            данных, направив Оператору уведомление посредством электронной почты на
                                            электронный
                                            адрес Оператора cubo@gmail.com с пометкой «Отзыв согласия на обработку
                                            персональных
                                            данных».
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="7Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#7" href="#7Collapseundefined"
                                                                      aria-controls="7Collapseundefined">7.
                                        Трансграничная передача
                                        персональных данных</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="7Collapseundefined" role="tabpanel"
                                     aria-labelledby="6Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">7.1. Оператор до начала осуществления трансграничной передачи
                                            персональных
                                            данных обязан убедиться в том, что иностранным государством, на территорию
                                            которого
                                            предполагается осуществлять передачу персональных данных, обеспечивается
                                            надежная защита
                                            прав субъектов персональных данных.
                                        </div>
                                        <div class="ol">7.2. Трансграничная передача персональных данных на территории
                                            иностранных
                                            государств, не отвечающих вышеуказанным требованиям, может осуществляться
                                            только в
                                            случае наличия согласия в письменной форме субъекта персональных данных на
                                            трансграничную передачу его персональных данных и/или исполнения договора,
                                            стороной
                                            которого является субъект персональных данных.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="8Headingundefined" role="tab">
                                    <h6 class="panel-custom-title"><a class="collapsed" role="button"
                                                                      data-toggle="collapse"
                                                                      data-parent="#8" href="#8Collapseundefined"
                                                                      aria-controls="8Collapseundefined">8.
                                        Заключительные
                                        положения</a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="8Collapseundefined" role="tabpanel"
                                     aria-labelledby="6Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">8.1. Пользователь может получить любые разъяснения по
                                            интересующим вопросам,
                                            касающимся обработки его персональных данных, обратившись к Оператору с
                                            помощью
                                            электронной почты cubo@gmail.com.
                                        </div>
                                        <div class="ol">8.2. В данном документе будут отражены любые изменения политики
                                            обработки
                                            персональных данных Оператором. Политика действует бессрочно до замены ее
                                            новой версией.
                                        </div>
                                        <div class="ol">8.3. Актуальная версия Политики в свободном доступе расположена
                                            в сети
                                            Интернет по адресу http://cubo.com/privacy/.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-3">
                        <h5>Параметры</h5>
                        <table class="table-product-info">
                            <tbody>
                            <tr>
                                <td>Площадь</td>
                                <td>555531м2</td>
                            </tr>
                            <tr>
                                <td>материал</td>
                                <td>пластик</td>
                            </tr>
                            <tr>
                                <td>Количество панелей</td>
                                <td>79</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-4">
                        <h5>Параметры</h5>
                        <table class="table-product-info">
                            <tbody>
                            <tr>
                                <td>Площадь</td>
                                <td>555531м2</td>
                            </tr>
                            <tr>
                                <td>материал</td>
                                <td>пластик</td>
                            </tr>
                            <tr>
                                <td>Количество панелей</td>
                                <td>79</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Divider-->
<div class="container">
    <div class="divider"></div>
</div>

<section class="section-sm bg-default">
    <div class="container text-center">
        <h5>Похожие дома</h5>
        <!-- Owl Carousel-->
        <div class="owl-carousel carousel-product" data-items="1" data-md-items="2" data-lg-items="3"
             data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false"
             data-nav="true">
            <div class="item">
                <div class="product product-grid">
                    <div class="product-img-wrap"><img
                            src="{% static 'images/350/CUBO_1_350.png' %}"
                            alt="" width="300" height="300"/>
                    </div>
                    <div class="product-caption">
                        <ul class="product-categories">
                            <li><a href="{% url 'products_catalog' %}">CUBO VR</a></li>
                            <li><a href="{% url 'products_catalog' %}">Одноэтажные</a></li>
                        </ul>
                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                        <!--                                        <p class="product-price"><span>40</span>-->
                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                               href="{% url 'products_detail' %}"><span
                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product product-grid">
                    <div class="product-img-wrap"><img
                            src="{% static 'images/350/CUBO_1_350.png' %}"
                            alt="" width="300" height="300"/>
                    </div>
                    <div class="product-caption">
                        <ul class="product-categories">
                            <li><a href="{% url 'products_catalog' %}">CUBO VR</a></li>
                            <li><a href="{% url 'products_catalog' %}">Одноэтажные</a></li>
                        </ul>
                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                        <!--                                        <p class="product-price"><span>40</span>-->
                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                               href="{% url 'products_detail' %}"><span
                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product product-grid">
                    <div class="product-img-wrap"><img
                            src="{% static 'images/350/CUBO_1_350.png' %}"
                            alt="" width="300" height="300"/>
                    </div>
                    <div class="product-caption">
                        <ul class="product-categories">
                            <li><a href="{% url 'products_catalog' %}">CUBO VR</a></li>
                            <li><a href="{% url 'products_catalog' %}">Одноэтажные</a></li>
                        </ul>
                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                        <!--                                        <p class="product-price"><span>40</span>-->
                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                               href="{% url 'products_detail' %}"><span
                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product product-grid">
                    <div class="product-img-wrap"><img
                            src="{% static 'images/350/CUBO_1_350.png' %}"
                            alt="" width="300" height="300"/>
                    </div>
                    <div class="product-caption">
                        <ul class="product-categories">
                            <li><a href="{% url 'products_catalog' %}">CUBO VR</a></li>
                            <li><a href="{% url 'products_catalog' %}">Одноэтажные</a></li>
                        </ul>
                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                        <!--                                        <p class="product-price"><span>40</span>-->
                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                               href="{% url 'products_detail' %}"><span
                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="product product-grid">
                    <div class="product-img-wrap"><img
                            src="{% static 'images/350/CUBO_1_350.png' %}"
                            alt="" width="300" height="300"/>
                    </div>
                    <div class="product-caption">
                        <ul class="product-categories">
                            <li><a href="{% url 'products_catalog' %}">CUBO VR</a></li>
                            <li><a href="{% url 'products_catalog' %}">Одноэтажные</a></li>
                        </ul>
                        <h6 class="product-title"><a href="{% url 'products_detail' %}">CUBO VR 85</a></h6>
                        <!--                                        <p class="product-price"><span>40</span>-->
                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                               href="{% url 'products_detail' %}"><span
                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PhotoSwipe Gallery-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__cent"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal text-left" id="modal-request-info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" id="close-info" type="button" data-dismiss="modal">
                  <span class="icon icon-md linear-icon-cross">

                  </span>
                </button>
                <h6 class="modal-title">Заявка на консультацию по дому </h6>
            </div>
            <div class="modal-body">
                <div class="group-xl">
                    <h5>CUBO FLAT 5421</h5>
                </div>
                <hr>
                <div class="register-form modal-request">
                    <p>Оставьте свои данные и мы перезвоним Вам в течение рабочего дня!</p>
                    <!-- Login form-->
                    <form>
                        <div class="rd-mailform-inline-flex">
                            <div class="form-wrap">
                                <label class="form-label" for="name-2">Имя</label>
                                <input class="form-input" id="name-2" type="text" name="name">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="email">Телефон</label>
                            <input class="form-input" id="email" name="email">
                        </div>
                        <button class="button button-primary">Оставить заявку</button>
                    </form>
                    <hr>
                    <p>Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии со статьей 9
                        ФЗ
                        от 27.07.2006 № 152-ФЗ «О персональных данных»</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal text-left" id="modal-price-info" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" id="close-price-info" type="button" data-dismiss="modal">
                  <span class="icon icon-md linear-icon-cross">

                  </span>
                </button>
                <h6 class="modal-title">Онлайн калькулятор дома</h6>
            </div>
            <div class="modal-body">
                <div class="group-xl">
                    <h5>CUBO FLAT 5421</h5>
                </div>
                <hr>
                <div class="register-form modal-request">
                    <p>Стоимость дома «под ключ»: 2 150 000 руб</p>
                    <p>Узнайте, что входит в цену дома на <a href="#">странице описания комплектации «под ключ»</a></p>
                    <h6 class="modal-subtitle">Регион доставки</h6>
                    <select>
                        <option value="id">Москва</option>
                        <option value="-id">Нальчик</option>
                        <option value="4">Тверь</option>
                        <option value="4">Санкт-Петербург</option>
                    </select>
                    <p>Стоимость доставки и организации проживания бригады на участке: 95000 руб.</p>

                    <hr>
                    <form>
                        <div class="form-wrap checkbox">

                            <input id="opt1" type="checkbox"
                                   name="pokraska-pobeka"
                                   class="type_for_hd">
                            <label for="opt1">
                                Свайно-винтовой фундамент (+ 125 000₽)
                            </label>
                        </div>
                        <div class="form-wrap checkbox">

                            <input id="opt2" type="checkbox"
                                   name="pokraska"
                                   class="type_for_hd">
                            <label for="opt2">
                                Индивидуальная планировка (+ 10 000₽)
                            </label>
                        </div>
                        <div class="form-wrap checkbox">

                            <input id="opt3" type="checkbox"
                                   name="pokraska"
                                   class="type_for_hd">
                            <label for="opt3">
                                Индивидуальная планировка (+ 10 000₽)
                            </label>
                        </div>


                    </form>
                    <hr>
                    <h6 class="modal-subtitle">Итоговая стоимость дома: 1815000 руб.</h6>

                    <button class="button button-primary" id="price-next">ПОЛУЧИТЬ РАСЧЕТ НА E-MAIL</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal text-left" id="modal-price-data" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" id="close-price-data" type="button" data-dismiss="modal">
                  <span class="icon icon-md linear-icon-cross">

                  </span>
                </button>
                <h6 class="modal-title">Онлайн калькулятор дома</h6>
            </div>
            <div class="modal-body">
                <div class="group-xl">
                    <h5>CUBO FLAT 5421</h5>
                </div>
                <hr>
                <div class="register-form modal-request">
                    <!-- Login form-->
                    <form>
                        <div class="form-wrap">
                            <label class="form-label" for="name">Имя</label>
                            <input class="form-input" id="name" type="text" name="name">
                        </div>

                        <div class="form-wrap">
                            <label class="form-label" for="email-2">E-mail</label>
                            <input class="form-input" id="email-2" name="email">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="phone">Телефон</label>
                            <input class="form-input" id="phone" name="email">
                        </div>
                        <button class="button button-primary">ПОЛУЧИТЬ РАСЧЕТ</button>

                    </form>
                    <p>Нажимая кнопку "ПОЛУЧИТЬ РАСЧЕТ", я даю согласие на обработку моих персональных данных в
                        соответствии со статьей 9
                        ФЗ
                        от 27.07.2006 № 152-ФЗ «О персональных данных»</p>
                    <hr>
                    <button class="button" id="price-back">Назад</button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/product_detail.js' %}"></script>
{% endblock scripts %}