{% extends 'superbase.html' %}
{% load static %}

<!--{% block seo_title %}{{ home_data.seo_title }}{% endblock seo_title %}-->
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/swiper-bundle.min.css' %}">
{% endblock styles %}

{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <p class="breadcrumbs-custom__title">CUBO FLAT F48</p>
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'products_catalog' %}">Каталог</a></li>
                    <li class="active">CUBO FLAT F48</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container content">
        <div class="content-wrapper">
            <section class="content-slider b-shadow">
                <div class="swiper-container-detail">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/4_3000x2000.jpg' %}"
                                    data-srcset="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %} 400w,
                                                 {% static 'images/CUBO_FLAT_71/4_600x400.jpg' %} 600w,
                                                 {% static 'images/CUBO_FLAT_71/4_1000x667.jpg' %} 1000w,
                                                 {% static 'images/CUBO_FLAT_71/4_1920x1280.jpg' %} 1920w,
                                                 {% static 'images/CUBO_FLAT_71/4_3000x2000.jpg' %} 3000w,"
                                    data-sizes="(max-width: 420px) 400px,
                                                (max-width: 620px) 600px,
                                                (max-width: 1100px) 1000px,
                                                (max-width: 2000px) 1920px,
                                                3000px"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/3_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/3_3000x2000.jpg' %}"
                                    data-srcset="{% static 'images/CUBO_FLAT_71/3_400x267.jpg' %} 400w,
                                                 {% static 'images/CUBO_FLAT_71/3_600x400.jpg' %} 600w,
                                                 {% static 'images/CUBO_FLAT_71/3_1000x667.jpg' %} 1000w,
                                                 {% static 'images/CUBO_FLAT_71/3_1920x1280.jpg' %} 1920w,
                                                 {% static 'images/CUBO_FLAT_71/3_3000x2000.jpg' %} 3000w,"
                                    data-sizes="(max-width: 420px) 400px,
                                                (max-width: 620px) 600px,
                                                (max-width: 1100px) 1000px,
                                                (max-width: 2000px) 1920px,
                                                3000px"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/5_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/5_3000x2000.jpg' %}"
                                    data-srcset="{% static 'images/CUBO_FLAT_71/5_400x267.jpg' %} 400w,
                                                 {% static 'images/CUBO_FLAT_71/5_600x400.jpg' %} 600w,
                                                 {% static 'images/CUBO_FLAT_71/5_1000x667.jpg' %} 1000w,
                                                 {% static 'images/CUBO_FLAT_71/5_1920x1280.jpg' %} 1920w,
                                                 {% static 'images/CUBO_FLAT_71/5_3000x2000.jpg' %} 3000w,"
                                    data-sizes="(max-width: 420px) 400px,
                                                (max-width: 620px) 600px,
                                                (max-width: 1100px) 1000px,
                                                (max-width: 2000px) 1920px,
                                                3000px"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/6_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/6_3000x2000.jpg' %}"
                                    data-srcset="{% static 'images/CUBO_FLAT_71/6_400x267.jpg' %} 400w,
                                                 {% static 'images/CUBO_FLAT_71/6_600x400.jpg' %} 600w,
                                                 {% static 'images/CUBO_FLAT_71/6_1000x667.jpg' %} 1000w,
                                                 {% static 'images/CUBO_FLAT_71/6_1920x1280.jpg' %} 1920w,
                                                 {% static 'images/CUBO_FLAT_71/6_3000x2000.jpg' %} 3000w,"
                                    data-sizes="(max-width: 420px) 400px,
                                                (max-width: 620px) 600px,
                                                (max-width: 1100px) 1000px,
                                                (max-width: 2000px) 1920px,
                                                3000px"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/6_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/CUBO Flat 71 grey 1.png' %}"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img
                                    alt="Вид сбоку"
                                    class="lazy"
                                    src="{% static 'images/CUBO_FLAT_71/6_th.jpg' %}"
                                    data-src="{% static 'images/CUBO_FLAT_71/CUBO Flat 71 grey 2.png' %}"
                            />
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </section>
            <section class="content-info white b-shadow">
                <ul>
                    <li>
                        <h6>
                            Комплектация "Поставка с завода"
                            <span class="fas fa-info-circle" data-title="Домокомплект из упакованных панелей с крепежом
                                                                      для монтажа, но без окон и дверей. Без доставки.">

                            </span>
                        </h6>
                        <span>1 439 000  руб.</span>
                    </li>
                    <li>
                        <h6>
                            Комплектация "Под отделку"
                            <span class="fas fa-info-circle" data-title="Дом с окнами, входной дверью и перегородками,
                                                                         смонтированный на участке. Без доставки.">

                            </span>
                        </h6>
                        <span>1 599 000  руб.</span>
                    </li>
                    <li>
                        <h6>Комплектация "Под ключ"
                            <span class="fas fa-info-circle" data-title="Полностью готовый дом, включая внутреннюю и
                                                                         наружную отделку.">

                            </span>
                        </h6>
                        <span>2 152 000 руб.</span>
                    </li>
                </ul>
                <div class="min-info">
                    <div class="min-info-item">Площадь: <span>48</span> м2</div>
                    <div class="min-info-item">Количество комнат: <span>3</span></div>
                    <div class="min-info-item">Количество санузлов: <span>1</span></div>
                </div>
                <div class="buttons">
                    <a href="#" class="btn-a diagonal black"><span>Получить консультацию</span></a>
                    <a href="#" class="btn-a diagonal"><span>Конфигуратор стоимости</span></a>

                </div>
            </section>
            {#            <section class="content-tabs">#}
            {#                <div class="menu-wrapper">#}
            {#                    <nav class="tabs-nav">#}
            {#                        <ul>#}
            {#                            <li class="nav-item active" data-for="tab-1">#}
            {#                                <span>Размеры дома</span>#}
            {#                            </li>#}
            {#                            <li class="nav-item" data-for="tab-2">Включено в стоимость</li>#}
            {#                            <li class="nav-item" data-for="tab-3">Не включено в стоимость</li>#}
            {#                            <li class="nav-item" data-for="tab-4">Опции и дополнения</li>#}
            {#                        </ul>#}
            {#                    </nav>#}
            {#                </div>#}
            {##}
            {#                            <div class="tabs-body">#}
            {#                                <div id="tab-1" class="body-item active">Размеры дома</div>#}
            {#                                <div id="tab-2" class="body-item">Включено в стоимость</div>#}
            {#                                <div id="tab-3" class="body-item">Не включено в стоимость</div>#}
            {#                                <div id="tab-4" class="body-item">Опции и дополнения</div>#}
            {#                </div>#}
            {#            </section>#}
        </div>
    </div>
    <section class="home-info white b-shadow">

        <div class="tabs-controls">
            <div class="tabs-controls-wrapper">
                <div class="container">
                    <div class="tabs-slider">

                        <div class="tabs-controls-item active" data-for="tab-1">
                            <div>
                                <span>Размеры дома</span>
                            </div>
                        </div>
                        <div class="tabs-controls-item " data-for="tab-2">
                            <div>
                                <span>Включено в стоимость комплектации "Под ключ"</span>
                            </div>
                        </div>
                        <div class="tabs-controls-item" data-for="tab-3">
                            <div>
                                <span>Не включено в стоимость</span>
                            </div>
                        </div>
                        <div class="tabs-controls-item" data-for="tab-4">
                            <div>
                                <span>Опции и дополнения</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="tabs-content">
            <div class="tabs-content">
                <div class="container">
                    <div id="tab-1" class="body-item active">
                        <div class="in-cost">
                            <div class="min-info-item">Полезная площадь: <span>48</span> м2</div>
                            <div class="min-info-item">Площадь застройки: <span>32</span> м2</div>
                            <div class="min-info-item">Внешние габаритные размеры (ВхШхД):
                                <span>4.90</span>
                                <span class="xx"><span class="x">x</span></span>

                                <span>6.60</span>
                                <span class="xx"><span class="x">x</span></span>
                                <span>5.00</span>
                                м
                            </div>
                            <div class="min-info-item">Высота потолков: общая <span>2.50-4.62</span> м</div>
                        </div>
                    </div>
                    <div id="tab-2" class="body-item">
                        <div id="accordion" role="tablist">
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="1Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#1" href="#1Collapseundefined"
                                           aria-controls="1Collapseundefined">
                                            Дом сборно-разборный:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="1Collapseundefined" role="tabpanel"
                                     aria-labelledby="1Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">
                                            • каркас панелей из профилированного клеенного бруса хвойных пород, панели
                                            обшиты ОСП 12 мм,
                                        </div>
                                        <div class="ol">
                                            • утепление: 150 мм (материал – базальтовые плиты),
                                        </div>
                                        <div class="ol">
                                            • крыльцо (терраса, лестница, козырек) 1,5х1,2 м
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="2Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#2" href="#2Collapseundefined"
                                           aria-controls="2Collapseundefined">
                                            Отделка:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="2Collapseundefined" role="tabpanel"
                                     aria-labelledby="1Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">• наружная отделка: кровля - фальцевая, цвет RAL 7024, стены –
                                            декоративная штукатурка, цвет на выбор, торцевая стена декоративная
                                            штукатурка, дерево,
                                        </div>
                                        <div class="ol">• внутренняя отделка: потолок и стены - покраска, цвет на выбор,
                                            полы – ламинат Дуб Долтон 34 класс,
                                        </div>
                                        <div class="ol">• межкомнатные двери белого цвета,
                                        </div>
                                        <div class="ol">• ванная комната: мозаика и массив дерева.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="3Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#3" href="#3Collapseundefined"
                                           aria-controls="3Collapseundefined">
                                            Остекление:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="3Collapseundefined" role="tabpanel"
                                     aria-labelledby="3Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">• окна (деревянные рамы, двухкамерные стеклопакеты толщиной 38
                                            мм),
                                        </div>
                                        <div class="ol">• входные двери (деревянные рамы, двухкамерные стеклопакеты
                                            толщиной 38 мм),
                                        </div>
                                        <div class="ol">• панорамное остекление (двухкамерные стеклопакеты толщиной 38
                                            мм),
                                        </div>
                                        <div class="ol">• остекление площадью: 27,5 м2 (2-х камерный стеклопакет
                                            толщиной 38 мм).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="4Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#4" href="#4Collapseundefined"
                                           aria-controls="4Collapseundefined">
                                            Коммуникации:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="4Collapseundefined" role="tabpanel"
                                     aria-labelledby="4Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">• разводка водопровода и канализации,
                                        </div>
                                        <div class="ol">• разводка электрики в лотках под домом, силовой электрощит,
                                        </div>
                                        <div class="ol">• наружное и внутреннее освещение,
                                        </div>
                                        <div class="ol">• вентиляция - вентиляционные клапаны,</div>
                                        <div class="ol">• отопление - электрические конвекторы Ballu Enzo.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="5Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#5" href="#5Collapseundefined"
                                           aria-controls="5Collapseundefined">
                                            Оборудование и сантехника:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="5Collapseundefined" role="tabpanel"
                                     aria-labelledby="5Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">• тёплые полы в ванной комнате,
                                        </div>
                                        <div class="ol">• ванная комната: умывальник, ванна, смесители, унитаз,
                                        </div>
                                        <div class="ol">• бойлер на 100 литров,</div>
                                        <div class="ol">• снегозадержатели и водосточная система.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap panel-->
                            <div class="panel panel-custom panel-classic">
                                <div class="panel-custom-heading" id="6Headingundefined" role="tab">
                                    <h6 class="panel-custom-title">
                                        <a class="collapsed" role="button"
                                           data-toggle="collapse"
                                           data-parent="#6" href="#6Collapseundefined"
                                           aria-controls="6Collapseundefined">
                                            Монтаж:
                                        </a>
                                    </h6>
                                </div>
                                <div class="panel-custom-collapse collapse" id="6Collapseundefined" role="tabpanel"
                                     aria-labelledby="6Headingundefined">
                                    <div class="panel-custom-body">
                                        <div class="ol">• полная сборка дома из панелей с отделкой на расстоянии до 100
                                            км от Москвы.
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="body-item">
                        <div class="in-cost">
                            <div class="min-info-item">• выезд монтажной бригады далее 100 км от производства,</div>
                            <div class="min-info-item">• доставка домокомплекта (стоимость доставки),</div>
                            <div class="min-info-item">• фундамент,</div>
                            <div class="min-info-item">• мебель и бытовая техника.</div>
                        </div>
                    </div>
                    <div id="tab-4" class="body-item">
                        <div class="in-cost">
                            <div class="min-info-item">• терраса с торцевой стороны с панорамным остеклением шириной 1.5
                                м или 3 м,
                            </div>
                            <div class="min-info-item">• веранда с торцевой стороны</div>
                            <div class="buttons">
                                <a href="#" class="btn-a diagonal"
                                   width="250px"><span>Перейти в раздел "Опции"</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="modal text-left" id="modal-request-info" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="close-info" type="button" data-dismiss="modal">
                  <span class="icon icon-md linear-icon-cross">

                  </span>
                    </button>
                    <h6 class="modal-title">Заявка на консультацию по дому </h6>
                </div>
                <div class="modal-body">
                    <div class="group-xl">
                        <h5>CUBO FLAT 5421</h5>
                    </div>
                    <hr>
                    <div class="register-form modal-request">
                        <p>Оставьте свои данные и мы перезвоним Вам в течение рабочего дня!</p>
                        <!-- Login form-->
                        <form>
                            <div class="rd-mailform-inline-flex">
                                <div class="form-wrap">
                                    <label class="form-label" for="name-2">Имя</label>
                                    <input class="form-input" id="name-2" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label class="form-label" for="email">Телефон</label>
                                <input class="form-input" id="email" name="email">
                            </div>
                            <button class="button button-primary">Оставить заявку</button>
                        </form>
                        <hr>
                        <p>Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии со
                            статьей 9
                            ФЗ
                            от 27.07.2006 № 152-ФЗ «О персональных данных»</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/lazy.min.js' %}"></script>
    <script src="{% static 'scripts/product_detail_1.js' %}"></script>
{% endblock scripts %}