{% extends 'superbase.html' %}
{% load static price_to_str_filter lineup domain image_type %}

{% block seo_title %}
    {% if house.seo_title %}
        {{ house.seo_title }}
    {% else %}
        {{ house.name }}
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {{ house.seo_description }}
{% endblock seo_description %}



{% block seo_og_title %}{% firstof house.seo_og_title house.seo_title  house.name %}{% endblock seo_og_title %}

{% block seo_og_url %}{{ house.get_absolute_url }}{% endblock seo_og_url %}

{% block seo_og_image %}{% firstof house.seo_og_image.w1000.url "" %}{% endblock seo_og_image %}

{% block seo_og_image_secure_url %}{% firstof house.seo_og_image.w1000.url "" %}{% endblock seo_og_image_secure_url %}

{% block seo_og_image_type %}
    {% firstof house.seo_og_image.w1000.url|image_type "JPEG" %}{% endblock seo_og_image_type %}



{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'houses_list' %}">Каталог</a></li>
                    <li class="active">{{ house.name }}</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container content">
        <div class="content-wrapper">
            <section class="content-slider b-shadow">
                <div class="swiper-container-detail">
                    <div class="swiper-wrapper">
                        {% for pic in house_pictures %}
                            {% if pic.active %}
                                <div class="swiper-slide">
                                    <img data-hystmodal="#imageModal"
                                         alt="{{ pic.alt }}"
                                         class="lazy image-zoom"
                                         data-720-src="{{ pic.picture.w720.url }}"
                                         data-big-src="{{ pic.picture.w1000.url }}"
                                         src="{{ pic.picture.thumb.url }}"
                                            {#                                    data-src="{% static 'images/CUBO_FLAT_71/4_3000x2000.jpg' %}"#}
                                         data-srcset="{{ pic.picture.w450.url }} 450w,
                                                 {{ pic.picture.w720.url }} 720w,
                                                 {{ pic.picture.w1000.url }} 1000w"
                                         data-sizes="(max-width: 767px) 450px,
                                                (max-width: 1199px) 720px,
                                                1000px"
                                    />
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </section>
            <section class="content-info white b-shadow">
                <ul>
                    {% for con in data %}
                        <li>
                            <h6>

                                Комплектация "{{ con.configuration.name }}"
                                <span class="fas" data-title="{{ con.configuration.description }}">
                                <img src="{% static 'icons/info_black.svg' %}" width="16" height="16"
                                     alt="иконка дополнительной информации"/>
                            </span>
                            </h6>
                            <span>{{ con.price|price_to_str_filter }} руб.</span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="min-info">
                    <div class="min-info-item">Площадь: <span>{{ house.area }}</span> м&sup2;</div>
                    <div class="min-info-item">Количество комнат: <span>{{ house.number_of_rooms }}</span></div>
                    <div class="min-info-item">Количество санузлов: <span>{{ house.number_of_bathrooms }}</span></div>
                </div>
                <div class="buttons">
                    <a href="#" class="button right" data-hystmodal="#consultationModal"
                       id="show-request-info-modal">Получить предложение</a>

                </div>
            </section>
        </div>
    </div>
    <section class="home-info white b-shadow">
        <div class="container tab">
            <div class="tabs-controls">
                <div class="tabs-controls-wrapper info">
                    <div class="container">
                        <div class="tabs-slider">
                            <div class="mask"></div>
                            <div class="tabs-controls-item info active" data-for="tab-sizes">
                                <div>
                                    <span>Размеры дома</span>
                                </div>
                            </div>
                            <div class="tabs-controls-item info" data-for="tab-included">
                                <div>
                                    <span>Включено в стоимость</span>
                                </div>
                            </div>
                            <div class="tabs-controls-item info" data-for="tab-not-included">
                                <div>
                                    <span>Не включено в стоимость</span>
                                </div>
                            </div>
                            {% if house.options %}
                                <div class="tabs-controls-item info" data-for="tab-options">
                                    <div>
                                        <span>Опции и дополнения</span>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="tabs-content">
            <div class="container">
                <div id="tab-sizes" class="body-item info active">
                    <div class="in-cost">
                        <div class="min-info-item">Полезная площадь: <span>{{ house.area }}</span> м&sup2;</div>
                        <div class="min-info-item">Площадь застройки: <span>{{ house.area_of_buildings }}</span> м&sup2;
                        </div>
                        <div class="min-info-item">Внешние габаритные размеры (ВхШхД):
                            <span>{{ house.height }}</span>
                            <span class="xx"><span class="x">x</span></span>

                            <span>{{ house.width }}</span>
                            <span class="xx"><span class="x">x</span></span>
                            <span>{{ house.length }}</span>
                            м
                        </div>
                        <div class="min-info-item">Высота потолков: общая <span>{{ house.ceiling_height }}</span> м
                        </div>
                    </div>
                </div>
                <div id="tab-included" class="body-item info">
                    <div class="container tab secondary">
                        <div class="tabs-controls">
                            <div class="tabs-controls-wrapper cost-included">
                                <div class="container">
                                    <div class="tabs-slider">
                                        <div class="mask"></div>

                                        {% for con in data %}
                                            <div class="tabs-controls-item cost-included {% if forloop.first %}active{% endif %}"
                                                 data-for="tab-include-{{ con.id }}">
                                                <div>
                                                    <span>{{ con.configuration.name }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tabs-content">
                        <div class="container">
                            {% for con in configurations %}
                                <div id="tab-include-{{ con.configuration_id }}"
                                     class="body-item cost-included {% if forloop.first %}active{% endif %}">
                                    <div class="accordion">
                                        {% for addition in con.included_in_price %}

                                            <div class="contentBx">
                                                <div class="label">{{ addition.addition_category }}</div>
                                                <div class="content" style="display: none">
                                                    <div class="ol">
                                                        {% for body in addition.bodies %}
                                                            <p>- {{ body }}{% if not forloop.last %},{% endif %}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div id="tab-not-included" class="body-item info">
                    <div class="container tab secondary">
                        <div class="tabs-controls">
                            <div class="tabs-controls-wrapper cost-not-included">
                                <div class="container">
                                    <div class="tabs-slider">
                                        <div class="mask"></div>
                                        {% for con in data %}
                                            <div class="tabs-controls-item cost-not-included {% if forloop.first %}active{% endif %}"
                                                 data-for="tab-not-include-{{ con.id }}">
                                                <div>
                                                    <span>{{ con.configuration.name }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tabs-content">
                        <div class="container">
                            {% for con in data %}

                                <div id="tab-not-include-{{ con.id }}"
                                     class="body-item cost-not-included {% if forloop.first %}active{% endif %}">
                                    <div class="in-cost">
                                        {% if con.not_included_in_price.all %}
                                            {% for item in con.not_included_in_price.all %}
                                                <p>- {{ item.body }}{% if not forloop.last %},{% endif %}</p>
                                            {% endfor %}
                                        {% else %}
                                            {% for item in con.configuration.not_included_in_price.all %}
                                                <p>- {{ item.body }}{% if not forloop.last %},{% endif %}</p>
                                            {% endfor %}

                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                {% if house.options %}
                    <div id="tab-options" class="body-item info">
                        <div class="in-cost">
                            {{ house.options|safe }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


    </section>

    {% lineup %}

    <div class="hystmodal" id="consultationModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Закрыть</button>
                <!-- Ваш HTML код модального окна -->
                <div class="modal-header">
                    <h6 class="modal-title">Заявка на консультацию по дому </h6>
                </div>
                <div class="modal-body">
                    <div class="group-xl">
                        <h5>{{ house.name }}</h5>
                    </div>
                    <hr>
                    <div class="register-form modal-request">
                        <p>Оставьте свои данные и мы перезвоним Вам в течение рабочего дня!</p>
                        <!-- Login form-->
                        <div class="form products">
                            <form method="post" id="form">
                                <div>
                                    <p>Куда Вам ответить?</p>
                                </div>

                                <div class="choices">
                                    <div class="whatsapp  b-shadow active" data-key="whatsapp">
                                        <p>Whatsapp</p>
                                        <img src="{% static 'icons/forms/whatsapp.png' %}" alt="логотип whatsapp"/>
                                        <p>Очень быстро</p>
                                    </div>
                                    <div class="telegram" data-key="telegram">
                                        <p>Telegram</p>
                                        <img src="{% static 'icons/forms/telegram.png' %}" alt="логотип telegram"/>
                                        <p>Очень быстро</p>
                                    </div>
                                    <div class="phone" data-key="phone">
                                        <p>Мобильный</p>
                                        <img src="{% static 'icons/forms/phone.png' %}" alt="иконка телефона"/>
                                        <p>Быстро</p>
                                    </div>
                                    <div class="email" data-key="email">
                                        <p>E-mail</p>
                                        <img src="{% static 'icons/forms/mail.png' %}" alt="логотип mail"/>
                                        <p>Умеренно</p>
                                    </div>
                                </div>
                                <div class="input">
                                    <input data-required="data-required" data-length type="text" name="name"
                                           id="input-name"
                                           class="text-input">
                                    <label for="input-name" class="input-label">Ваше имя*</label>
                                </div>


                                <div class="input phone choice active" data-value="whatsapp">
                                    <input data-required="data-required" type="text" name="whatsapp" id="input-whatsapp"
                                           class="text-input">
                                    <label for="input-whatsapp" class="input-label">Номер телефона whatsapp*</label>
                                </div>

                                <div class="input choice" data-value="telegram">
                                    <input data-length type="text" name="telegram" id="input-telegram"
                                           class="text-input">
                                    <label for="input-telegram" class="input-label">@username</label>
                                </div>

                                <div class="input phone choice" data-value="phone">
                                    <input type="text" name="phone" id="input-phone" class="text-input">
                                    <label for="input-phone" class="input-label">Номер телефона*</label>
                                </div>
                                <div class="input choice" data-value="email">
                                    <input type="text" name="email" id="input-email" class="text-input">
                                    <label for="input-email" class="input-label">E-mail*</label>
                                </div>

                                <div class="ars-checkbox-wrapper">
                                    <input id="credit-checkbox" type="checkbox">
                                    <label class="ars-checkbox" for="credit-checkbox">Нужен кредит на покупку
                                        дома</label>
                                </div>

                                <div class="input choice">
                                    <input data-only-int
                                           type="text" name="credit"
                                           id="input-credit"
                                           class="text-input">
                                    <label for="input-credit" class="input-label">Необходимая сумма кредита
                                        (руб)*</label>
                                </div>


                                <div class="input textarea">
                                    <textarea wrap="soft" name="comment" id="input-comment"
                                              class="text-input"></textarea>
                                    <label for="input-comment" class="input-label">Сообщение</label>
                                </div>

                                <p id="error-server-message">Ошибка сервера! Пожалуйста, попробуйте позже.</p>


                                <div class="buttons">
                                    <a href="#" class="button right"
                                       id="send-message">Отправить
                                        <span class="img">
                                            <img class="spinner hide"
                                                 src="{% static 'icons/forms//spinner.svg' %}"
                                                 width="30px" alt="иконка загрузки"/>
                                    </span>
                                    </a>
                                </div>

                            </form>
                            <div id="success-message">
                                <p>Спасибо! Ваше сообщение получено. Мы свяжемся с Вами в ближайшее время</p>
                            </div>
                        </div>
                        <hr>
                        <p>Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии
                            со
                            статьей 9 ФЗ от 27.07.2006 № 152-ФЗ «О персональных данных» и соглашаюсь с
                            <a href="{% url 'privacy' %}">политикой конфиденциальности</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="hystmodal" id="imageModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <button data-hystclose class="hystmodal__close">Закрыть</button>
                <!-- Ваш HTML код модального окна -->
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/products/product_detail.min.js' %}"></script>
{% endblock scripts %}