{% extends 'superbase.html' %}
{% load static price_to_str_filter lineup domain %}

{% block seo_title %}
    {% if house.seo_title %}
        {{ house.seo_title }}
    {% else %}
        {{ house.name }}
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {{ house.seo_description }}
{% endblock seo_description %}

{% block styles %}
    {#    <link rel="stylesheet" href="{% static 'styles/swiper-bundle.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'styles/modal.css' %}">#}
    <link rel="stylesheet" href="{% static 'styles/accordion.css' %}">
{% endblock styles %}

{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'houses_list' %}">Каталог</a></li>
                    <li class="active">{{ house.name }}</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container content">
        <div class="content-wrapper">
            <section class="content-slider b-shadow">
                <div class="swiper-container-detail">
                    <div class="swiper-wrapper">
                        {% for pic in house.get_pictures %}
                            <div class="swiper-slide">
                                <img
                                        alt="{{ pic.alt }}"
                                        class="lazy image-zoom"
                                        data-720-src="{{ pic.picture.w720.url }}"
                                        data-big-src="{{ pic.picture.w1000.url }}"
                                        src="{{ pic.picture.thumb.url }}"
                                        {#                                    data-src="{% static 'images/CUBO_FLAT_71/4_3000x2000.jpg' %}"#}
                                        data-srcset="{{ pic.picture.w450.url }} 450w,
                                                 {{ pic.picture.w720.url }} 720w,
                                                 {{ pic.picture.w1000.url }} 1000w"
                                        data-sizes="(max-width: 767px) 450px,
                                                (max-width: 1199px) 720px,
                                                1000px"
                                />
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </section>
            <section class="content-info white b-shadow">
                <ul>
                    <li>
                        <h6>
                            Комплектация "Поставка с завода"
                            <span class="fas fa-info-circle" data-title="Домокомплект из упакованных панелей с крепежом
                                                                      для монтажа. Без доставки.">

                            </span>
                        </h6>
                        <span>{{ house.price_min|price_to_str_filter }} руб.</span>
                    </li>
                    <li>
                        <h6>
                            Комплектация "Под ключ"
                            <span class="fas fa-info-circle" data-title="Дом с окнами, входной дверью и перегородками,
                                                                         смонтированный на участке. Без доставки.">

                            </span>
                        </h6>
                        <span>{{ house.price_medium|price_to_str_filter }} руб.</span>
                    </li>
                    <li>
                        <h6>Комплектация "Под мебель"
                            <span class="fas fa-info-circle" data-title="Полностью готовый дом, включая внутреннюю и
                                                                         наружную отделку.">

                            </span>
                        </h6>
                        <span>{{ house.price_full|price_to_str_filter }} руб.</span>
                    </li>
                </ul>
                <div class="min-info">
                    <div class="min-info-item">Площадь: <span>{{ house.area }}</span> м&sup2;</div>
                    <div class="min-info-item">Количество комнат: <span>{{ house.number_of_rooms }}</span></div>
                    <div class="min-info-item">Количество санузлов: <span>{{ house.number_of_bathrooms }}</span></div>
                </div>
                <div class="buttons">
                    <a href="#" class="btn-a diagonal black"
                       id="show-request-info-modal"><span>Получить консультацию</span></a>

                </div>
            </section>
        </div>
    </div>
    <section class="home-info white b-shadow">
        <div class="container tab">
            <div class="tabs-controls">
                <div class="tabs-controls-wrapper info">
                    <div class="container">
                        <div class="tabs-slider">
                            <div class="mask"></div>
                            <div class="tabs-controls-item info active" data-for="tab-sizes">
                                <div>
                                    <span>Размеры дома</span>
                                </div>
                            </div>
                            <div class="tabs-controls-item info" data-for="tab-included">
                                <div>
                                    <span>Включено в стоимость</span>
                                </div>
                            </div>
                            <div class="tabs-controls-item info" data-for="tab-not-included">
                                <div>
                                    <span>Не включено в стоимость</span>
                                </div>
                            </div>
                            {% if house.options.body and house.options.active %}
                                <div class="tabs-controls-item info" data-for="tab-options">
                                    <div>
                                        <span>Опции и дополнения</span>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="tabs-content">
            <div class="container">
                <div id="tab-sizes" class="body-item info active">
                    <div class="in-cost">
                        <div class="min-info-item">Полезная площадь: <span>{{ house.area }}</span> м&sup2;</div>
                        <div class="min-info-item">Площадь застройки: <span>{{ house.area_of_buildings }}</span> м&sup2;
                        </div>
                        <div class="min-info-item">Внешние габаритные размеры (ВхШхД):
                            <span>{{ house.height }}</span>
                            <span class="xx"><span class="x">x</span></span>

                            <span>{{ house.width }}</span>
                            <span class="xx"><span class="x">x</span></span>
                            <span>{{ house.length }}</span>
                            м
                        </div>
                        <div class="min-info-item">Высота потолков: общая <span>{{ house.ceiling_height }}</span> м
                        </div>
                    </div>
                </div>
                <div id="tab-included" class="body-item info">
                    <div class="container tab secondary">
                        <div class="tabs-controls">
                            <div class="tabs-controls-wrapper cost-included">
                                <div class="container">
                                    <div class="tabs-slider">
                                        <div class="mask"></div>
                                        {% if house.turnkey.active and house.turnkey.included.active and house.turnkey.included.get_items %}
                                            <div class="tabs-controls-item cost-included active"
                                                 data-for="tab-include-turnkey">
                                                <div>
                                                    <span>Под мебель</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if house.for_finishing.active and house.for_finishing.included.active and house.for_finishing.included.get_items %}
                                            <div class="tabs-controls-item cost-included"
                                                 data-for="tab-include-for_finishing">
                                                <div>
                                                    <span>Под ключ</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if house.delivery.active and house.delivery.included.active and house.delivery.included.get_items %}
                                            <div class="tabs-controls-item cost-included"
                                                 data-for="tab-include-delivery">
                                                <div>
                                                    <span>Поставка с завода</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tabs-content">
                        <div class="container">
                            {% if house.turnkey.active and house.turnkey.included.active and house.turnkey.included.get_items %}
                                <div id="tab-include-turnkey" class="body-item cost-included active">
                                    <div class="accordion">
                                        {% for item in house.turnkey.included.get_items %}
                                            <div class="contentBx">
                                                <div class="label">{{ item.name }}</div>
                                                <div class="content" style="display: none">
                                                    <div class="ol">
                                                        {{ item.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endif %}
                            {% if house.for_finishing.active and house.for_finishing.included.active and house.for_finishing.included.get_items %}
                                <div id="tab-include-for_finishing" class="body-item cost-included">
                                    <div class="accordion">
                                        {% for item in house.for_finishing.included.get_items %}
                                            <div class="contentBx">
                                                <div class="label">{{ item.name }}</div>
                                                <div class="content" style="display: none">
                                                    <div class="ol">
                                                        {{ item.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if house.delivery.active and house.delivery.included.active and house.delivery.included.get_items %}
                                <div id="tab-include-delivery" class="body-item cost-included">
                                    <div class="accordion">
                                        {% for item in house.delivery.included.get_items %}
                                            <div class="contentBx">
                                                <div class="label">{{ item.name }}</div>
                                                <div class="content" style="display: none">
                                                    <div class="ol">
                                                        {{ item.body|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div id="tab-not-included" class="body-item info">
                    <div class="container tab secondary">
                        <div class="tabs-controls">
                            <div class="tabs-controls-wrapper cost-not-included">
                                <div class="container">
                                    <div class="tabs-slider">
                                        <div class="mask"></div>
                                        {% if house.turnkey.active and house.turnkey.not_included.active and house.turnkey.not_included.body %}
                                            <div class="tabs-controls-item cost-not-included active"
                                                 data-for="tab-not-include-turnkey">
                                                <div>
                                                    <span>Под мебель</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if house.for_finishing.active and house.for_finishing.not_included.active and house.for_finishing.not_included.body %}
                                            <div class="tabs-controls-item cost-not-included"
                                                 data-for="tab-not-include-for_finishing">
                                                <div>
                                                    <span>Под ключ</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if house.delivery.active and house.delivery.not_included.active and house.delivery.not_included.body %}
                                            <div class="tabs-controls-item cost-not-included"
                                                 data-for="tab-not-include-delivery">
                                                <div>
                                                    <span>Поставка с завода</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tabs-content">
                        <div class="container">
                            {% if house.turnkey.active and house.turnkey.not_included.active and house.turnkey.not_included.body %}
                                <div id="tab-not-include-turnkey" class="body-item cost-not-included active">
                                    <div class="in-cost">
                                        {{ house.turnkey.not_included.body|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if house.for_finishing.active and house.for_finishing.not_included.active and house.for_finishing.not_included.body %}
                                <div id="tab-not-include-for_finishing" class="body-item cost-not-included">
                                    <div class="in-cost">
                                        {{ house.for_finishing.not_included.body|safe }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if house.delivery.active and house.delivery.not_included.active and house.delivery.not_included.body %}
                                <div id="tab-not-include-delivery" class="body-item cost-not-included">
                                    <div class="in-cost">
                                        {{ house.delivery.not_included.body|safe }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if house.options.body and house.options.active %}
                    <div id="tab-options" class="body-item info">
                        <div class="in-cost">
                            {{ house.options.body|safe }}
                            {#                            <div class="buttons">#}
                            {#                                <a href="#" class="btn-a diagonal"#}
                            {#                                   width="250px"><span>Перейти в раздел "Опции"</span></a>#}
                            {#                            </div>#}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


    </section>

    {% lineup %}


    <div class="modal text-left" id="modal-request-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="close-info" type="button" data-dismiss="modal">
                        <span class="icon icon-md linear-icon-cross"></span>
                    </button>
                    <h6 class="modal-title">Заявка на консультацию по дому </h6>
                </div>
                <div class="modal-body">
                    <div class="group-xl">
                        <h5>{{ house.name }}</h5>
                    </div>
                    <hr>
                    <div class="register-form modal-request">
                        <p>Оставьте свои данные и мы перезвоним Вам в течение рабочего дня!</p>
                        <!-- Login form-->
                        <div class="form products">
                            <form method="post" id="form">
                                <div>
                                    <p>Куда Вам ответить?</p>
                                </div>

                                <div class="choices">
                                    <div class="whatsapp  b-shadow active" data-key="whatsapp">
                                        <p>Whatsapp</p>
                                        <img src="{% static 'images/icons/whatsapp.png' %}"/>
                                        <p>Очень быстро</p>
                                    </div>
                                    <div class="telegram" data-key="telegram">
                                        <p>Telegram</p>
                                        <img src="{% static 'images/icons/telegram.png' %}"/>
                                        <p>Очень быстро</p>
                                    </div>
                                    <div class="phone" data-key="phone">
                                        <p>Мобильный</p>
                                        <img src="{% static 'images/icons/phone.png' %}"/>
                                        <p>Быстро</p>
                                    </div>
                                    <div class="email" data-key="email">
                                        <p>E-mail</p>
                                        <img src="{% static 'images/icons/mail.png' %}"/>
                                        <p>Умеренно</p>
                                    </div>
                                </div>
                                <div class="input">
                                    <input data-required="data-required" data-length type="text" name="name"
                                           id="input-name"
                                           class="text-input">
                                    <label for="input-name" class="input-label">Ваше имя*</label>
                                </div>


                                <div class="input phone choice active" data-value="whatsapp">
                                    <input data-required="data-required" type="text" name="whatsapp" id="input-whatsapp"
                                           class="text-input">
                                    <label for="input-whatsapp" class="input-label">Номер телефона whatsapp*</label>
                                </div>

                                <div class="input choice" data-value="telegram">
                                    <input data-length type="text" name="telegram" id="input-telegram"
                                           class="text-input">
                                    <label for="input-telegram" class="input-label">Номер телефона или @username
                                        telegram</label>
                                </div>

                                <div class="input phone choice" data-value="phone">
                                    <input type="text" name="phone" id="input-phone" class="text-input">
                                    <label for="input-phone" class="input-label">Номер телефона*</label>
                                </div>
                                <div class="input choice" data-value="email">
                                    <input type="text" name="email" id="input-email" class="text-input">
                                    <label for="input-email" class="input-label">E-mail*</label>
                                </div>


                                <div class="input textarea">
                                    <textarea wrap="soft" name="comment" id="input-comment"
                                              class="text-input">

                                    </textarea>
                                    <label for="input-comment" class="input-label">Сообщение</label>
                                </div>

                                <p id="error-server-message">Ошибка сервера! Пожалуйста, попробуйте позже.</p>


                                <div class="buttons">
                                    <a href="#" class="btn-a diagonal black"
                                       id="send-message"><span>Отправить</span>
                                        <span class="img">
                                <img class="spinner hide" src="{% static 'images/spinner.svg' %}" width="30px"/>
                            </span>
                                    </a>
                                </div>

                            </form>
                            <div id="success-message">
                                <p>Спасибо! Ваше сообщение получено. Мы свяжемся с Вами в ближайшее время</p>
                            </div>
                        </div>
                        <hr>
                        <p>Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии
                            со
                            статьей 9 ФЗ от 27.07.2006 № 152-ФЗ «О персональных данных» и соглашаюсь с
                            <a href="{% url 'privacy' %}">политикой конфиденциальности</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/product_detail_1.js' %}"></script>
{% endblock scripts %}