{% extends 'superbase.html' %}
{% load static price_to_str_filter %}

<!--{% block seo_title %}{{ house.seo_title }}{% endblock seo_title %}-->
<!--{% block seo_description %}{{ house.seo_description }}{% endblock seo_description %}-->

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/swiper-bundle.min.css' %}">
{% endblock styles %}

{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <p class="breadcrumbs-custom__title">{{ house.name }}</p>
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'products_catalog' %}">Каталог</a></li>
                    <li class="active">{{ house.name }}</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="container content">
        <div class="content-wrapper">
            <section class="content-slider b-shadow">
                <div class="swiper-container-detail">
                    <div class="swiper-wrapper">
                        {% for pic in house.get_pictures %}
                            <div class="swiper-slide">
                                <img
                                        alt="{{ pic.alt }}"
                                        class="lazy"
                                        src="{{ pic.picture.thumb.url }}"
                                        {#                                    data-src="{% static 'images/CUBO_FLAT_71/4_3000x2000.jpg' %}"#}
                                        data-srcset="{{ pic.picture.w450.url }} 450w,
                                                 {{ pic.picture.w720.url }} 720w,
                                                 {{ pic.picture.w1000.url }} 1000w"
                                        data-sizes="(max-width: 767px) 450px,
                                                (max-width: 1199px) 720px,
                                                1000px"
                                />
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </section>
            <section class="content-info white b-shadow">
                <ul>
                    <li>
                        <h6>
                            Комплектация "Поставка с завода"
                            <span class="fas fa-info-circle" data-title="Домокомплект из упакованных панелей с крепежом
                                                                      для монтажа, но без окон и дверей. Без доставки.">

                            </span>
                        </h6>
                        <span>{{ house.price_min|price_to_str_filter }} руб.</span>
                    </li>
                    <li>
                        <h6>
                            Комплектация "Под отделку"
                            <span class="fas fa-info-circle" data-title="Дом с окнами, входной дверью и перегородками,
                                                                         смонтированный на участке. Без доставки.">

                            </span>
                        </h6>
                        <span>{{ house.price_medium|price_to_str_filter }} руб.</span>
                    </li>
                    <li>
                        <h6>Комплектация "Под ключ"
                            <span class="fas fa-info-circle" data-title="Полностью готовый дом, включая внутреннюю и
                                                                         наружную отделку.">

                            </span>
                        </h6>
                        <span>{{ house.price_full|price_to_str_filter }} руб.</span>
                    </li>
                </ul>
                <div class="min-info">
                    <div class="min-info-item">Площадь: <span>{{ house.area }}</span> м&sup2;</div>
                    <div class="min-info-item">Количество комнат: <span>{{ house.number_of_rooms }}</span></div>
                    <div class="min-info-item">Количество санузлов: <span>{{ house.number_of_bathrooms }}</span></div>
                </div>
                <div class="buttons">
                    <a href="#" class="btn-a diagonal black"
                       id="show-request-info-modal"><span>Получить консультацию</span></a>
                    {#                    <a href="#" class="btn-a diagonal"><span>Конфигуратор стоимости</span></a>#}

                </div>
            </section>
        </div>
    </div>
    <section class="home-info white b-shadow">
        <div class="container tab">
            <div class="tabs-controls">
                <div class="tabs-controls-wrapper info">
                    <div class="container">
                        <div class="tabs-slider">
                            <div class="mask"></div>
                            <div class="tabs-controls-item info active" data-for="tab-sizes">
                                <div>
                                    <span>Размеры дома</span>
                                </div>
                            </div>
                            {% if house.turnkey.active %}
                                {% if house.turnkey.included.active %}
                                    {% if house.turnkey.included.get_items %}
                                        <div class="tabs-controls-item info" data-for="tab-include-turnkey">
                                            <div>
                                                <span>Включено в стоимость "Под ключ"</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if house.turnkey.not_included.active and house.turnkey.not_included.body %}
                                    <div class="tabs-controls-item info" data-for="tab-not-include-turnkey">
                                        <div>
                                            <span>Не включено в стоимость "Под ключ"</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if house.for_finishing.active %}
                                {% if house.for_finishing.included.active %}
                                    {% if house.for_finishing.included.get_items %}
                                        <div class="tabs-controls-item info" data-for="tab-include-for_finishing">
                                            <div>
                                                <span>Включено в стоимость "Под отделку"</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if house.for_finishing.not_included.active and house.for_finishing.not_included.body %}
                                    <div class="tabs-controls-item info" data-for="tab-not-include-for_finishing">
                                        <div>
                                            <span>Не включено в стоимость "Под отделку"</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if house.delivery.active %}
                                {% if house.delivery.included.active %}
                                    {% if house.delivery.included.get_items %}
                                        <div class="tabs-controls-item info" data-for="tab-include-delivery">
                                            <div>
                                                <span>Включено в стоимость "Поставка с завода"</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if house.delivery.not_included.active and house.delivery.not_included.body %}
                                    <div class="tabs-controls-item info" data-for="tab-not-include-delivery">
                                        <div>
                                            <span>Не включено в стоимость "Поставка с завода"</span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if house.options.body and house.options.active %}
                                <div class="tabs-controls-item info" data-for="tab-options">
                                    <div>
                                        <span>Опции и дополнения</span>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="tabs-content">
            <div class="container">
                <div id="tab-sizes" class="body-item info active">
                    <div class="in-cost">
                        <div class="min-info-item">Полезная площадь: <span>{{ house.area }}</span> м&sup2;</div>
                        <div class="min-info-item">Площадь застройки: <span>{{ house.area_of_buildings }}</span> м&sup2;
                        </div>
                        <div class="min-info-item">Внешние габаритные размеры (ВхШхД):
                            <span>{{ house.height }}</span>
                            <span class="xx"><span class="x">x</span></span>

                            <span>{{ house.width }}</span>
                            <span class="xx"><span class="x">x</span></span>
                            <span>{{ house.length }}</span>
                            м
                        </div>
                        <div class="min-info-item">Высота потолков: общая <span>{{ house.ceiling_height }}</span> м
                        </div>
                    </div>
                </div>
                {% if house.turnkey.included.active and house.turnkey.included.get_items %}
                    <div id="tab-include-turnkey" class="body-item info">
                        <div id="accordion" role="tablist">
                            {% for item in house.turnkey.included.get_items %}
                                <div class="panel panel-custom panel-classic">
                                    <div class="panel-custom-heading" id="{{ item.pk }}-turnkey-Head" role="tab">
                                        <h6 class="panel-custom-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#{{ item.pk }}" href="#{{ item.pk }}-turnkey-Collapse"
                                               aria-controls="{{ item.pk }}-turnkey-Collapse">
                                                {{ item.name }}
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="panel-custom-collapse collapse" id="{{ item.pk }}-turnkey-Collapse"
                                         role="tabpanel"
                                         aria-labelledby="{{ item.pk }}-turnkey-Head">
                                        <div class="panel-custom-body">
                                            <div class="ol">
                                                {{ item.body|safe }}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if house.turnkey.not_included.active and house.turnkey.not_included.body %}
                    <div id="tab-not-include-turnkey" class="body-item info">
                        <div class="in-cost">
                            {{ house.turnkey.not_included.body|safe }}
                        </div>
                    </div>
                {% endif %}
                {% if house.for_finishing.included.active and house.for_finishing.included.get_items %}
                    <div id="tab-include-for_finishing" class="body-item info">
                        <div id="accordion" role="tablist">
                            {% for item in house.for_finishing.included.get_items %}
                                <div class="panel panel-custom panel-classic">
                                    <div class="panel-custom-heading" id="{{ item.pk }}-for_finishing-Head" role="tab">
                                        <h6 class="panel-custom-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#{{ item.pk }}" href="#{{ item.pk }}-for_finishing-Collapse"
                                               aria-controls="{{ item.pk }}-for_finishing-Collapse">
                                                {{ item.name }}
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="panel-custom-collapse collapse" id="{{ item.pk }}-for_finishing-Collapse"
                                         role="tabpanel"
                                         aria-labelledby="{{ item.pk }}-for_finishing-Head">
                                        <div class="panel-custom-body">
                                            <div class="ol">
                                                {{ item.body|safe }}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if house.for_finishing.not_included.active and house.for_finishing.not_included.body %}
                    <div id="tab-not-include-for_finishing" class="body-item info">
                        <div class="in-cost">
                            {{ house.for_finishing.not_included.body|safe }}
                        </div>
                    </div>
                {% endif %}
                {% if house.delivery.included.active and house.delivery.included.get_items %}
                    <div id="tab-include-delivery" class="body-item info">
                        <div id="accordion" role="tablist">
                            {% for item in house.delivery.included.get_items %}
                                <div class="panel panel-custom panel-classic">
                                    <div class="panel-custom-heading" id="{{ item.pk }}-delivery-Head" role="tab">
                                        <h6 class="panel-custom-title">
                                            <a class="collapsed" role="button"
                                               data-toggle="collapse"
                                               data-parent="#{{ item.pk }}" href="#{{ item.pk }}-delivery-Collapse"
                                               aria-controls="{{ item.pk }}-delivery-Collapse">
                                                {{ item.name }}
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="panel-custom-collapse collapse" id="{{ item.pk }}-delivery-Collapse"
                                         role="tabpanel"
                                         aria-labelledby="{{ item.pk }}-delivery-Head">
                                        <div class="panel-custom-body">
                                            <div class="ol">
                                                {{ item.body|safe }}
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if house.delivery.not_included.active and house.delivery.not_included.body %}
                    <div id="tab-not-include-delivery" class="body-item info">
                        <div class="in-cost">
                            {{ house.delivery.not_included.body|safe }}
                        </div>
                    </div>
                {% endif %}
                {% if house.options.body and house.options.active %}
                    <div id="tab-options" class="body-item info">
                        <div class="in-cost">
                            {{ house.options.body|safe }}
                            <div class="buttons">
                                <a href="#" class="btn-a diagonal"
                                   width="250px"><span>Перейти в раздел "Опции"</span></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


    </section>
    <section class="catalog-section">
        <div class="container">
            <div class="catalog-header">
                <h4>Модельный ряд</h4>
                <a href="#">Перейти в каталог <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="catalog-nav">
                <div class="tabs-controls">
                    <div class="tabs-controls-wrapper catalog">
                        <div class="container">
                            <div class="tabs-slider">
                                {#                        <div class="mask"></div>#}
                                <div class="tabs-controls-item catalog active" data-for="tab-10">
                                    <div>
                                        <span>CUBO FLAT (4)</span>
                                    </div>
                                </div>
                                <div class="tabs-controls-item catalog" data-for="tab-20">
                                    <div>
                                        <span>CUBO BENT (2)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="catalog-body">
                <div class="tabs-content">
                    <div id="tab-10" class="body-item catalog active">
                        <div class="swiper-container-catalog" id="swiper1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next " id="next1"></div>
                            <div class="swiper-button-prev " id="prev1"></div>
                        </div>

                    </div>
                    <div id="tab-20" class="body-item catalog">
                        <div class="swiper-container-catalog" id="swiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next " id="next2"></div>
                            <div class="swiper-button-prev " id="prev2"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="modal text-left" id="modal-request-info" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" id="close-info" type="button" data-dismiss="modal">
                  <span class="icon icon-md linear-icon-cross">

                  </span>
                    </button>
                    <h6 class="modal-title">Заявка на консультацию по дому </h6>
                </div>
                <div class="modal-body">
                    <div class="group-xl">
                        <h5>{{ house.name }}</h5>
                    </div>
                    <hr>
                    <div class="register-form modal-request">
                        <p>Оставьте свои данные и мы перезвоним Вам в течение рабочего дня!</p>
                        <!-- Login form-->
                        <form>
                            <div class="rd-mailform-inline-flex">
                                <div class="form-wrap">
                                    <label class="form-label" for="name-2">Имя</label>
                                    <input class="form-input" id="name-2" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-wrap">
                                <label class="form-label" for="email">Телефон</label>
                                <input class="form-input" id="email" name="email">
                            </div>
                            <div>
                                <button href="#" class="btn-a diagonal black">Оставить заявку</button>
                            </div>


                            {#                            <button class="button button-primary">Оставить заявку</button>#}
                        </form>
                        <hr>
                        <p>Нажимая кнопку, я даю согласие на обработку моих персональных данных в соответствии со
                            статьей 9
                            ФЗ
                            от 27.07.2006 № 152-ФЗ «О персональных данных»</p>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/lazy.min.js' %}"></script>
    <script src="{% static 'scripts/product_detail_1.js' %}"></script>
{% endblock scripts %}