{% extends 'superbase.html' %}
{% load static %}

<!--{% block seo_title %}{{ home_data.seo_title }}{% endblock seo_title %}-->
<!--{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}-->


{% block content %}
<section class="breadcrumbs-custom">
    <div class="container">
        <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Каталог</p>
            <ul class="breadcrumbs-custom__path">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li class="active">Каталог</li>
            </ul>
        </div>
    </div>
</section>
<section class="section-md bg-default">
    <div class="container">
        <div class="row row-60 flex-lg-row-reverse">
            <div class="col-lg-9 section-divided__main section-divided__main-left">
                <section class="section-sm">
                    <div class="filter-shop-box">
                        <p>Показано 1–12 из 15 рузультатов</p>
                        <div class="form-wrap">
                            <!--Select 2-->
                            <select class="form-input select-filter" data-placeholder="Default sorting"
                                    data-minimum-results-for-search="Infinity">
                                <option>Default sorting</option>
                                <option value="2">Sort by popularity</option>
                                <option value="3">Sort by average rating</option>
                                <option value="4">Sort by newness</option>
                                <option value="5">Sort by price: low to high</option>
                                <option value="6">Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-sm-center row-70">
                        <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                            <hr>
                        </div>

                          <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                               <hr>
                        </div>
                          <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                               <hr>
                        </div>
                          <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                               <hr>
                        </div>
                          <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                               <hr>
                        </div>
                          <div class="col-sm-12">
                            <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                                <div class="unit__left product-img-wrap">
                                    <img src="{% static 'images/min/1-modul-fas-2.jpg' %}"/>
                                </div>
                                <div class="unit__body product-caption">
                                    <ul class="product-categories">
                                        <li><a href="#">CUBO FR</a></li>
                                        <li><a href="#">Одноэтажные</a></li>
                                    </ul>
                                    <h5 class="product-title"><a href="{% url 'products_detail' %}">CUBO FR 85</a></h5>
                                    <p class="product-price"><span>150000</span>
                                    </p>
                                    <p class="product-text">Здесь идет какое-то коротное описание дома</p>
                                    <div class="cart-favorites">
                                        <a href="#" class="button black">
                                            <span>ПОДРОБНЕЕ</span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </section>
                <!-- Pagination-->
                <section class="section-sm">
                    <!-- Classic Pagination-->
                    <nav>
                        <ul class="pagination-classic">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a class="icon linear-icon-arrow-right" href="#"></a></li>
                        </ul>
                    </nav>
                </section>
            </div>
            <div class="col-lg-3 section-divided__aside section__aside-left">
                <!-- Categories-->
                <section class="section-sm">
                    <h5>Категории</h5>
                    <ul class="small list">
                        <li class="active"><a href="#">Все</a></li>
                        <li><a href="#">Дома серии CUBO VR</a></li>
                        <li><a href="#">Дома серии CUBO FR</a></li>
                        <li><a href="#">Одноэтажные</a></li>
                        <li><a href="#">Двухэтажные</a></li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</section>
{% endblock content %}