{% extends 'superbase.html' %}
{% load static image_type %}

{% block seo_title %}
    {% if about %}
        {{ about.seo_title }}
    {% else %}
        Производство | CUBO
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {% if about %}
        {{ about.seo_description }}
    {% else %}
        Подробная информация о компании CUBO | CUBO
    {% endif %}
{% endblock seo_description %}

{% block seo_og_title %}
    {% firstof about.seo_og_title about.seo_title  "Подробная информация о компании CUBO" %}{% endblock seo_og_title %}

{% block seo_og_url %}{% url 'about' %}{% endblock seo_og_url %}

{% block seo_og_image %}
    {% firstof about.seo_og_image.w1000.url about.about_company_picture.w3000.url about.about_factory_picture.w3000.url  "" %}{% endblock seo_og_image %}

{% block seo_og_image_secure_url %}
    {% firstof about.seo_og_image.w1000.url about.about_company_picture.w3000.url about.about_factory_picture.w3000.url "" %}{% endblock seo_og_image_secure_url %}

{% block seo_og_image_type %}
    {% firstof about.seo_og_image.w1000.url|image_type about.about_company_picture.w3000.url|image_type about.about_factory_picture.w3000.url|image_type "JPEG" %}{% endblock seo_og_image_type %}


{% block content %}
    <section class="breadcrumbs-custom">
        <div class="container">
            <div class="breadcrumbs-custom__inner">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li class="active">Производство</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="about-nav">
        <div class="container">
            <div class="about-wrapper">
                <div class="about-menu">
                    <ul>
                        <li>
                            <a href="#about">
                                {% if about.about_company_title %}
                                    {{ about.about_company_title }}
                                {% else %}
                                    О компании
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#factory">
                                {% if about.about_factory_title %}
                                    {{ about.about_factory_title }}
                                {% else %}
                                    О Производстве
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#capacity">
                                {% if about.capacity_title %}
                                    {{ about.capacity_title }}
                                {% else %}
                                    Производственные мощности
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="about-video">
                    <img
                            data-video="{% static 'video/about/Rolik_zavod.mp4' %}"
                            alt="Превью к видео о производстве CUBO"
                            class="lazy"
                            id="video-preview"
                            src="{% static 'video/about/preview_th.jpg' %}"
                            data-srcset="{% static 'video/about/preview_480.jpg' %} 480w,
                                         {% static 'video/about/preview_800.jpg' %} 800w"
                            data-sizes="(max-width: 767px) 480px,
                                                800px"
                            width=""
                            height=""
                    />

                </div>
            </div>

        </div>
    </section>
    <section id="about" class="about-section" data-background="{% if about %}
                {{ about.about_company_picture.w3000.url }}
            {% else %}
                {% static 'images/about/about_company.jpg' %}
            {% endif %})">
        <div class="inner-container">
            <div class="container">
                <h2>
                    {% if about.about_company_title %}
                        {{ about.about_company_title }}
                    {% else %}
                        О компании
                    {% endif %}
                </h2>


                <p class="text">
                    {% if about %}
                        {{ about.about_company }}
                    {% else %}
                        Компания CUBO ДОМ является автором и разработчиком новой технологии строительства домов CUBO.
                        Технология заключается в стандартизации несущих конструкций и позволяет быстро возводить
                        сборно-разборные здания.
                    {% endif %}

                </p>
            </div>
        </div>

    </section>

    <section id="factory" class="about-section right" data-background="{% if about %}
                 {{ about.about_factory_picture.w3000.url }}
             {% else %}
                 {% static 'images/about/factory.jpg' %}
             {% endif %}">

        <div class="inner-container">
            <div class="container">
                <h2>
                    {% if about.about_factory_title %}
                        {{ about.about_factory_title }}
                    {% else %}
                        О производстве
                    {% endif %}
                </h2>
                <div class="picture mobile-display">
                    <img
                            alt="Производство"
                            class="lazy"
                            {% if about.about_factory_picture %}
                            src="{{ about.about_factory_picture.thumb.url }}"
                            data-src="{{ about.about_factory_picture.w480.url }}"
                            {% else %}
                            src="{% static 'images/about/factory_th.jpg' %}"
                            data-src="{% static 'images/about/factory_480.jpg' %}"
                            {% endif %}
                            width=""
                            height=""
                    />
                </div>

                <p class="text">
                    {% if about %}
                        {{ about.about_factory }}
                    {% else %}
                        Деревообрабатывающее предприятие, на котором производятся дома CUBO было основано в 1994 году и
                        ходе
                        развития вышло на производство клееных изделий с полным технологическим циклом.
                        К настоящему времени предприятие имеет свою инфраструктуру, которая начинается заготовкой леса и
                        заканчивается производством изделий деревообработки. Площадь предприятия составляет 1,8 га, из
                        них
                        производственные площади - 3500 м². Численность работающих - 250 человек.
                    {% endif %}

                </p>
            </div>
        </div>

    </section>

    <section id="capacity" class="capacity">
        <div class="container">
            <header>
                <h4>
                    {% if about.capacity_title %}
                        {{ about.capacity_title }}
                    {% else %}
                        Производственные мощности
                    {% endif %}
                </h4>
            </header>
            <div class="body">
                <p>
                    {% if about.capacity_sub_title %}
                        {{ about.capacity_sub_title }}
                    {% else %}
                        Общая площадь производственных цехов составляет более 3 500 м² в том числе:
                    {% endif %}
                </p>
                {% if about.capacity_body %}
                    {{ about.capacity_body|safe }}
                {% else %}
                    <ul>
                        <li>Участок распиловки</li>
                        <li>Сушильный комплекс</li>
                        <li>Столярный комплекс</li>
                        <li>Дверной цех</li>
                        <li>Погонажный цех</li>
                        <li>Прессовый цех</li>
                        <li>Механический участок</li>
                        <li>Транспортный участок</li>
                        <li>Складской комплекс</li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>


{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/about/about.min.js' %}"></script>
{% endblock scripts %}