{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>Header Slider</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic%7CCormorant+Garamond:300,400,400i,600,700">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ars_style.css' %}">

    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="{% static 'scripts/html5shiv.min.js' %}"></script>
    <![endif]-->
</head>
<body>


<!-- Page-->
<div class="page">
    <!--END PANEL-->
    <div class="preloader">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>
    <!-- Page header-->
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar_transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
                 data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                 data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static"
                 data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true"
                 data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true"
                 data-lg-stick-up-offset="120px" data-xl-stick-up-offset="35px" data-xxl-stick-up-offset="35px"
                 data-body-class="rd-navbar-absolute">
                <div class="rd-navbar-inner rd-navbar-search-wrap">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel rd-navbar-search_collapsable">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img
                                src="images/CUBO_logo.svg" alt="" width="90px"/></a></div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                        <div class="rd-navbar-search_collapsable">
                            <ul class="rd-navbar-nav">
                                <!--                                <li class="active"><a href="index.html">Главная</a>-->
                                <!--                                </li>-->
                                <li><a href="#">Каталог проектов</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="#">Дома серии CUBO VR</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="standard-post.html">Одноэтажные</a></li>
                                                <li><a href="nonstandard-post-with-sidebar.html">Двухэтажные</a></li>
                                                <li><a href="nonstandard-post.html">Террасные модули</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Дома серии CUBO FR</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="classic-blog.html">Одноэтажные</a></li>
                                                <li><a href="grid-blog.html">Двухэтажные</a></li>
                                                <li><a href="masonry-blog.html">Террасные модули</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Отделка и коммуникации</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="catalog-list.html">Наружная отделка</a>
                                        </li>
                                        <li><a href="catalog-grid.html">Внутренняя отделка</a>
                                        </li>
                                        <li><a href="single-product.html">Внутренние коммуникации</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contacts.html">Завод</a>
                                <li><a href="contacts.html">CUBO business</a>
                                <li><a href="contacts.html">Сотрудничество</a>
                                <li><a href="contacts.html">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Slider -->
    <section class="main-screen flex-center">
        <!--        <div class="circle-bg"></div>-->
        <div class="container">
            <div class="grid grid-2c padding-100">
                <div class="textBox">
                    <h2 data-caption-animate="fadeIn" class="fadeIn animated">CUBO</h2>
                    <p data-caption-animate="fadeIn" class="fadeIn animated">Автор и создатель уникальной технологии
                        сборно-разборных домов, основанной на стандартизации
                        основных несущих конструкций. </p>
                    <a href="#" class="gray fadeIn animated" data-caption-animate="fadeIn">
                        <div class="button button-primary">ПОДРОБНЕЕ</div>
                    </a>
                </div>
                <div class="imageBox flex-center">

                    <img data-caption-animate="slideInRight" class="slideInRight animated"
                         src="{% static 'images/CUBO_3.png' %}" width="800"/></div>
            </div>
        </div>
    </section>
    <section>
        <div class="swiper-container swiper-slider" data-simulate-touch="true" data-loop="true" data-autoplay="false">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-gray-lighter white-color" data-slide-bg="{% static 'images/slider/design.jpg' %}">
                    <div class="swiper-slide-caption text-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 data-caption-animate="fadeInUpSmall"><span>Не ограниченные</span></h2>
                                    <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="200">возможности
                                        дизайна</h4>
                                    <div class="group-lg group-middle"><a class="button button-primary"
                                                                          data-caption-animate="fadeInUpSmall"
                                                                          data-caption-delay="350"
                                                                          href="catalog-grid.html">ПОДРОБНЕЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg-gray-lighter white-color" data-slide-bg="{% static 'images/slider/facilities.jpg' %}">
                    <div class="swiper-slide-caption text-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 data-caption-animate="fadeInUpSmall"><span>Уникальные</span></h2>
                                    <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="200">
                                        Возможности для собственника дома CUBO
                                    </h4>
                                    <div class="group-lg group-middle"><a class="button button-primary"
                                                                          data-caption-animate="fadeInUpSmall"
                                                                          data-caption-delay="350"
                                                                          href="catalog-grid.html">ПОДРОБНЕЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg-gray-lighter" data-slide-bg="{% static 'images/slider/quality.jpg' %}">
                    <div class="swiper-slide-caption text-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 data-caption-animate="fadeInUpSmall"><span>Гарантии</span></h2>
                                    <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="200">
                                        качества и надежности
                                    </h4>
                                    <div class="group-lg group-middle"><a class="button button-primary"
                                                                          data-caption-animate="fadeInUpSmall"
                                                                          data-caption-delay="350"
                                                                          href="catalog-grid.html">ПОДРОБНЕЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg-gray-lighter white-color" data-slide-bg="{% static 'images/slider/simplicity.jpg' %} ">
                    <div class="swiper-slide-caption text-left">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 data-caption-animate="fadeInUpSmall"><span>Простота</span></h2>
                                    <h4 data-caption-animate="fadeInUpSmall" data-caption-delay="200">
                                        сборки и транспортировки
                                    </h4>
                                    <div class="group-lg group-middle"><a class="button button-primary"
                                                                          data-caption-animate="fadeInUpSmall"
                                                                          data-caption-delay="350"
                                                                          href="catalog-grid.html">ПОДРОБНЕЕ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination"></div>
            <!-- Swiper Navigation-->
            <div class="swiper-button-prev linear-icon-chevron-left"></div>
            <div class="swiper-button-next linear-icon-chevron-right"></div>
        </div>
    </section>

    <section class="section-lg bg-default">
        <div class="container text-center">
            <h4>Готовые решения</h4>
            <!-- Bootstrap tabs-->
            <div class="tabs-custom tabs-vertical row no-gutters" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs nav-custom nav-custom-tabs col-md-3">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1"
                                                                data-toggle="tab">Одноэтажные</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Двухэтажные</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Террасные
                        модули</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-5" data-toggle="tab">Дизайн
                        интерьера</a></li>
                </ul>
                <div class="tab-content text-left col-md-9">
                    <div class="tab-pane fade show active" id="tabs-1-1">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel carousel-product" data-items="1" data-md-items="1" data-lg-items="2"
                             data-xl-items="3" data-stage-padding="0" data-loop="false" data-margin="50"
                             data-mouse-drag="false" data-nav="true">
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_1_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_2_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_3_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_1_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_2_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/350/CUBO_3_350.png"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Одноэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-2">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel carousel-product" data-items="1" data-md-items="1" data-lg-items="2"
                             data-xl-items="3" data-stage-padding="0" data-loop="false" data-margin="50"
                             data-mouse-drag="false" data-nav="true">

                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_3_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_2_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_3_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_2_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li><a href="#">Двухэтажные</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-3">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel carousel-product" data-items="1" data-md-items="1" data-lg-items="2"
                             data-xl-items="3" data-stage-padding="0" data-loop="false" data-margin="50"
                             data-mouse-drag="false" data-nav="true">

                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_2_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_3_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_2_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO FR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO FR 185</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_3_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 285</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">CUBO VR</a></li>
                                            <li>
                                                <a href="#">Террасныемодули</a>
                                            </li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">CUBO VR 85</a></h6>
                                        <!--                                        <p class="product-price"><span>40</span>-->
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span><span>ПОСМОТРЕТЬ</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-5">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel carousel-product" data-items="1" data-md-items="1" data-lg-items="2"
                             data-xl-items="3" data-stage-padding="0" data-loop="false" data-margin="50"
                             data-mouse-drag="false" data-nav="true">
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="{% static 'images/350/CUBO_1_350.png' %}"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span>new</span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Классический дизайн</a>
                                        </h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_2_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span></span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Классический дизайн
                                            2</a></h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_3_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span></span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Дизайн VR</a></h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_4_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span></span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Дизайн в стиле
                                            modern</a></h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_5_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span>HOT!</span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Столичный дизайн</a>
                                        </h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_6_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span></span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Классический дизайн</a>
                                        </h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="product product-grid">
                                    <div class="product-img-wrap"><img
                                            src="images/CUBO/interior/350/CUBO_int_7_350.jpg"
                                            alt="" width="300" height="300"/>
                                        <div class="product-label-wrap"><span></span></div>
                                    </div>
                                    <div class="product-caption">
                                        <ul class="product-categories">
                                            <li><a href="#">Дизайн интерьера</a></li>
                                        </ul>
                                        <h6 class="product-title"><a href="single-product.html">Классический дизайн</a>
                                        </h6>
                                        </p><a class="button-gray-light-outline button button-icon button-icon-left"
                                               href="single-product.html"><span
                                            class="icon icon-md"></span>ПОДРОБНЕЕ<span></span></a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-limit bg-gray-lighter bg-image bg-image-9">
        <div class="container">
            <div class="row justify-content-md-left">
                <div class="col-md-8 section-xl section-xl_bigger">
                    <h2 class="wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration="1.2s">УНИКАЛЬНЫЙ ПРОЕКТ</h2>
                    <h4 class="wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1.2s">Не хотите готовый
                        проект?</h4>
                    <p class="wow fadeInUpSmall" data-wow-delay=".8s" data-wow-duration="1.2s">
                        Оставьте заявку на индивидуальное решение
                    </p>
                    <div id="form-wrapper">
                        <form class="rd-mailform_style-2 name-phone-form">
                        <div class="form-wrap">
                            <input class="form-input" id="contact-name" type="text" name="username">

                            <label class="form-label" for="contact-name">Имя</label>
                        </div>
                        <div class="form-wrap">
                            <input class="form-input" id="contact-phone" type="text" name="phone_number">
                            <label class="form-label" for="contact-phone">Номер телефона</label>
                        </div>
                        <div class="form-wrap checkbox">
                            <input id="contact-agree" type="checkbox" name="agree">
                            <label id="span-contact-agree"  for="contact-agree">Согласен с обработкой
                            <a href="#">персональных данных</a></label>

                        </div>
                        <button class="button button-primary" type="submit">Оставить заявку</button>


                    </form>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="pre-footer-corporate">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                    <h6>О нас</h6>
                    <p>Наша компания является автором и создателем концепции сборно-разборных домов основанный на
                        стандартизации основных несущих конструкций. В 2021 году мы запустили серийный выпуск домов под
                        торговой маркой CUBO. Серийное производство позволяет обеспечить высокое качество продукции и
                        оптимизировать стоимость производства. </p>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                    <h6>Навигация</h6>
                    <ul class="list-xxs">
                        <li><a href="#">КАТАЛОГ ПРОЕКТОВ</a></li>
                        <li><a href="#">ОТДЕЛКА И КОММУНИКАЦИИ</a></li>
                        <li><a href="#">ЗАВОД</a></li>
                        <li><a href="#">CUBO BUSINESS</a></li>
                        <li><a href="#">СОТРУДНИЧЕСТВО</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                    <h6>Новое на сайте</h6>
                    <ul class="list-xs">
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="standard-post.html">Дом CUBO VR 300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="standard-post.html">Дом CUBO VR 300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="standard-post.html">Дом CUBO VR 300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    <h6>Контакты</h6>
                    <ul class="list-xs">
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Адрес</dt>
                                <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Телефоны</dt>
                                <dd>
                                    <ul class="list-semicolon">
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>E-mail</dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Время работы</dt>
                                <dd>Пн - Пт: 10:00 - 20:00</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer-corporate">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights"><a
                        href="privacy-policy.html">Политика конфиденциальности</a></p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-vimeo" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-pinter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<script src="{% static 'scripts/core.min.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/ars_script.js' %}"></script>

</body>
</html>