{% extends 'superbase.html' %}
{% load static lineup %}


{% block seo_title %}
    {% if home_data %}
        {{ home_data.seo_title }}
    {% else %}
        CUBO
    {% endif %}
{% endblock seo_title %}
{% block seo_description %}
    {% if home_data %}
        {{ home_data.seo_description }}
    {% else %}
        CUBO Главная страница
    {% endif %}
{% endblock seo_description %}


{% block header_class %}home{% endblock header_class %}
{% block content %}
    <section class="main-screen vh padding">
        <div class="main-screen__bg_img pc"
             style="background-image: url({% static 'images/home_page/main_screen_pc.jpg' %})"></div>
        <div class="main-screen__bg_img mobile"
             style="background-image: url({% static 'images/home_page/main_screen_mobile.jpg' %})"></div>
        <div class="container">
            <div class="main-screen__content">
                <h1>CUBO</h1>
                <h2>Современные дома по уникальной технологии</h2>
                <a class="main-screen__button" href="#lines">
                    Подробнее
                    <img src="{% static 'icons/right_white.svg' %}" alt="стрелка вправо"/>
                </a>
            </div>
        </div>
    </section>
    <section class="timeline-container padding" id="timeline-1"
             data-bg-src="{% static 'images/home_page/timeline_1920.jpg' %}"
             data-bg-3000-src="{% static 'images/home_page/timeline_3000.jpg' %}"
             data-bg-src-mobile="{% static 'images/home_page/timeline_700.jpg' %}">
        <div class="container">
            <div class="catalog-header">
                <h4>ПРЕИМУЩЕСТВА ДОМОВ CUBO</h4>
            </div>
            <div class="tl-content">
                <div class="tl-item">
                    <h3>КАЧЕСТВО И НАДЕЖНОСТЬ</h3>
                    <p class="timeline__content-desc">Компания CUBO ДОМ является производителем сборно-разборных
                        домов CUBO. Благодаря тому, что все элементы изготавливается на заводе процесс сборки домов
                        исключает ошибки монтажа и занимает считанные дни. Мы имеем всю необходимую инфраструктуру,
                        которая обеспечивает высокое качество выпускаемой продукции на всех этапах производства. На
                        каждом этапе проводится контроль качества в соответствии с международными стандартами.
                        Конструкции панелей выполняются из клеенного бруса что обеспечивает длительный срок
                        службы.</p>
                </div>
                <div class="tl-item">
                    <h3>ДИЗАЙН БЕЗ ГРАНИЦ</h3>
                    <p class="timeline__content-desc">Дома CUBO имеют уникальный экстерьер. Высокие потолки и
                        открытое пространство дают неограниченные возможности для создания практически любого
                        дизайна, а мульти модульная концепция позволяет увеличивать площадь дома за счет быстрого
                        возведения новых модулей.</p>
                </div>
                <div class="tl-item">
                    <h3>СТАЛЬНОЙ ХАРАКТЕР</h3>
                    <p class="timeline__content-desc">Несмотря на то что дома CUBO являются сборно-разборными,
                        система натяжных тросов обеспечивает им гораздо большую прочность в сравнении с каркасными и
                        щитовыми домами. Технология применения натяжных тросов не нова и давно применяется в
                        промышленном строительстве. Например, система тросов обеспечивает устойчивость и прочность
                        таким объектам как Останкинская телебашня, подвесные мосты, нефтяные резервуары и другим
                        сложнейшим сооружениям. </p>
                </div>

                <div class="tl-item">
                    <h3>УНИКАЛЬНЫЕ ВОЗМОЖНОСТИ</h3>
                    <p class="timeline__content-desc">Возможность разобрать и отвезти дом в другую локацию открывает
                        новые возможности для владельцев домов CUBO. Возможно эта опция и не пригодится, но она
                        позволяет владельцу выбор действий, например, необходимо ли производить регистрационные
                        действия с домом и когда. Эти качества домов также позволяют арендовать землю и поставить
                        дом там, где строительство недвижимого имущества может быть запрещено, а при необходимости
                        разобрать для хранения или возвести на новом месте (хоть в другой стране для себя или
                        перепродажи).</p>
                </div>

            </div>
        </div>


    </section>
    <section class="lines padding" id="lines">
        <div class="container">
            <div class="catalog-header">
                <h4>Конструкция дома</h4>
            </div>
        </div>

        <div class="container content">
            <div id="mobile_lines">
                <img src="{% static 'images/home_page/lines/img_min_400.jpg' %}" alt="дом в разрезе">
            </div>
            <div class="secondary-img" id="sec_1"><img src="{% static 'images/home_page/lines/1.png' %}" alt="базальтовая плита"/>
            </div>
            <div class="secondary-img" id="sec_2"><img src="{% static 'images/home_page/lines/2.png' %}" alt="стальной тросс"/>
            </div>
            <div class="secondary-img" id="sec_3"><img src="{% static 'images/home_page/lines/3.png' %}"
                                                       alt="влагостойкий ОСП-3"/></div>
            <div class="secondary-img" id="sec_4"></div>
            <div class="secondary-img" id="sec_5"><img src="{% static 'images/home_page/lines/5.png' %}"
                                                       alt="профилированный клееный брус"/></div>


            <div class="text" id="sec-text-1">
                <span class="">
                    Утепление базальтовыми плитами толщиной 150 мм
                </span>
            </div>
            <div class="text" id="sec-text-2">
                <span class="">
                    Система крепления для сборки дома стальными тросами. Обеспечивает прочность соединения швов панели
                    и усиление на разрыв более 14 тонн
                </span>
            </div>
            <div class="text" id="sec-text-3">
                <span class="">
                    Двустороння обшивка панелей влгостойким ОСП-3 толщиной 12 мм
                </span>
            </div>
            <div class="text" id="sec-text-4">
                <span class="">
                    Профессиональный изоляционные метариалы внутренний слой обеспечивает пароизоляцию наружный слой
                    супердифузионная мембрана
                </span>
            </div>
            <div class="text" id="sec-text-5">
                <span class="">
                    Профилированный клееный брус обладает лучшими прочностными характеристиками и обеспечивает
                    надежное герметичное соединения
                </span>
            </div>


            <div class="line" id="line-1"><span></span></div>
            <div class="line" id="line-2"><span></span></div>
            <div class="line" id="line-3"><span></span></div>
            <div class="line" id="line-4"><span></span></div>
            <div class="line" id="line-5"><span></span></div>


            <div class="center-img">
                <img src="{% static 'images/home_page/lines/CUBO_ines.png' %}" alt="Конструкция дома в разрезе"/>
                <div id="roof">крыша</div>
                <div id="wall">стена</div>
                <div id="floor">пол</div>
            </div>

        </div>


    </section>
    <section class="collage">
        <div class="container">
            <div class="collage_wrapper">
                <div class="item">
                    <img src="{% static 'images/home_page/collage/collage_1.jpg' %}" alt="Профилированный клееный брус вид 1">
                </div>
                <div class="item">
                    <img src="{% static 'images/home_page/collage/collage_2.jpg' %}" alt="Профилированный клееный брус вид 2">
                </div>
                <div class="item">
                    <img src="{% static 'images/home_page/collage/collage_3.jpg' %}" alt="Профилированный клееный брус вид 3">
                </div>
                <div class="item">
                    <img src="{% static 'images/home_page/collage/collage_4.jpg' %}" alt="Профилированный клееный брус вид 4">
                </div>


            </div>

        </div>
    </section>

    <section class="design padding">
        <div class="container">
            <div class="catalog-header">
                <h4>Дизайн интерьера</h4>
            </div>
            <div class="design_wrapper">
                <div class="item">
                    <img
                            alt="Дизайн интерьера вариант 1"
                            class="lazy"
                            src="{% static 'images/home_page/design/des_1_th.jpg' %}"
                            data-srcset="{% static 'images/home_page/design/des_1_min.jpg' %} 480w,
                                                 {% static 'images/home_page/design/des_1.jpg' %} 1400w"
                            data-sizes="(max-width: 767px) 480px,
                                                1400px"
                    />
                </div>
                <div class="item">
                    <img
                            alt="Дизайн интерьера вариант 2"
                            class="lazy"
                            src="{% static 'images/home_page/design/des_2_th.jpg' %}"
                            data-srcset="{% static 'images/home_page/design/des_2_min.jpg' %} 480w,
                                                 {% static 'images/home_page/design/des_2.jpg' %} 700w"
                            data-sizes="(max-width: 767px) 480px,
                                                700px"
                    />
                </div>
                <div class="item">
                    <img
                            alt="Дизайн интерьера вариант 3"
                            class="lazy"
                            src="{% static 'images/home_page/design/des_3_th.jpg' %}"
                            data-srcset="{% static 'images/home_page/design/des_3_min.jpg' %} 480w,
                                                 {% static 'images/home_page/design/des_3.jpg' %} 700w"
                            data-sizes="(max-width: 767px) 480px,
                                                700px"
                    />
                </div>


            </div>

        </div>
    </section>
    {% lineup %}
{% endblock content %}


{% block scripts %}
    <script src="{% static 'scripts/home_page/home_page.min.js' %}"></script>
{% endblock scripts %}