{% extends 'superbase.html' %}
{% load static %}

{% block seo_title %}{{ home_data.seo_title }}{% endblock seo_title %}
{% block seo_description %}{{ home_data.seo_description }}{% endblock seo_description %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/swiper-bundle.min.css' %}">
{% endblock styles %}

{% block content %}
    <section class="main vh">
        <div class="swiper-container-header">
            <div class="swiper-wrapper-h">
                <div class="swiper-slide-h vh">
                    {#                    <img#}
                    {#                            alt="альтернативный текст"#}
                    {#                            class="lazy"#}
                    {#                            src="{% static 'images/single_page/thumbs/1-modul-fas-1.jpg' %}"#}
                    {#                            data-src="{% static 'images/для сайта/Фото 3.jpg' %}"#}
                    {#                            data-srcset="{% static 'images/для сайта/Фото 3.jpg' %} 450w,#}
                    {#                                                 {% static 'images/для сайта/Фото 3.jpg' %} 720w,#}
                    {#                                                 {% static 'images/для сайта/Фото 3.jpg' %} 1000w#}
                    {#                                                {% static 'images/для сайта/Фото 3.jpg' %} 2000w"#}
                    {#                            data-sizes="(max-width: 767px) 450px,#}
                    {#                                                (max-width: 1199px) 720px,#}
                    {#                                                (max-width: 1300px) 1000px,#}
                    {#                                                2000px"#}
                    {#                    />#}
                    <div class="bg_img pc " style="background-image: url({% static 'images/heade_1r.jpg' %})"></div>
                    <div class="bg_img mobile vh"
                         style="background-image: url({% static 'images/header_mob.jpg' %})"></div>
                    <div class="container">
                        <div class="header-card white-text">
                            <h1>CUBO</h1>
                            <h2>Современные дома по уникальной технологии</h2>
                            <a class="more-button" href="{% url 'about' %}">
                                Подробнее <span class="fas fa-chevron-right"></span>
                            </a>
                        </div>
                        <div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="timeline-container" id="timeline-1">
        <div class="timeline-header">
            <h2 class="timeline-header__title">ПОЧЕМУ ВЫБИРАЮТ CUBO</h2>
            <h3 class="timeline-header__subtitle">И ЧТО В НАС УНИКАЛЬНОГО</h3>
        </div>
        <div class="timeline">
            <div class="timeline-item ti-active" data-text="ГАРАНТИРУЕМ КАЧЕСТВО И НАДЕЖНОСТЬ" data-text-mobile="1">
                <span class="right title">ГАРАНТИРУЕМ КАЧЕСТВО И НАДЕЖНОСТЬ</span>
                <div class="timeline__content">
                    <div data-bg-src="{% static 'images/time_line/uniq_1920.jpg' %}"
                         data-bg-src-mobile="{% static 'images/time_line/uniq_1920.jpg' %}"
                         class="timeline__img"
                         src="{% static 'images/time_line/uniq_460.jpg' %}"></div>
                    {#                    <h2 class="timeline__content-title pc">CUBO</h2>#}
                    <h2 class="timeline__content-title mobile">ГАРАНТИРУЕМ КАЧЕСТВО И НАДЕЖНОСТЬ</h2>
                    <p class="timeline__content-desc">Компаниия CUBO имеет налаженную инфраструктуру. Мы занимаемся
                        всеми
                        этапами производства. Начиная заготовкой леса и заканчивая изготовлением каждой детали дома.
                        После
                        каждого этапа обязательно проводится контроль качества. Наши кострукции из клеенного бруса имеют
                        высокие тепло и звукоизоляционные характеристики и обеспечивают длительный срок службы. Все
                        детали
                        имеют заводское качество и стыкуются как конструктор что исключает ошибки монтажа.</p>
                </div>
            </div>
            <div class="timeline-item ti-active" data-text="НЕОГРАНИЧЕННЫЕ ВОЗМОЖНОСТИ ДИЗАЙНА" data-text-mobile="2">
                <span class="left title">НЕОГРАНИЧЕННЫЕ ВОЗМОЖНОСТИ ДИЗАЙНА</span>
                <div class="timeline__content">
                    <div data-bg-src="{% static 'images/time_line/design_1920.jpg' %}"
                         data-bg-src-mobile="{% static 'images/time_line/design_1920.jpg' %}"
                         class="timeline__img"
                         src="{% static 'images/time_line/design_460.jpg' %}"></div>
                    {#                    <h2 class="timeline__content-title pc">CUBO</h2>#}
                    <h2 class="timeline__content-title mobile">НЕОГРАНИЧЕННЫЕ ВОЗМОЖНОСТИ ДИЗАЙНА</h2>
                    <p class="timeline__content-desc">Дома CUBO имеют уникальный дизайн. Высокие потолки и открытое
                        пространство дают неограниченные вызможности для создания любого дизайна. Все наши покупатели
                        могут увеличить площадь дома засчет новых модулей.</p>
                </div>
            </div>
            <div class="timeline-item ti-active" data-text="УНИКАЛЬНЫЕ ВОЗМОЖНОСТИ" data-text-mobile="3">
                <span class="right title">УНИКАЛЬНЫЕ ВОЗМОЖНОСТИ</span>
                <div class="timeline__content">
                    <div data-bg-src="{% static 'images/time_line/factory_1920.jpg' %}"
                         data-bg-src-mobile="{% static 'images/time_line/factory_1920.jpg' %}"
                         class="timeline__img"
                         src="{% static 'images/time_line/factory_460.jpg' %}"></div>
                    {#                    <h2 class="timeline__content-title pc">CUBO</h2>#}
                    <h2 class="timeline__content-title mobile">УНИКАЛЬНЫЕ ВОЗМОЖНОСТИ</h2>
                    <p class="timeline__content-desc">Нашим покупателям не нужно заниматься получением разрешения на
                        строительство, регистрировать дом и платить налог на недвижимость. Можно даже арендовать землю и
                        поставить дом там, где строительство запрещено (в лесу, в горах или на берегу). А при желании
                        разобрать на хранение или перевести дом на новое место. Хоть в другую страну для себя или
                        перепродажи.</p>
                </div>
            </div>
            {#            <div class="timeline-item" data-text="ПРОСТОТА И СКОРОСТЬ СБОРКИ" data-text-mobile="4">#}
            {#                <span class="left title">ПРОСТОТА И СКОРОСТЬ СБОРКИ</span>#}
            {#                <div class="timeline__content"><div data-bg-src="{% static 'images/time_line/building_1920.jpg' %}"#}
            {#                                                    data-bg-src-mobile="{% static 'images/time_line/building_1920.jpg' %}"#}
            {#                                                    class="timeline__img"#}
            {#                                                    src="{% static 'images/time_line/building_460.jpg' %}"></div>#}
            {#                    <h2 class="timeline__content-title pc">CUBO</h2>#}
            {#                    <h2 class="timeline__content-title mobile">ПРОСТОТА И СКОРОСТЬ СБОРКИ</h2>#}
            {#                    <p class="timeline__content-desc">Каждая деталь CUBO разработана и выполнена так, чтобы обеспечить#}
            {#                        простоту и скорость сборки. Легкий вес деталей упрощает транспортировку. Монтаж не требует#}
            {#                        подъемной#}
            {#                        техники. Также не нужны саморезы, винты и электроинструмент. В итоге сборка наших домов требует#}
            {#                        не#}
            {#                        более двух человек и двух дней.</p>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>
    <section class="lines">
        <div class="container">
            <img src="{% static 'images/CUBO_ines.png' %}" width="500px"/>
        </div>


    </section>
    <section class="lines right">
        <div class="container">
            <img src="{% static 'images/CUBO_ines.png' %}" width="500px"/>
        </div>


    </section>
    <section class="catalog-section">
        <div class="container">
            <div class="catalog-header">
                <h4>Модельный ряд</h4>
                <a href="{% url 'houses_list' %}">Перейти в каталог <span class="fas fa-chevron-right"></span></a>
            </div>
            <div class="catalog-nav">
                <div class="tabs-controls">
                    <div class="tabs-controls-wrapper catalog">
                        <div class="container">
                            <div class="tabs-slider">
                                {#                        <div class="mask"></div>#}
                                <div class="tabs-controls-item catalog active" data-for="tab-10">
                                    <div>
                                        <span>CUBO FLAT (4)</span>
                                    </div>
                                </div>
                                <div class="tabs-controls-item catalog" data-for="tab-20">
                                    <div>
                                        <span>CUBO BENT (2)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="catalog-body">
                <div class="tabs-content">
                    <div id="tab-10" class="body-item catalog active">
                        <div class="swiper-container-catalog" id="swiper1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next " id="next1"></div>
                            <div class="swiper-button-prev " id="prev1"></div>
                        </div>

                    </div>
                    <div id="tab-20" class="body-item catalog">
                        <div class="swiper-container-catalog" id="swiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-item white b-shadow">
                                        <div class="item-wrapper">
                                            <div class="item-category">
                                                <span>Одноэтажный</span>
                                            </div>
                                            <div class="item-title">
                                                <h4>FLAT F48</h4>

                                            </div>
                                            <div class="item-picture">
                                                <img
                                                        alt="Вид сбоку"
                                                        class="lazy"
                                                        src="{% static 'images/CUBO_FLAT_71/4_th.jpg' %}"
                                                        data-src="{% static 'images/CUBO_FLAT_71/4_400x267.jpg' %}"
                                                />

                                            </div>
                                            <div class="item-min-price">
                                                от <span class="price">1 439 000</span> руб.
                                            </div>
                                            <div class="item-full-price">
                                                <div class="caption">"Под ключ"</div>
                                                <div class="full-price">
                                                    от <span class="price">2 152 000</span> руб.
                                                </div>

                                            </div>
                                            <div class="item-link">
                                                <a href="#" class="btn-a diagonal black">
                                                    <span>Подробнее</span>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next " id="next2"></div>
                            <div class="swiper-button-prev " id="prev2"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    {#        <section class="main__cards">#}
    {#            <div class="container">#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="icon"><img src="{% static 'images/icons/cooperation.png' %}"/></div>#}
    {#                    <div class="caption">#}
    {#                        <a href="#">Сотрудничество</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="icon"><img src="{% static 'images/icons/business.png' %}"/></div>#}
    {#                    <div class="caption">#}
    {#                        <a href="#">CUBO BUSINESS</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="icon"><img src="{% static 'images/icons/contacts.png' %}"/></div>#}
    {#                    <div class="caption">#}
    {#                        <a href="{% url 'contacts' %}">Связаться с нами</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}

    {#     <section class="main__cards">#}
    {#            <h3>Дом <span>CUBO</span> это просто!</h3>#}
    {#            <div class="container">#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="number">#}
    {#                        <span>1</span>#}
    {#                    </div>#}
    {#                    <div class="title">#}
    {#                        <h3>Заявка</h3>#}
    {#                    </div>#}
    {#                    <div class="body">#}
    {#                        <p>Вы звоните или оставляете заявку на сайте, мы Вас консультируем и уточняем детали.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="icon"><img src="{% static 'images/icons/business.png' %}"/></div>#}
    {#                    <div class="caption">#}
    {#                        <a href="#">CUBO BUSINESS</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="item b-shadow white">#}
    {#                    <div class="icon"><img src="{% static 'images/icons/contacts.png' %}"/></div>#}
    {#                    <div class="caption">#}
    {#                        <a href="{% url 'contacts' %}">Связаться с нами</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}

{% endblock content %}


{% block scripts %}

    <script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'scripts/lazy.min.js' %}"></script>
    <script src="{% static 'scripts/home_1.js' %}"></script>
{% endblock scripts %}