.accordion {
    width: 100%;
}

.accordion .contentBx {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}


.accordion .contentBx .label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 40px;
}

.accordion .contentBx .label::before {
    content: '\e93c';
    font: 400 24px/24px Linearicons;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(0);
    transition: all 0.3s;
}

.accordion .contentBx.active .label::before{
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.3s;
}

.accordion .contentBx .content{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion .contentBx.active .content{
    padding: 25px 0;
    transition: all 0.3s ease;
}