* {
    scroll-behavior: smooth;
}

a:hover {
    color: #888;
    text-decoration: none;
}

body {
    background: #F7F7F7;
}

.white {
    background: #fff;
}

.b-shadow {
    box-shadow: 0 2px 11px 0 #e4e4e4;
}

html.modal-show {
    padding-right: 17px;
}

a.gray div.button-primary,
button.button.button-primary {
    background-color: #1B1C17;
    color: #fff;
}

button.button.button-primary:hover {
    background-color: #363734;
}

.rd-navbar-nav > li.active > a, .rd-navbar-sidebar .rd-navbar-nav > li.opened > a, .rd-navbar-sidebar .rd-navbar-nav > li.active > a {
    color: #1B1C17;
    font-weight: 700;
}


.swiper-slide.white-color div a {
    background-color: #fff;
    color: #1B1C17;
    border-color: #fff;
    opacity: 0.2;
}

.page .swiper-slide.white-color .button-primary:hover,
.page .swiper-slide.white-color .button-primary:focus,
.page .swiper-slide.white-color .button-primary:active,
.page .swiper-slide.white-color .button-primary:hover {
    color: #1B1C17;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.85);;
}

.swiper-slide.white-color h2,
.swiper-slide.white-color h4 {
    color: #fff;

}

.grid {
    display: grid;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2c {
    grid-template-areas: "textBox imgBox";
    grid-template-columns: 40% 60%;
}

@media all and (max-width: 767px) {
    .grid-2c {
        grid-template-areas: "imgBox" "textBox ";
        grid-template-columns: unset;
        grid-template-rows: 50% 50%;
    }
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

section.main-screen {
    width: 100%;
    min-height: 100vh;

}

.textBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    grid-area: textBox;
}

.imageBox {
    padding-left: 25px;
    padding-bottom: 50px;
    grid-area: imgBox;
}

.imageBox img {
    width: 100%;
}


#form-wrapper {
    max-width: 400px;
}


.form-wrap.phone-number {
    position: relative;
}

.form-wrap.phone-number:before {
    position: absolute;
    content: "+";
    left: 5px;
    top: 13px;
}

@media all and (max-width: 767px) {
    .imageBox {
        padding-left: 0;
    }

    .padding-100 {
        padding: 0;
    }

    .bg-image-9 {
        background-image: url("../images/CUBO/interior/4_bg.jpg");

    }

    * + .button {
        margin-top: 50px;
    }

    .form-wrap.phone-number:before {
        top: 17px;
    }
}

.form-wrap.checkbox input {
    position: relative
}

.form-wrap.checkbox label {
    position: absolute;
    margin: 0;
    top: 1px;
    left: 34px;
    color: #000;
}

.form-wrap.checkbox label a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

img.confirm-spinner {
    width: 50px;
}

.form-wrap.checkbox.checkbox-error .checkbox-custom-dummy {
    border: 2px solid red;
}

.success-send {
    margin-top: 15px;
    padding: 15px;
    background-color: #3dff2f;
}

.error-send {
    margin-top: 15px;
    padding: 15px;
    background-color: red;
    /*color: #ff0015;*/
}


/*section.breadcrumbs-custom {*/
/*    margin-top: 100px;*/
/*}*/
@media all and (max-width: 768px) {
    section.breadcrumbs-custom {
        margin-top: 120px;
    }
}

@media all and (min-width: 768px) {
    section.breadcrumbs-custom {
        margin-top: 170px;
    }
}

@media all and (min-width: 1200px) {
    section.breadcrumbs-custom {
        margin-top: 200px;
    }
}

div.ol {
    padding-left: 40px;
}

/*.product-caption {*/
/*    min-width: 350px;*/
/*}*/

@media all and (max-width: 400px) {
    .product-img-wrap {
        width: unset;
    }
}

div .cart-favorites {
    display: flex;
}

/* MENU */

.rd-megamenu-list > li > p {
    font-size: 14px;
    color: #888;
    padding: 11px 56px 11px 18px;
}

.rd-megamenu-list li {
    height: 50px;
    margin-bottom: 5px;
}

.rd-megamenu-list li img {
    height: 50px;
    width: 75px;
    margin-right: 15px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.mobile-menu-item,
.rd-navbar-static .rd-navbar-nav > li.mobile-menu-item {
    display: none;
}


@media all and (max-width: 768px) {
    ul.rd-navbar-items-list.rd-navbar-search_collapsable {
        display: none;
    }

    li.mobile-menu-item a.icon {
        text-align: left;
    }

    .rd-navbar-fullwidth .rd-navbar-nav > li.mobile-menu-item,
    .rd-navbar-static .rd-navbar-nav > li.mobile-menu-item {
        display: inline-block;
    }
}


/*CONTACTS*/

.map {
    margin-top: 90px;
    min-height: 500px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.contacts {
    padding: 100px 0;
}

section.contacts h1 {
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 35px;
}

section.contacts .img {
    max-width: 60%;
}


/*CATALOG*/

.section__aside-left li a.active {
    text-decoration: underline;
}

.section__aside-left li ul.rd-navbar-dropdown {
    display: none;
    padding-left: 15px;
}

.section__aside-left li.active ul.rd-navbar-dropdown {
    display: block;
    padding-left: 15px;
}

/*HOME_DECORATIONS*/

.hd_wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_item {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hd_wrapper a:nth-child(n) {
    border-right: 1px solid #ebebeb;
}

.hd_wrapper a:nth-last-child(-n+1) {
    border-right: unset;
}

.hd_wrapper a:hover > span.bg,
.hd_wrapper .wrap:hover > span.bg {
    width: 100%;
    height: 100%;
    opacity: 1;
    color: #fff;
    text-align: center;
}

.hd_wrapper a:hover > .hd_item,
.hd_wrapper .wrap:hover > .hd_item {
    z-index: 3;
    opacity: 1;
    color: #fff;
}

.hd_wrapper a:hover > .bg .hd_title,
.hd_wrapper .wrap:hover > .bg .hd_title {
    font-size: 21px;
    opacity: 1;
    font-weight: 500;
    letter-spacing: 1px;
}

span.bg {
    position: absolute;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_title {
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: all 0.4s;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_hide {
    display: none;
}

@media all and (max-width: 770px) {
    section.home_decorations {
        padding: 20px 0;
    }

    .hd_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hd_wrapper a:nth-child(n) {
        border-right: unset;
        border-bottom: 1px solid #ebebeb;
    }

    .hd_wrapper a:nth-last-child(-n+1) {
        border-bottom: unset;
    }
}

.panel-custom.submenu-panel {
    padding: 15px 0;
}

.panel-custom.submenu-panel h6 {
    font-size: 12px;
}

form.sub-menu-form {
    display: flex;
    flex-direction: column;
}

form.sub-menu-form .form-wrap.checkbox label {
    position: unset;
}

.form-wrap.checkbox label {
    cursor: pointer;
}

.panel-custom .panel-custom-collapse .panel-custom-body.sidebar {
    padding: 25px 25px 30px 0;
}

.ol.sidebar {
    padding-left: 35px;
}

.section-divided__aside.section__aside-left > .section-sm.sub_menu {
    margin-right: 25px;
}


/*Product DEtail*/
.container.content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'content-slider content-info';
    /*'content-tabs content-tabs';*/
    gap: 25px;
}

.content-slider {
    grid-area: content-slider;
    position: relative;
    overflow: hidden;
}

:root {
    --swiper-theme-color: unset;
}

.swiper-container-detail {
    width: 100%;
    position: relative;
}

.swiper-slide img {
    width: 100%;
}

.swiper-container-detail .swiper-pagination {
    bottom: 3%;
}

.swiper-pagination-bullet {
    opacity: 0.5;
    background: #000;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
}

.content-info {
    grid-area: content-info;
    padding: 25px;
}

.content-info li {
    margin-bottom: 10px;
}

.content-info h6 {
    font-size: 14px;
    text-transform: unset;
    letter-spacing: unset;
}

.content-info h6 span.fas {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.content-info h6 span.fas:hover:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 300px;
    padding: 15px;
    color: #ddd;
    font-size: 12px;
    border-radius: 4px;
}

.content-info li span {
    font-weight: 700;
    font-size: 20px;
}

.min-info {
    margin: 15px 0 25px 0;
    font-size: 14px;

}

.min-info-item span {
    font-size: 16px;
    font-weight: 700;
}

.btn-a {
    position: relative;
    background-position: center center;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 15px;
    border: 1px solid #000;
    padding: 14px 30px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    transition: 0.3s all ease;
    cursor: pointer;
}

form .btn-a {
    margin-top: 25px;
}

@media all and (max-width: 1363px) {
    .content-wrapper {
        grid-template-columns: 5fr 2fr;
    }
}

@media all and (max-width: 1340px) {
    .btn-a {
        font-size: 14px;
    }
}

@media all and (max-width: 1245px) {
    .btn-a {
        padding: 14px 20px;
    }
}

@media all and (max-width: 1199px) {
    .btn-a {
        padding: 7px 12px;
        font-size: 12px;
        margin: 15px 0;
    }

    .content-info h6 {
        font-size: 12px;

    }

    .content-wrapper {
        grid-template-columns: 9fr 4fr;
    }

    .content-info li {
        margin-bottom: 10px;
    }

    .content-info li span {
        font-size: 16px;
    }

    .content-info h6 span.fas {
        font-size: 14px;

    }

    .min-info {
        font-size: 12px;
    }

    /*section.breadcrumbs-custom {*/
    /*    margin-top: unset;*/
    /*}*/
}

@media all and (max-width: 992px) {
    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'content-slider'
                         'content-info';
        /*'content-tabs';*/
        gap: 25px;
    }

    .content-info {
        display: flex;
        justify-content: space-between;
    }

    .min-info {
        margin: 0;
    }

    .btn-a {
        margin: 0 0 15px 0;
    }

    .content-info h6 span.fas:hover:after {
        right: -70px;
        width: 200px;
    }
}

@media all and (max-width: 768px) {
    .content-info {
        display: block;
    }


    .btn-a {
        margin: 20px 0 10px 0;
    }
}


/*.btn-a:focus,*/
/*.btn-a:active{*/
/*    color: #000;*/
/*}*/
.btn-a:hover,
.btn-a:active {
    color: #f1efef;
}

.btn-a.black:hover,
.btn-a.black:hover:active {
    color: #000;
}

.btn-a.black:focus,
.btn-a.black:active {
    color: #f1efef;
    z-index: 1;
}

.btn-a {
    background: unset;
    z-index: 2;
}

.black {
    background: #000 center center;
    color: #f1efef;
    z-index: 2;
}

.diagonal.black:hover {
    color: #000;
    background: unset;
}

.diagonal.black::before {
    box-sizing: border-box;
    background: #1B1C17 120% 120%;
    content: "";
    width: 120%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -2;
    transition: 0.3s all ease;
}


.diagonal::after {
    color: #f1efef;
    background: #1B1C17;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    transition: 0.3s all ease;
}

.diagonal:hover::after {
    background: #1B1C17;
    z-index: -1;
}

.diagonal.black:hover::after {
    background: #F7F7F7;
    z-index: -1;
}

.diagonal::after {
    width: 106%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.diagonal:hover::after {
    height: 903%;
}

.diagonal {
    background: #1B1C17 120% 120%;
}

.home-info {
    padding: 15px 0;
}

.tabs-controls {
    height: 50px;
    position: relative;
    overflow: hidden;
}

.secondary .tabs-controls {
    height: 40px;
    margin-bottom: 30px;
}

.tabs-controls:before {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #d7d7d7;
}

.secondary .tabs-controls:before {
    height: 2px;
}

.tabs-controls-wrapper {
    height: 100%;
    touch-action: pan-y;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

.tabs-controls-wrapper .container {
    padding: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

@media all and (max-width: 768px) {
    .home-info div.container.tab.secondary,
    .home-info div.container.tab,
    .tabs-content {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-width: unset;
    }

    /*.home-info div.container.tab.secondary {*/
    /*    width: 100%;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    max-width: 100%;*/
    /*}*/
    .tabs-controls-wrapper .container {
        max-width: 100%;
    }
}

.mask {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
    border-bottom-right-radius: 8px;
    height: 36px;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    width: 24px;
    z-index: 1;
}

.tabs-slider {
    width: max-content;
    height: 100%;
    display: flex;
}

.tabs-controls-wrapper .container::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

@media all and (min-width: 768px) {
    /*.tabs-controls-wrapper.scroll .container::-webkit-scrollbar {*/
    /*    opacity: 0;*/
    /*    height: 0;*/
    /*}*/
    /*.tabs-controls-wrapper.scroll .container:hover::-webkit-scrollbar {*/
    /*    height: 5px;*/
    /*    opacity: 0;*/
    /*    cursor: grab;*/
    /*}*/
    /*.tabs-controls-wrapper.scroll .container:hover::-webkit-scrollbar-thumb {*/
    /*    width: 15px;*/
    /*    height: 5px;*/
    /*    background: rgba(0, 0, 0, 0.3);*/
    /*    opacity: 1;*/
    /*    cursor: grab;*/
    /*}*/
}


@media all and (max-width: 768px) {
    .tabs-controls-wrapper .container::-webkit-scrollbar {
        opacity: 0;
        height: 0;
    }
}


.tabs-controls-item {
    cursor: pointer;

}

.tabs-controls-item div {
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
}

.tabs-controls-item.active div {
    border-bottom: 4px solid #000;
}

.secondary .tabs-controls-item.active div {
    border-bottom: 2px solid #000;
}

.tabs-content {
    overflow: hidden;
    padding-top: 15px;
}

#tab-options,
#tab-sizes {
    margin-top: 40px;
}

.tabs-controls-item div span {
    font-size: 15px;
}

.secondary .tabs-controls-item div span {
    font-size: 13px;
}

@media all and (max-width: 768px) {
    .tabs-controls-item div span {
        font-size: 11px;
    }

    .secondary .tabs-controls-item div span {
        font-size: 9px;
    }

    .tabs-controls {
        height: 40px;
    }

}

span.xx {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 12px;
}

span.x {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 12px;
    font-weight: 200;
}

.in-cost .buttons {
    padding-top: 25px;
    max-width: 320px;
    font-size: 16px;
}

@media all and (min-width: 768px) {
    .panel-custom {
        padding: 20px 0;
    }

    .panel-custom h6 {
        font-size: 16px;
    }
}

.tabs-content .body-item {
    display: none;
    transition: 0.3s all ease;
    font-size: 14px;
}

.tabs-content .body-item h6 a {
    font-size: 12px;
}

.tabs-content .body-item.active {
    display: block;
    transition: 0.3s all ease;
}

.tabs-content .container .container {
    padding: 0;
}


.catalog-section,
.home-info {
    padding: 50px 0;
    margin: 20px 0;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.catalog-header a {
    font-size: 14px;
}

.catalog-header a .fas {
    font-size: 12px;
    margin-left: 10px;
}

@media all and (max-width: 768px) {
    .swiper-pagination-bullet {
        width: 20px;
    }
}

@media all and (max-width: 393px) {
    .catalog-header a {
        font-size: 10px;
    }

    .catalog-header a .fas {
        font-size: 8px;
        margin-left: 6px;
    }

    .catalog-header h4 {
        font-size: 16px;
    }
}

.catalog-nav {
    padding: 25px 0;
}

.body-item.catalog {
    position: relative;
    padding: 15px 5px;
}

.swiper-container-catalog {
    width: 100%;
    position: relative
}

.swiper-container-catalog .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper-container-catalog .swiper-slide .product-item {
    height: 600px;
    width: 100%;
}

@media all and (max-width: 403px) {
    .swiper-container-catalog .swiper-slide .product-item {
        height: 550px;
    }
}

@media all and (max-width: 360px) {
    .swiper-container-catalog .swiper-slide .product-item {
        height: 500px;
    }
}

/************************/
.product-single h4 {
    margin-bottom: 30px;
}

.product-single h6.product-text {
    text-transform: unset;
    letter-spacing: 0.3px;
    margin: 0;
    font-size: 20px;
}

.product-single p.product-text {
    margin-top: 5px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.4px;
}

.product-single button {
    width: 250px;
    font-size: 12px;
    padding: 15px 25px;
    min-width: 265px;
    text-transform: uppercase;
}

.product-single button.button {
    margin-top: 30px;
}

.product-single button.button:last-child {
    margin-top: 8px;
}

body.show-modal {
    overflow: hidden;
}


div.modal {
    position: fixed;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
}

div.modal a {
    text-decoration: underline;
}

div.modal.active {
    display: unset;
}

div.register-form.modal-request form {
    /*max-width: 300px;*/
}

#modal-price-info form {
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

#modal-price-info form .form-wrap.checkbox {
    min-height: 25px;
    margin-top: 0;
}

@media all and (max-width: 768px) {
    #modal-price-info form .form-wrap.checkbox {
        min-height: 55px;
        margin-top: 0;
    }
}

h6.modal-subtitle {
    margin: 25px 0;
}

.modal-dialog.wow {
    animation-duration: 0.4s;
}

.select2-dropdown {
    z-index: 999999;
}

.button-right {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons-space {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.buttons-space .button,
.buttons-space .button.left {
    margin: 0;
}

/*Products Catalog*/

.row > .col-sm-12 {
    margin-bottom: 40px;
}

.product.product-grid .product-img-wrap {
    max-width: 300px;
}

/* Уведомления  */

.fetch {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    min-width: 120px;
    max-width: max-content;
    background-color: #1B1C17;
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 1000;
}

.fetch span.caption-1 {
    margin-left: 15px;
}

.fetch .fa {
    font-size: 20px;
}

@media all and (max-width: 768px) {
    .fetch {
        bottom: unset;
        top: 56px;
        width: 100%;
        max-width: unset;
        justify-content: center;
    }

}

#personal-layout,
#standard-layout {
    margin-top: 25px;
}

#standard-layout.hide {
    display: none;
}

#personal-layout.hide {
    display: none;
}

form {
    margin-top: 25px;
}

.modal-title-2,
hr.modal-title-2 {
    margin-top: 20px;
    font-size: 20px;
}

.modal-add {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0;
}

.modal-add * {
    margin: 0 25px 0 0;
    font-size: 14px;
}

button.button.black {
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
}

button.button.black:hover {
    background-color: #EFEFEF;
}

.modal-dialog.modal-big {
    max-width: 90%;
    margin: 2% auto;
}

.decorations-select {
    display: grid;
    grid-template-areas: 'decorations-choices decoration-info';
    grid-template-columns: 25% 75%;
}

.decorations-choices {
    grid-area: decorations-choices;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-right: 1px solid #EFEFEF;
    border-radius: 30px;
}

.decoration-info {
    grid-area: decoration-info;
    padding: 35px;
}

.decorations-choices li {
    padding: 10px 20px;
    width: max-content;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.decorations-choices li:hover {
    background-color: #EFEFEF;
}

.decorations-choices li.active {
    border: 1px solid #1B1C17;
    border-radius: 3px;
}

.decoration-info-item {
    display: none;
}

.decoration-info-item.active {
    display: grid;
}

.decoration-info-header * {
    margin: 0;
}

.decoration-info-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*margin-bottom: 50px;*/
}

.decoration-info-body {
    display: flex;
    gap: 50px;
}

.decoration-info-body .decoration-info-caption {
    max-width: 60%;
    padding: 0 100px 50px 0;
}

/*.decoration-info-body  hr{*/
/*    margin: 25px auto;*/
/*}*/

.decoration-info-item hr {
    margin: 25px auto 30px auto;
    width: 95%;
}

.decoration-info-caption h6.option-title {
    margin-bottom: 10px;
}

.option-ul {
    margin-left: 25px;
}


/*CATALOG*/

.products-wrapper {
    display: grid;
    padding: 50px 0;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 600px;
    gap: 50px;
    justify-content: space-between;
}

@media all and (max-width: 1348px) {
    .products-wrapper {
        grid-template-columns: repeat(3, 350px);
    }
}

@media all and (max-width: 1199px) {
    .products-wrapper {
        grid-template-columns: repeat(2, 450px);
        gap: 40px;
    }
}

@media all and (max-width: 991px) {
    .products-wrapper {
        grid-template-columns: repeat(2, 340px);
        gap: 25px;
    }
}

@media all and (max-width: 768px) {
    .products-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

@media all and (max-width: 401px) {
    .products-wrapper {
        grid-auto-rows: 500px;
    }
}

@media all and (max-width: 349px) {
    .products-wrapper {
        grid-auto-rows: 450px;
    }
}

.product-item {
    min-width: 280px;
    max-width: 450px;
    min-height: 400px;
    max-height: 600px;
    transition: 0.3s all ease;

}

.product-item:hover {
    transform: translateY(-10px);
    transition: 0.3s all ease;

}

.item-wrapper {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    /*grid-template-rows: 30px 50px 233px 50px 70px 100px;*/
    /*grid-template-rows: 25px 42px 259px 40px 60px 60px;*/
    flex-direction: column;
    justify-content: space-between;
}

.item-category {
    color: #888;
    /*height: 25px;*/
}

.item-title {
    width: 100%;
    /*height:42px;*/
}

.item-picture {
    width: 100%;
    /*height: 259px;*/
}

.item-picture img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.item-min-price {
    /*height: 40px;*/
}

.item-full-price,
.item-link {
    /*height: 60px;*/
}

.item-min-price,
.item-full-price {
    color: #888;

}

span.price {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    padding: 0 7px;
}

.item-link .btn-a {
    margin-bottom: unset;
}


/*ЗАВОД*/
.about-nav {
    padding: 20px 0;
    min-height: 375px;
}

.about-wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: 45% 55%;
}

@media all and (max-width: 768px) {
    .about-nav {
        min-height: unset;
    }

    .about-menu {
        grid-area: about-menu;
        padding: 25px 0;
    }

    .about-video {
        grid-area: about-video;
    }

    .about-wrapper {
        grid-template-areas: 'about-video'
                             'about-menu';
        grid-template-columns: 1fr;
    }
}


.about-menu,
.about-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section {
    background: no-repeat left;
    background-size: 55%;
    /*background-color: #fdfdfd;*/
    overflow: hidden;
    padding: 100px 0;
    margin: 100px 0;
}

.about-section.right {
    background: no-repeat right;
    background-size: 55%;
}

.inner-container {
    width: 53%;
    float: right;
    background-color: #fff;
    padding: 100px;
}

.right .inner-container {
    float: left;
}

.inner-container h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.text {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

@media all and (max-width: 1515px) {
    .about-section {
        margin: 50px 0;
    }

    .inner-container,
    .right .inner-container {
        padding: 80px;
    }
}

@media all and (max-width: 1200px) {

    .about-section {
        padding: 60px 0;
        margin: 25px 0;
    }

    .inner-container,
    .right .inner-container {
        padding: 60px;
    }

    .inner-container h2 {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
}


@media all and (max-width: 1000px) {
    .about-section,
    .about-section.right {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container,
    .right .inner-container {
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
    }
}


@media all and (max-width: 600px) {
    .about-section,
    .about-section.right {
        padding: 0;
    }

    .inner-container,
    .right .inner-container {
        padding: 60px;
        background-color: #fff;
    }

    .text {
        text-align: unset;
    }
}

#capacity {
    padding-bottom: 75px;
}

.capacity .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.capacity .container h4,
.capacity .container p {
    text-align: center;
}

.capacity .container h4 {
    padding: 25px 0;
}

.capacity-cards {
    padding: 50px 0;
}


.home_decorations.capacity,
.home_decorations.capacity .hd_wrapper {
    height: unset;
    margin: 0;
    padding: 0;
}

.home_decorations.capacity .hd_wrapper a {
    cursor: unset;
}

.home_decorations.capacity .container {
    padding: unset;
}

.middle {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.wrap {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hd_item.big {
    height: 400px;
    width: 400px;
}

@media all and (max-width: 993px) {
    .hd_item.big {
        max-height: 250px;
    }

}

@media all and (max-width: 768px) {
    .hd_item.big {
        max-width: 320px;
        max-height: 320px;
    }

}


/*HOME*/

.swiper-container-header {
    position: relative;
}

.swiper-container-header .swiper-slide-h {
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    transition-property: transform;
    display: flex;
    align-items: center;
}

.swiper-wrapper-h {
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
    /*display: flex;*/
    transition-property: transform;
    box-sizing: content-box;
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.swiper-container-header .swiper-slide-h img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.swiper-container-header .swiper-slide-h .container {
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    display: flex;
    align-items: center;
    justify-content: center;

}

/*.swiper-container-header .swiper-slide-h h2 {*/
/*    !*color: rgba(0, 0, 0, 0.6);*!*/
/*    font-weight: 400;*/
/*}*/

.swiper-container-header .swiper-slide-h p {
    color: #000;
    font-size: 32px;
}


.header-card {
    /*max-width: 600px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


.header-card h1 {
    font-size: 130px;
    font-weight: 400;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.7);


}

.header-card h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.7);


}

@media all and (max-width: 1266px) {
    .header-card h1 {
        font-size: 120px;
    }

    .header-card h2 {
        font-size: 35px;
    }
}

@media all and (max-width: 1200px) {
    .header-card h1 {
        font-size: 120px;
    }

    .header-card h2 {
        font-size: 25px;
    }
}

@media all and (max-width: 991px) {
    .swiper-slide-h .container {
        /*max-width: 100%;*/
    }
}


/*.white-text,*/
/*.swiper-container-header .swiper-slide-h .white-text p,*/
/*.swiper-container-header .swiper-slide-h .white-text h2,*/
/*.swiper-container-header .swiper-slide-h .white-text h1 {*/
/*    color: #000;*/
/*}*/

.more-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    height: 42px;
    width: 155px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    position: relative;
}

.more-button .fas {
    font-size: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(280%, -50%);
    -ms-transform: translate(280%, -50%);
    transform: translate(280%, -50%);
    transition: all 0.2s ease;
}

.more-button:hover > .fas {
    -webkit-transform: translate(360%, -50%);
    -ms-transform: translate(360%, -50%);
    transform: translate(360%, -50%);
    transition: all 0.2s ease;

}

.more-button:hover {
    color: #fff;
    /*background-color: #ddd;*/
    /*border-color: #ddd;*/
}


.pad-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


.header-title {
    display: none;
}

.bg_img {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.bg_img.mobile {
    display: none;
}


@media all and (max-width: 798px) {
    .swiper-container-header .swiper-slide-h .container {
        position: absolute;
        left: 50%;
        top: 70%;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }

    .header-card {
        align-items: flex-start;
    }

    .header-card h2,
    .more-button {
        margin-left: 5px;
        text-align: unset;
    }

    .header-card h1 {
        margin-bottom: 20px;
        font-size: 100px;
    }

    .bg_img.mobile {
        display: block;
        background-attachment: unset;
    }

    .bg_img.pc {
        display: none;
    }
}

@media all and (max-width: 444px) {
    .header-card h2 {
        font-size: 20px;
    }
}


/*HOME timeline*/

.timeline {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
    transition: background-image 4s ease;
}

@media all and (max-width: 1100px) {
    .timeline {
        max-width: 900px;
    }
}

@media all and (max-width: 900px) {
    .timeline {
        max-width: 700px;
    }
}

.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.timeline__content-desc {
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    color: #fff;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-weight: 300;
    line-height: 30px;
}

/*.timeline:before {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    width: 2px;*/
/*    height: 100%;*/
/*    margin-left: -1px;*/
/*    content: "";*/
/*    background: rgba(255, 255, 255, .07);*/
/*}*/

@media all and (max-width: 767px) {
    #timeline-1:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, .6);
    }
}

.timeline-item {
    padding: 80px 60px;
    opacity: 0.3;
    filter: blur(2px);
    transition: 0.5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(-80px);
    background: rgba(0, 0, 0, 0.5);
    /*margin-bottom: 60px;*/
}

@media all and (max-width: 767px) {
    .timeline-item {
        background: unset;
    }
}

/*.timeline-item:before {*/
/*    content: attr(data-text);*/
/*    letter-spacing: 3px;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    color: rgba(255, 255, 255, .5);*/
/*    font-size: 13px;*/
/*    font-family: 'Pathway Gothic One', sans-serif;*/
/*    border-left: 2px solid rgba(255, 255, 255, .5);*/
/*    top: 70%;*/
/*    margin-top: -5px;*/
/*    padding-left: 15px;*/
/*    opacity: 0;*/
/*    right: calc(-100% - 56px);*/
/*}*/


/*.timeline-item:nth-child(even) {*/
/*    align-self: flex-end;*/
/*}*/

/*.timeline-item:nth-child(even):before {*/
/*    right: auto;*/
/*    text-align: right;*/
/*    left: calc(-100% - 56px);*/
/*    padding-left: 0;*/
/*    border-left: none;*/
/*    border-right: 2px solid rgba(255, 255, 255, .5);*/
/*    padding-right: 15px;*/
/*}*/

/*.timeline-item--active:before {*/
/*    top: 50%;*/
/*    transition: 0.2s all ease;*/
/*    opacity: 1;*/
/*}*/

.timeline-item span.title {
    letter-spacing: 3px;
    width: 100%;
    /*position: absolute;*/
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-family: 'Pathway Gothic One', sans-serif;
    /*border-left: 2px solid rgba(255, 255, 255, .5);*/
    top: 70%;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}


.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item span.title.left {
    right: auto;
    /*text-align: right;*/
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    /*border-right: 2px solid rgba(255, 255, 255, .5);*/
    padding-right: 15px;
}

/*.timeline-item--active {*/
/*    opacity: 1;*/
/*    transform: translateY(0);*/
/*    filter: blur(0px);*/
/*}*/

/*.timeline-item--active span.title {*/
/*    top: 50%;*/
/*    transition: 0.2s all ease;*/
/*    opacity: 1;*/
/*}*/

/*.timeline-item--active .timeline__content-title {*/
/*    margin: -50px 0 20px 0;*/
/*}*/

.ti-active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}

.ti-active span.title {
    top: 50%;
    transition: 0.2s all ease;
    opacity: 1;
}

.ti-active .timeline__content-title {
    margin: -50px 0 20px 0;
}

.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}

@media all and (max-width: 767px) {
    .timeline {
        gap: 0;
    }

    .timeline-item {
        transform: translateY(0);
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 25px;
    }

    .timeline-item:before {
        content: attr(data-text-mobile);
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 5px;
        border: none !important;
    }

    .timeline-item span.title {
        display: none;
    }

    .timeline-item:last-child {
        padding-bottom: 40px;
    }

    .timeline-item--active .timeline__content-title {
        margin: 0 0 20px 0;

    }

    .timeline__img {
        max-width: 400px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    }

    .timeline-item--active {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }


    /*.timeline-item--active .timeline__content-title {*/
    /*    margin: -50px 0 20px 0;*/
    /*}*/
}


.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: 0.3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

/*.timeline-container:before {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.6);*/
/*    content: "";*/
/*}*/

.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-header__title {
    color: #fff;
    font-size: 58px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 0;
}

.timeline-header__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.demo-footer {
    padding: 60px 0;
    text-align: center;
}

.demo-footer a {
    color: #999;
    display: inline-block;
    /*font-family: Cardo;*/
}

.mobile {
    display: none;
}

@media all and (max-width: 768px) {
    .timeline-header__title {
        font-size: 40px;
    }

    .mobile {
        display: block;
        font-size: 35px;
    }

    .pc {
        display: none;
    }
}

@media all and (max-width: 430px) {
    .timeline__img {
        max-width: 300px;
    }

    .mobile {
        font-size: 25px;
    }

    .timeline__content-desc {
        font-size: 16px;
    }
}

@media all and (max-width: 345px) {
    .timeline__img {
        max-width: 250px;
    }

    .mobile {
        font-size: 20px;
    }
}


/*Сотрудничество*/
.main__cards {
    min-height: 250px;
    padding: 0 0 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__cards h3 {
    font-weight: 400;
    padding: 50px 0;
}

.main__cards h3 span {
    font-weight: 600;
}

.main__cards .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.main__cards .container .item:hover {
    transform: translateY(-15px);
    transition: all 0.3s ease;

}

@media all and (max-width: 768px) {
    .main__cards .container {
        flex-direction: column;
    }

    .item {
        margin-bottom: 25px;
    }

    .main__cards {
        padding-bottom: 0;
    }
}

/*home cards*/

.main__cards .container .item {
    display: grid;
    grid-template-rows: 5% 25% 70%;
    gap: 15px;
    height: 350px;
    width: 250px;
    padding: 0 15px;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main__cards .item .number {
    position: relative;
}

.main__cards .item .number span {
    position: absolute;
    font-size: 45px;
    top: 0;
    right: 0;
}

.main__cards .item .title,
.main__cards .item .title h3 {
    margin: 0;
    padding: 0;
}

.main__cards .item .title {
    position: relative;
}

.main__cards .item .title h3 {
    font-size: 35px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.main__cards .item .body p {
    font-size: 14px;
}


/* pre-footer */

.pre-footer * {
    font-size: 14px;
    line-height: 1.71429;
    color: #ddd;
}

.pre-footer {
    padding: 50px 0;
    background: #151515;
}

@media (min-width: 992px) {
    .pre-footer {
        padding: 80px 0;
    }
}

@media (min-width: 1200px) and (min-height: 800px) {
    .pre-footer {
        padding: 120px 0;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.footer-contacts .info {
    max-width: 50%;
}

.footer-contacts .info h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55556;
    margin-bottom: 25px;
}

.footer-contacts .info li {
    margin-bottom: 10px;
}

.footer-title {
    font-weight: 400;
    margin-right: 15px;
}

.footer-contacts .img {
    max-width: 40%;
}


@media all and (max-width: 768px) {
    .footer-contacts {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contacts .info {
        max-width: 100%;
        margin-bottom: 35px;
    }

    .footer-contacts .img,
    section.contacts .img {
        max-width: 100%;
    }
}


.footer-corporate {
    background-color: #000;
}

.footer-corporate * {
    color: #ddd;
}


