/**{*/
/*    scroll-behavior: smooth;*/
/*}*/

html.modal-show {
    padding-right: 17px;
}

a.gray div.button-primary,
button.button.button-primary {
    background-color: #1B1C17;
    color: #fff;
}

button.button.button-primary:hover {
    background-color: #363734;
}

.rd-navbar-nav > li.active > a, .rd-navbar-sidebar .rd-navbar-nav > li.opened > a, .rd-navbar-sidebar .rd-navbar-nav > li.active > a {
    color: #1B1C17;
    font-weight: 700;
}


.swiper-slide.white-color div a {
    background-color: #fff;
    color: #1B1C17;
    border-color: #fff;
    opacity: 0.2;
}

.page .swiper-slide.white-color .button-primary:hover,
.page .swiper-slide.white-color .button-primary:focus,
.page .swiper-slide.white-color .button-primary:active,
.page .swiper-slide.white-color .button-primary:hover {
    color: #1B1C17;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.85);;
}

.swiper-slide.white-color h2,
.swiper-slide.white-color h4 {
    color: #fff;

}

.grid {
    display: grid;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-2c {
    grid-template-areas: "textBox imgBox";
    grid-template-columns: 40% 60%;
}

@media (max-width: 767px) {
    .grid-2c {
        grid-template-areas: "imgBox" "textBox ";
        grid-template-columns: unset;
        grid-template-rows: 50% 50%;
    }
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

section.main-screen {
    width: 100%;
    min-height: 100vh;

}

.textBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    grid-area: textBox;
}

.imageBox {
    padding-left: 25px;
    padding-bottom: 50px;
    grid-area: imgBox;
}

.imageBox img {
    width: 100%;
}


#form-wrapper {
    max-width: 400px;
}


.form-wrap.phone-number {
    position: relative;
}

.form-wrap.phone-number:before {
    position: absolute;
    content: "+";
    left: 5px;
    top: 13px;
}

@media (max-width: 767px) {
    .imageBox {
        padding-left: 0;
    }

    .padding-100 {
        padding: 0;
    }

    .bg-image-9 {
        background-image: url("../images/CUBO/interior/4_bg.jpg");

    }

    * + .button {
        margin-top: 50px;
    }

    .form-wrap.phone-number:before {
        top: 17px;
    }
}

.form-wrap.checkbox input {
    position: relative
}

.form-wrap.checkbox label {
    position: absolute;
    margin: 0;
    top: 1px;
    left: 34px;
    color: #000;
}

.form-wrap.checkbox label a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

img.confirm-spinner {
    width: 50px;
}

.form-wrap.checkbox.checkbox-error .checkbox-custom-dummy {
    border: 2px solid red;
}

.success-send {
    margin-top: 15px;
    padding: 15px;
    background-color: #3dff2f;
}

.error-send {
    margin-top: 15px;
    padding: 15px;
    background-color: red;
    /*color: #ff0015;*/
}


section.breadcrumbs-custom {
    margin-top: 100px;
}

@media all and (max-width: 1200px) {
    section.breadcrumbs-custom {
        margin-top: 200px;
    }
}

@media all and (max-width: 991px) {
    section.breadcrumbs-custom {
        margin-top: 0;
    }
}

div.ol {
    padding-left: 40px;
}

/*.product-caption {*/
/*    min-width: 350px;*/
/*}*/

@media all and (max-width: 400px) {
    .product-img-wrap {
        width: unset;
    }
}

div .cart-favorites {
    display: flex;
}

/* MENU */

.rd-megamenu-list > li > p {
    font-size: 14px;
    color: #888;
    padding: 11px 56px 11px 18px;
}

.rd-megamenu-list li {
    height: 50px;
    margin-bottom: 5px;
}

.rd-megamenu-list li img {
    height: 50px;
    width: 75px;
    margin-right: 15px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.mobile-menu-item,
.rd-navbar-static .rd-navbar-nav > li.mobile-menu-item {
    display: none;
}


@media only screen and (max-width: 768px) {
    ul.rd-navbar-items-list.rd-navbar-search_collapsable {
        display: none;
    }

    li.mobile-menu-item a.icon {
        text-align: left;
    }

    .rd-navbar-fullwidth .rd-navbar-nav > li.mobile-menu-item,
    .rd-navbar-static .rd-navbar-nav > li.mobile-menu-item {
        display: inline-block;
    }
}


/*CONTACTS*/

.map {
    margin-top: 90px;
    min-height: 500px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*CATALOG*/

.section__aside-left li a.active {
    text-decoration: underline;
}

.section__aside-left li ul.rd-navbar-dropdown {
    display: none;
    padding-left: 15px;
}

.section__aside-left li.active ul.rd-navbar-dropdown {
    display: block;
    padding-left: 15px;
}

/*HOME_DECORATIONS*/

.hd_wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_item {
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hd_wrapper a:nth-child(n) {
    border-right: 1px solid #ebebeb;
}

.hd_wrapper a:nth-last-child(-n+1) {
    border-right: unset;
}

.hd_wrapper a:hover > span.bg {
    width: 100%;
    height: 100%;
    opacity: 1;
    color: #fff;
    text-align: center;
}

.hd_wrapper a:hover > .hd_item {
    z-index: 3;
    opacity: 1;
    color: #fff;
}

.hd_wrapper a:hover > .bg .hd_title {
    font-size: 21px;
    opacity: 1;
    font-weight: 500;
    letter-spacing: 1px;
}

span.bg {
    position: absolute;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_title {
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: all 0.4s;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hd_hide {
    display: none;
}

@media all and (max-width: 770px) {
    section.home_decorations {
        padding: 20px 0;
    }

    .hd_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hd_wrapper a:nth-child(n) {
        border-right: unset;
        border-bottom: 1px solid #ebebeb;
    }

    .hd_wrapper a:nth-last-child(-n+1) {
        border-bottom: unset;
    }
}

.panel-custom.submenu-panel {
    padding: 15px 0;
}

.panel-custom.submenu-panel h6 {
    font-size: 12px;
}

form.sub-menu-form {
    display: flex;
    flex-direction: column;
}

form.sub-menu-form .form-wrap.checkbox label {
    position: unset;
}

.form-wrap.checkbox label {
    cursor: pointer;
}

.panel-custom .panel-custom-collapse .panel-custom-body.sidebar {
    padding: 25px 25px 30px 0;
}

.ol.sidebar {
    padding-left: 35px;
}

.section-divided__aside.section__aside-left > .section-sm.sub_menu {
    margin-right: 25px;
}


/*Product DEtail*/

.product-single h4 {
    margin-bottom: 30px;
}

.product-single h6.product-text {
    text-transform: unset;
    letter-spacing: 0.3px;
    margin: 0;
    font-size: 20px;
}

.product-single p.product-text {
    margin-top: 5px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.4px;
}

.product-single button {
    width: 250px;
    font-size: 12px;
    padding: 15px 25px;
    min-width: 265px;
    text-transform: uppercase;
}

.product-single button.button {
    margin-top: 30px;
}

.product-single button.button:last-child {
    margin-top: 8px;
}

body.show-modal {
    overflow: hidden;
}


div.modal {
    position: fixed;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
}

div.modal a {
    text-decoration: underline;
}

div.modal.active {
    display: unset;
}

div.register-form.modal-request form {
    max-width: 300px;
}

#modal-price-info form {
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

#modal-price-info form .form-wrap.checkbox {
    min-height: 25px;
    margin-top: 0;
}

@media all and (max-width: 768px) {
    #modal-price-info form .form-wrap.checkbox {
        min-height: 55px;
        margin-top: 0;
    }
}

h6.modal-subtitle {
    margin: 25px 0;
}

.modal-dialog.wow {
    animation-duration: 0.4s;
}

.select2-dropdown {
    z-index: 999999;
}

.button-right {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttons-space {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.buttons-space .button,
.buttons-space .button.left {
    margin: 0;
}

/*Products Catalog*/

.row > .col-sm-12 {
    margin-bottom: 40px;
}

.product.product-grid .product-img-wrap {
    max-width: 300px;
}

/* Уведомления  */

.fetch {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    min-width: 120px;
    max-width: max-content;
    background-color: #1B1C17;
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 1000;
}

.fetch span.caption-1 {
    margin-left: 15px;
}

.fetch .fa {
    font-size: 20px;
}

@media all and (max-width: 768px) {
    .fetch {
        bottom: unset;
        top: 56px;
        width: 100%;
        max-width: unset;
        justify-content: center;
    }

}

#personal-layout,
#standard-layout {
    margin-top: 25px;
}

#standard-layout.hide {
    display: none;
}

#personal-layout.hide {
    display: none;
}

form {
    margin-top: 25px;
}

.modal-title-2,
hr.modal-title-2 {
    margin-top: 20px;
    font-size: 20px;
}

.modal-add {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0;
}

.modal-add * {
    margin: 0 25px 0 0;
    font-size: 14px;
}

button.button.black {
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
}

button.button.black:hover {
    background-color: #EFEFEF;
}

.modal-dialog.modal-big {
    max-width: 90%;
    margin: 2% auto;
}

.decorations-select {
    display: grid;
    grid-template-areas: 'decorations-choices decoration-info';
    grid-template-columns: 25% 75%;
}

.decorations-choices {
    grid-area: decorations-choices;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-right: 1px solid #EFEFEF;
    border-radius: 30px;
}

.decoration-info {
    grid-area: decoration-info;
    padding: 35px;
}

.decorations-choices li {
    padding: 10px 20px;
    width: max-content;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.decorations-choices li:hover {
    background-color: #EFEFEF;
}

.decorations-choices li.active {
    border: 1px solid #1B1C17;
    border-radius: 3px;
}

.decoration-info-item {
    display: none;
}

.decoration-info-item.active {
    display: grid;
}

.decoration-info-header * {
    margin: 0;
}

.decoration-info-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*margin-bottom: 50px;*/
}

.decoration-info-body {
    display: flex;
    gap: 50px;
}

.decoration-info-body .decoration-info-caption {
    max-width: 60%;
    padding: 0 100px 50px 0;
}

/*.decoration-info-body  hr{*/
/*    margin: 25px auto;*/
/*}*/

.decoration-info-item hr{
    margin: 25px auto 30px auto;
    width: 95%;
}

.decoration-info-caption h6.option-title{
    margin-bottom: 10px;
}

.option-ul{
    margin-left: 25px;
}






