.design {
    padding: 75px 0;
}

.design_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 5px;
}

.design_wrapper .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media all and (max-width: 768px) {
    .design_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .design_wrapper .item:first-child {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}