/*lines*/

.lines {
    padding: 150px 0;
}

.lines .container {
    display: grid;
    /*align-items: center;*/
    grid-template-columns: repeat(16, 84px);
    grid-template-rows: repeat(10, 60px);
}


.lines .container .center-img {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
}

.lines .container .center-img img {
    max-width: 100%;
    max-height: 100%;
}

.secondary-img {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease;
    opacity: 0;
}

#sec_1.active,
#sec_2.active,
#sec_3.active,
#sec_5.active {
    transform: translate(0, 0);
}

#sec_1, #sec_2 {
    transform: translate(-20%, 0);
}

#sec_3, #sec_5 {
    transform: translate(20%, 0);
}

#sec_1.active,
#sec_2.active,
#sec_3.active,
#sec_5.active {
    transform: translate(0, 0);
    opacity: 1;
}


.secondary-img img {
    height: 100%;
    width: 100%;
}

#sec_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
}

#sec_3 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec_5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 9;
    grid-row-end: 11;
}

/*TEXT*/

.lines .text {
    text-align: left;
    font-size: 14px;
    padding: 15px;
    line-height: 25px;
    position: relative;
}

.lines .text span {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    opacity: 0;
    transition: all 1s ease;
}

.lines .text span.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.lines .text:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}


#sec-text-1 {
    width: 324px;
    height: 120px;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}


#sec-text-1:after {
    transform: scaleX(0) translateX(0);
    transform-origin: right bottom;
}

#sec-text-1.active:after {

    transform: scaleX(1) translateX(0);
}

#sec-text-2 {
    width: 439px;
    height: 120px;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 11;
}


#sec-text-2 span {
    top: 40%;
}

#sec-text-2:after {
    transform: scaleX(0) translateX(0);
    transform-origin: right bottom;
}

#sec-text-2.active:after {

    transform: scaleX(1) translateX(0);
}

#sec-text-3 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}


#sec-text-3 span {
    width: 70%;
    left: 60%;
}

#sec-text-3:after {
    width: 80%;
    left: 68px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}


#sec-text-3.active:after {
    transform: scaleX(1) translateX(0);
}

#sec-text-4 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 7;
}


#sec-text-4 span {
    top: 10%;
    width: 70%;
    left: 60%;
}

#sec-text-4:after {
    width: 80%;
    bottom: 32px;
    left: 69px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}

#sec-text-4.active:after {
    transform: scaleX(1) translateX(0);
}

#sec-text-5 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 9;
    grid-row-end: 11;
}

#sec-text-5 span {
    width: 70%;
    left: 60%;
    top: 30%;
}

#sec-text-5:after {
    width: 80%;
    left: 69px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}

#sec-text-5.active:after {
    transform: scaleX(1) translateX(0);
}


/*LINES*/

.lines .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}

.lines .line span {
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #000;
    z-index: 2;
}

#line-1 span {
    right: 30px;
    bottom: 0;
}

#line-2 span {
    top: 0;
    right: -1px;
}

#line-3 span {
    left: 47px;
    bottom: 54px;
}

#line-4 span {
    top: 63px;
    right: 77px;
}

#line-5 span {
    top: 46px;
    left: -8px;
}

#line-1 {
    position: relative;
    width: 336px;
    height: 240px;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 7;
}


#line-1:after {
    bottom: 0;
    right: 30px;
    transform: rotate(39.2deg) scale(0) translateX(0);
    width: 411.4px;
    transform-origin: right bottom;
}


#line-1.active:after {
    transform: rotate(39.2deg) scale(1) translateX(0);
}

#line-2 {
    position: relative;
    width: 168px;
    height: 120px;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
}

#line-2:after {
    top: 0;
    right: 0;
    transform: rotate(-56deg) scale(0) translateX(0);
    width: 119px;
    transform-origin: right top;
}


#line-2.active:after {
    transform: rotate(-56deg) scale(1) translateX(0);
}

#line-3 {
    position: relative;
    width: 120px;
    height: 240px;
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 7;
}

#line-3:after {
    left: 50px;
    bottom: 55px;
    transform: rotate(-63.4deg) scale(0) translateX(0);
    width: 230px;
    transform-origin: left bottom;
}


#line-3.active:after {
    transform: rotate(-63.4deg) scale(1) translateX(0);
}


#line-4 {
    position: relative;
    width: 84px;
    height: 60px;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 8;
}

#line-4:after {
    top: 65px;
    left: 4px;
    transform: rotate(-56deg) scale(0) translateX(0);
    width: 119px;
    transform-origin: left bottom;
}


#line-4.active:after {
    transform: rotate(-56deg) scale(1) translateX(0);
}

#line-5 {
    position: relative;
    width: 84px;
    height: 180px;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 11;
}

#line-5:after {
    top: 48px;
    left: -5px;
    transform: rotate(56deg) scale(0) translateX(0);
    width: 134px;
    transform-origin: left top;
}

#line-5.active:after {
    transform: rotate(56deg) scale(1) translateX(0);
}

@media all and (max-width: 1400px) {

    .lines .container {
        grid-template-columns: repeat(16, 58px);
        grid-template-rows: repeat(10, 42px);
        max-width: 970px;
    }

    .lines .text {
        text-align: left;
        font-size: 12px;
        padding: 10px;
        line-height: 18px;
        position: relative;
    }

    #sec-text-1 {
        width: 206px;
        height: 84px;
    }

    #sec-text-1 span {
        top: 40%;
    }

    #sec-text-2 {
        width: 290px;
        height: 84px;
    }

    #sec-text-2 span {
        width: 90%;
        top: 20%;
    }

    #sec-text-3 {
        width: 204px;
        height: 84px;
    }

    #sec-text-3:after {
        width: 85%;
        left: 59px;
    }

    #sec-text-3 span {
        width: 74%;
        left: 65%;
        top: 30%;
    }

    #sec-text-4 {
        width: 342px;
        height: 84px;
    }

    #sec-text-4:after {
        left: 57px;
    }

    #sec-text-4 span {
        width: 87%;
        top: 15%;
    }

    #sec-text-5 {
        width: 232px;
        height: 84px;
    }

    #sec-text-5:after {
        left: 45px;
    }

    #sec-text-5 span {
        width: 70%;
        top: 0;
    }

    #line-1 {
        width: 239px;
        height: 172px;
    }

    #line-1:after {
        width: 304.4px;
    }

    #line-2 {
        width: 100px;
    }

    #line-2:after {
        width: 76px;
    }

    #line-3 {
        height: 191px;
    }

    #line-3:after {
        left: 39px;
        width: 175px;

    }

    #line-3 span {
        left: 37px;
    }

    #line-4:after {
        top: 47px;
        right: -44px;
        width: 97px;
    }

    #line-4 span {
        top: 46px;
        left: 0;
    }

    #line-5:after {
        top: 33px;
        left: -3px;
        width: 87px;
    }

    #line-5 span {
        top: 30px;
    }

}

@media all and (max-width: 1000px) {

    .lines .line span {
        width: 5px;
        height: 5px;
    }

    .lines .container {
        grid-template-columns: repeat(16, 45px);
        grid-template-rows: repeat(10, 35px);
        max-width: 750px;
    }

    .lines .text {
        font-size: 10px;
        padding: 5px;
        line-height: 15px;
    }

    #sec-text-1 {
        width: 176px;
        height: 84px;
    }

    #sec-text-1 span {
        top: 40%;
    }

    #sec-text-2 {
        width: 230px;
        height: 84px;
    }

    #sec-text-2 span {
        width: 90%;
        top: 20%;
    }

    #sec-text-3 {
        width: 143px;
        height: 84px;
    }

    #sec-text-3:after {
        width: 96%;
        left: 43px;
    }

    #sec-text-3 span {
        width: 77%;
        left: 77%;
        top: 30%;
    }

    #sec-text-4 {
        width: 251px;
        height: 84px;
    }

    #sec-text-4:after {
        left: 41px;
        width: 91%;
    }

    #sec-text-4 span {
        width: 86%;
        top: 10%;
        left: 66%;
    }

    #sec-text-5 {
        width: 221px;
        height: 84px;
    }

    #sec-text-5:after {
        left: 56px;
        width: 57%;
    }

    #sec-text-5 span {
        width: 70%;
        top: 0;
    }

    #line-1 {
        width: 191px;
        height: 129px;
    }

    #line-1:after {
        width: 213.4px;
    }

    #line-2 {
        width: 100px;
    }

    #line-2:after {
        width: 90px;
        top: -11px;
    }

    #line-2 span {
        top: -12px;
        right: -2px;
    }

    #line-3 {
        height: 163px;
    }


    #line-3:after {
        left: 32px;
        width: 127px;
    }

    #line-3 span {
        left: 29px;
    }

    #line-4:after {
        top: 35px;
        right: -44px;
        width: 66px;
    }

    #line-4 span {
        top: 33px;
        left: 1px;
    }

    #line-5:after {
        top: 10px;
        left: -3px;
        width: 106px;
    }

    #line-5 span {
        top: 9px;
        left: -5px;
    }
}


@media all and (max-width: 768px) {

    .lines {
        padding: 25px 0;
    }

    .lines .container {
        align-items: center;
        grid-template-columns: repeat(10, 37px);
        grid-template-rows: repeat(15, 37px);
        max-width: 400px;
    }

    .lines .container .center-img {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 12;
    }

    #sec_1,
    #sec_2,
    #sec_3,
    #sec_5 {
        display: none;
    }


    #sec-text-1 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 7;
    }

    #sec-text-2 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 10;
    }

    #sec-text-3 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    #sec-text-4 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 13;
        grid-row-end: 16;
    }

    #sec-text-5 {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 13;
    }

    #sec-text-1 span,
    #sec-text-2 span,
    #sec-text-3 span,
    #sec-text-4 span,
    #sec-text-5 span {
        left: 50%;
        top: 50%;
        width: 100%;
    }

    #sec-text-1:after,
    #sec-text-2:after,
    #sec-text-3:after,
    #sec-text-4:after,
    #sec-text-5:after {
        left: 0;
        width: 100%;
    }

    #line-1,
    #line-2,
    #line-3,
    #line-4,
    #line-5 {
        width: 100%;
        height: 100%;
    }

    #line-1 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    #line-2 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 11;
        grid-row-end: 12;
    }

    #line-3 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    #line-4 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    #line-5 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 11;
        grid-row-end: 12;
    }

    #line-1 span {
        left: 0;
        bottom: 40%;
    }

    #line-2 span {
        top: 20%;
        right: 50%;
    }

    #line-3 span {
        left: 40%;
        bottom: 20%;
    }

    #line-4 span {
        top: 20%;
        left: 90%;
    }

    #line-5 span {
        top: -3px;
        left: 65%;
    }

    #line-1:after {
        width: 179.4px;
        right: 96%;
        bottom: 47%;
    }

    #line-2:after {
        width: 109px;
        top: 28%;
        right: 53%;
        transform: rotate(39deg) scale(0) translateX(0);
    }

    #line-2.active:after {
        transform: rotate(39deg) scale(1) translateX(0);
    }

    #line-3:after {
        left: 48%;
        bottom: 27%;
        width: 196.5px;
        transform: rotate(-83.4deg) scale(0) translateX(0);
    }

    #line-3.active:after {
        transform: rotate(-83.4deg) scale(1) translateX(0);
    }

    #line-4:after {
        top: unset;
        right: unset;
        left: 96%;
        bottom: 68%;
        width: 178px;
        transform: rotate(-269deg) scale(0) translateX(0);
    }

    #line-4.active:after {
        transform: rotate(-269deg) scale(1) translateX(0);
    }

    #line-5:after {
        top: 1%;
        left: 73%;
        width: 72px;
        transform: rotate(131deg) scale(0) translateX(0);
    }

    #line-5.active:after {
        transform: rotate(131deg) scale(1) translateX(0);
    }

    #sec-text-1:after {
        width: 106%;
    }

    #sec-text-2:after {
        width: 104%;
    }

    #sec-text-3:after {
        width: 101%;
    }

    #sec-text-4:after {
        width: 99%;
    }

    #sec-text-5:after {
        width: 170%;
    }

    #sec-text-1 span {
        top: 63%;
    }

    #sec-text-3 span {
        top: 70%;
    }

    #sec-text-4 span {
        width: 90%;
        left: 45%;
        top: 45%;
    }


    .lines .text span {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    #sec-text-1:after,
    #sec-text-2:after,
    #sec-text-3:after,
    #sec-text-4:after,
    #sec-text-5:after {

        transform: scaleX(1) translateX(0);
    }

    #line-1:after {
        transform: rotate(39.2deg) scale(1) translateX(0);
    }

    #line-2:after {
        transform: rotate(39deg) scale(1) translateX(0);
    }

    #line-3:after {
        transform: rotate(-83.4deg) scale(1) translateX(0);
    }

    #line-4:after {
        transform: rotate(-269deg) scale(1) translateX(0);
    }

    #line-5:after {
        transform: rotate(131deg) scale(1) translateX(0);
    }

    .lines .text span {
        transition: unset;
    }

    .lines .text:after {
        transition: unset;
    }

    .lines .line:after {
        transition: unset;
    }


}


@media all and (max-width: 420px) {
    .lines .container {
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(24, 25px);
        max-width: 280px;
        min-width: unset;
    }


    #sec-text-1 {
        grid-row-start: 4;
        grid-row-end: 7;
    }

    #sec-text-2 {
        grid-row-start: 8;
        grid-row-end: 12;
    }

    #sec-text-2:after {
        bottom: 0;
        width: 107%;
    }

    #sec-text-1:after {
        width: 96%;
    }


    #sec-text-1 span {
        top: 45%;
    }

    #sec-text-3 span {
        top: 45%;
    }

    #sec-text-4 {
        grid-row-start: 20;
        grid-row-end: 21;
    }

    #sec-text-4:after {
        width: 99%;
        bottom: -22px;
    }

    #sec-text-4 span {
        top: 68%;
    }

    #sec-text-5 {
        grid-row-start: 15;
        grid-row-end: 19;
    }

    #sec-text-5:after {
        width: 142%;
    }

    #sec-text-5 span {
        top: 26%;
    }


    #line-1:after {
        width: 540%;
        transform: rotate(38.2deg) scale(1) translateX(0);
    }

    #line-1.active:after {
        transform: rotate(38.2deg) scale(1) translateX(0);
    }

    #line-2:after {

        width: 224%;

        transform: rotate(-18deg) scale(1) translateX(0);
    }


    #line-3 span {
        left: 39%;
    }

    #line-3:after {
        width: 558%;
    }

    #line-4 span {
        left: 100%;
    }

    #line-4:after {
        left: 108%;
        width: 1154%;
    }

    #line-5 span {
        left: 78%;
    }

    #line-5:after {
        left: 88%;
        width: 771%;
        transform: rotate(111deg) scale(1) translateX(0);
    }


}
