/*lines*/

.lines {
    padding: 150px 0;
}

.lines .container {
    display: grid;
    grid-template-columns: repeat(16, 84px);
    grid-template-rows: repeat(10, 60px);
}

.lines .container .center-img {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
}

.lines .container .center-img img {
    max-width: 100%;
    max-height: 100%;
}

.secondary-img {
    width: 168px;
    height: 120px;
    position: relative;
    transition: all 1.5s ease;
    opacity: 0;
}

#sec_1.active,
#sec_2.active,
#sec_3.active,
#sec_5.active {
    transform: translate(0, 0);
}

#sec_1, #sec_2 {
    transform: translate(-20%, 0);
}

#sec_3, #sec_5 {
    transform: translate(20%, 0);
}

#sec_1.active,
#sec_2.active,
#sec_3.active,
#sec_5.active {
    transform: translate(0, 0);
    opacity: 1;
}


.secondary-img img {
    height: 100%;
    width: 100%;
}

#sec_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
}

#sec_3 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec_5 {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 9;
    grid-row-end: 11;
}

/*TEXT*/

.lines .text {
    text-align: left;
    font-size: 14px;
    padding: 15px;
    line-height: 25px;
    position: relative;
}

.lines .text span {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    opacity: 0;
    transition: all 1.5s ease;
}

.lines .text span.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.lines .text:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 1.5s ease;
}


#sec-text-1 {
    width: 324px;
    height: 120px;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec-text-1:after {
    transform: scaleX(0) translateX(0);
    transform-origin: right bottom;
}

#sec-text-1.active:after {

    transform: scaleX(1) translateX(0);
}

#sec-text-2 {
    width: 439px;
    height: 120px;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 11;
}

#sec-text-2 span {
    top: 40%;
}

#sec-text-2:after {
    transform: scaleX(0) translateX(0);
    transform-origin: right bottom;
}

#sec-text-2.active:after {

    transform: scaleX(1) translateX(0);
}

#sec-text-3 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sec-text-3 span {
    width: 70%;
    left: 60%;
}

#sec-text-3:after {
    width: 80%;
    left: 68px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}


#sec-text-3.active:after {
    transform: scaleX(1) translateX(0);
}

#sec-text-4 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 7;
}

#sec-text-4 span {
    top: 10%;
    width: 70%;
    left: 60%;
}

#sec-text-4:after {
    width: 80%;
    bottom: 32px;
    left: 69px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}

#sec-text-4.active:after {
    transform: scaleX(1) translateX(0);
}

#sec-text-5 {
    width: 336px;
    height: 120px;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 9;
    grid-row-end: 11;
}

#sec-text-5 span {
    width: 70%;
    left: 60%;
    top: 30%;
}

#sec-text-5:after {
    width: 80%;
    left: 69px;
    transform: scaleX(0) translateX(0);
    transform-origin: left bottom;
}

#sec-text-5.active:after {
    transform: scaleX(1) translateX(0);
}


/*LINES*/

.lines .line:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: all 1.5s ease;
}

.lines .line span {
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #000;
    z-index: 2;
}

#line-1 span {
    right: 30px;
    bottom: 0;
}

#line-2 span {
    top: 0;
    right: -1px;
}

#line-3 span {
    left: 47px;
    bottom: 54px;
}

#line-4 span {
    top: 63px;
    right: 77px;
}

#line-5 span {
    top: 46px;
    left: -8px;
}

#line-1 {
    position: relative;
    width: 336px;
    height: 240px;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 7;
}

#line-1:after {
    bottom: 0;
    right: 30px;
    transform: rotate(39.2deg) scale(0) translateX(0);
    width: 411.4px;
    transform-origin: right bottom;
}

#line-1.active:after {
    transform: rotate(39.2deg) scale(1) translateX(0);
}

#line-2 {
    position: relative;
    width: 168px;
    height: 120px;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
}

#line-2:after {
    top: 0;
    right: 0;
    transform: rotate(-56deg) scale(0) translateX(0);
    width: 119px;
    transform-origin: right top;
}

#line-2.active:after {
    transform: rotate(-56deg) scale(1) translateX(0);
}

#line-3 {
    position: relative;
    width: 120px;
    height: 240px;
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 7;
}

#line-3:after {
    left: 50px;
    bottom: 55px;
    transform: rotate(-63.4deg) scale(0) translateX(0);
    width: 230px;
    transform-origin: left bottom;
}

#line-3.active:after {
    transform: rotate(-63.4deg) scale(1) translateX(0);
}


#line-4 {
    position: relative;
    width: 84px;
    height: 60px;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 8;
}

#line-4:after {
    top: 65px;
    right: -39px;
    transform: rotate(-56deg) scale(0) translateX(0);
    width: 119px;
    transform-origin: left bottom;
}

#line-4.active:after {
    transform: rotate(-56deg) scale(1) translateX(0);
}

#line-5 {
    position: relative;
    width: 84px;
    height: 180px;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 11;
}

#line-5:after {
    top: 48px;
    left: -5px;
    transform: rotate(56deg) scale(0) translateX(0);
    width: 134px;
    transform-origin: left top;
}

#line-5.active:after {
    transform: rotate(56deg) scale(1) translateX(0);
}