.modal-dialog {
    max-width: 600px;
    margin-top: 5%;
}

.choices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    padding: 25px 0;
    align-items: center;
    justify-items: center;
}

.contact-form .choices{
    gap: 9%;
}

.partnership-form .choices{
    gap: 1%;
}


.choices img {
    width: 40%;
    margin: 0;
    padding: 10px;
}

.contact-form .choices img,
.partnership-form .choices img {
    width: 39%;
}

.choices div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
}

.contact-form .choices div,
.partnership-form .choices div {
    padding: 10px 10px;
}

.choices div p {
    margin: 0;
    font-size: 14px;
}

.choices div.active {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.choice {
    display: none;
}

.choice.active {
    display: block;
}

@media all and (max-width: 920px) {
    .modal-dialog {
        margin-top: 20%;
    }
}

@media all and (max-width: 768px) {
    .modal-dialog {
        max-width: 400px
    }

    .choices {
        grid-template-columns: repeat(2, 1fr);
    }

    .choices div p {
        font-size: 12px;
    }

    .contact-form .choices div,
    .partnership-form .choices div {
        width: 80%;
    }

}

@media all and (max-width: 450px) {
    .modal-dialog {
        max-width: 90%;
    }
}
