{% load static home_decorations_menu products_menu pre_footer %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>{% block seo_title %} {% endblock seo_title %}</title>
    <meta name="description" content="{% block seo_description %} {% endblock seo_description %}">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{#    <meta name=" viewport#}
{#    "#}
{#    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {#    <!-- Stylesheets-->#}
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic%7CCormorant+Garamond:300,400,400i,600,700">#}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">


    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/container.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ars_style.css' %}">

    {% block styles %}{% endblock styles %}
    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="{% static 'scripts/html5shiv.min.js' %}"></script>
    <![endif]-->
    {% block search_systems %}

    {% endblock search_systems %}
</head>
<body>
<!-- Page-->
<div class="page">
    <header class="black-shadow menu {% block header_class %}{% endblock header_class %}">
        {% products_menu %}
        <div class="container">
            <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logos/cubo_logo@8x.png' %}"/></a>
            <ul class="main">
                <li class="dropdown-big" data-for="categories">
                    <a href="#">Модельный ряд</a>

                </li>
                <li><a href="{% url 'about' %}">Завод</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
            <div class="hamburger">
                <span id="firstSpan"></span>
                <span id="secondSpan"></span>
                <span id="thirdSpan"></span>
            </div>


        </div>
    </header>


    {% block content %}

    {% endblock content %}

    {% pre_footer %}

    <footer class="footer-corporate">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights"><a
                        href="{% url 'privacy' %}">Политика конфиденциальности</a></p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-vimeo" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-pinter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script src="{% static 'scripts/lazy.min.js' %}"></script>
<script src="{% static 'scripts/core.min.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/ars_script_1.js' %}"></script>
<script src="{% static 'scripts/menu.js' %}"></script>
{% block scripts %}
{% endblock scripts %}


</body>
</html>