{% load static home_decorations_menu %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>{% block seo_title %} {% endblock seo_title %}</title>
    <meta name="description" content="{% block seo_description %} {% endblock seo_description %}">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{#    <!-- Stylesheets-->#}
{#    <link rel="stylesheet" type="text/css"#}
{#          href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic%7CCormorant+Garamond:300,400,400i,600,700">#}
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">



    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ars_style.css' %}">
{% block styles %}{% endblock styles %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="{% static 'scripts/html5shiv.min.js' %}"></script>
    <![endif]-->
    {% block search_systems %}

    {% endblock search_systems %}
</head>
<body>
<!-- Page-->
<div class="page">
    <!--END PANEL-->
    <div class="preloader">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
    </div>
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar_transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
                 data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                 data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static"
                 data-xl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true"
                 data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true"
                 data-lg-stick-up-offset="120px" data-xl-stick-up-offset="35px" data-xxl-stick-up-offset="35px"
                 data-body-class="rd-navbar-absolute">
                <div class="rd-navbar-inner rd-navbar-search-wrap">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel rd-navbar-search_collapsable">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                        </button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand-name" href="{% url 'home' %}"><img
                                src="
                                {% block logo %}
                                    {% static 'images/logos/cubo_logo@4x.png' %}
                                {% endblock logo %}"
                                alt="" width="90px"/></a></div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                        <!--                        <ul class="rd-navbar-items-list rd-navbar-search_collapsable">-->
                        <!--                            <li>-->

                        <!--                                <a class="icon icon-md linear-icon-heart link-primary"-->
                        <!--                                   href="{% url 'favorites' %}"></a>-->

                        <!--                            </li>-->
                        <!--                            <li class="rd-navbar-nav-wrap__shop">-->
                        <!--                                <a class="icon icon-md linear-icon-cart link-primary"-->
                        <!--                                   href="{% url 'cart' %}"></a>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->
                        <div class="rd-navbar-search_collapsable">
                            <ul class="rd-navbar-nav">
                                <li><a href="#">Модельный ряд</a>
                                    <ul class="rd-navbar-megamenu">
                                        <li>
                                            <a href="{% url 'houses_list' %}"><h6>Одноэтажные</h6></a>
                                            <ul class="rd-megamenu-list">
                                                <li>
                                                    <a href="{% url 'houses_list' %}">
                                                        <img src="{% static 'images/menu_items/menu_min_1.jpg' %}"
                                                             height="50"
                                                             width="75" class="menu_min"/>
                                                        CUBO VR
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'houses_list' %}">
                                                        <img src="{% static 'images/menu_items/menu_min_1.jpg' %}"
                                                             height="50"
                                                             width="75" class="menu_min"/>
                                                        CUBO FR
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><h6>Двухэтажные</h6></a>
                                            <ul class="rd-megamenu-list">
                                                <li><p>Скоро</p></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li><a href="{% url 'home_decorations_list' %}">Отделка и коммуникации</a>
                                    {% home_decorations_menu %}
                                </li>
                                <li><a href="{% url 'about' %}">Завод</a>
                                <li><a href="{% url 'cubo_business' %}">CUBO business</a>
                                <li><a href="{% url 'partnership' %}">Сотрудничество</a>
                                <li><a href="{% url 'contacts' %}">Контакты</a>
                                </li>
                                <!--                                <li class="mobile-menu-item">-->
                                <!--                                    <a  href="{% url 'cart' %}" class="icon icon-md linear-icon-cart link-primary">-->
                                <!--                                        Корзина-->
                                <!--                                    </a>-->

                                <!--                                </li>-->
                                <!--                                <li class="mobile-menu-item">-->
                                <!--                                    <a  href="{% url 'favorites' %}" class="icon icon-md linear-icon-heart link-primary">-->
                                <!--                                        Избранное-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}

    {% endblock content %}


    <section class="pre-footer-corporate">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                    <h6>О нас</h6>
                    <p>Наша компания является автором и создателем концепции сборно-разборных домов основанный на
                        стандартизации основных несущих конструкций. В 2021 году мы запустили серийный выпуск домов под
                        торговой маркой CUBO. Серийное производство позволяет обеспечить высокое качество продукции и
                        оптимизировать стоимость производства. </p>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                    <h6>Навигация</h6>
                    <ul class="list-xxs">
                        <li><a href="{% url 'houses_list' %}">КАТАЛОГ ПРОЕКТОВ</a></li>
                        <li><a href="{% url 'home_decorations_list' %}">ОТДЕЛКА И КОММУНИКАЦИИ</a></li>
                        <li><a href="{% url 'about' %}">ЗАВОД</a></li>
                        <li><a href="{% url 'cubo_business' %}">CUBO BUSINESS</a></li>
                        <li><a href="{% url 'partnership' %}">СОТРУДНИЧЕСТВО</a></li>
                        <li><a href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                    <h6>Новое на сайте</h6>
                    <ul class="list-xs">
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="{% url 'houses_list' %}">Дом CUBO VR
                                    300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="{% url 'houses_list' %}">Дом CUBO VR
                                    300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author"><a href="{% url 'houses_list' %}">Дом CUBO VR
                                    300м2</a>
                                </p>
                                <!--                                <p class="comment-minimal__link"><a href="standard-post.html">Дом CUBO VR 300м2</a></p>-->
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    <h6>Контакты</h6>
                    <ul class="list-xs">
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Адрес</dt>
                                <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Телефоны</dt>
                                <dd>
                                    <ul class="list-semicolon">
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>E-mail</dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Время работы</dt>
                                <dd>Пн - Пт: 10:00 - 20:00</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-corporate">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights"><a
                        href="{% url 'privacy' %}">Политика конфиденциальности</a></p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-vimeo" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-gray-4 fa fa-pinter"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>


<script src="{% static 'scripts/core.min.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/ars_script_1.js' %}"></script>
{% block scripts %}
{% endblock scripts %}


</body>
</html>