{% load price_to_str_filter static %}

<section class="catalog-section padding">
    <div class="container">
        <div class="catalog-header flex">
            <h4>Модельный ряд</h4>
            <a href="{% url 'houses_list' %}">
                в каталог
                <img src="{% static 'icons/right_black.svg' %}" height="20px" alt="стрелка вправо"/>
            </a>
        </div>
        <div class="catalog-nav">
            <div class="tabs-controls">
                <div class="tabs-controls-wrapper catalog">
                    <div class="container">
                        <div class="tabs-slider">
                            {% for ser in series_list %}
                                <div class="tabs-controls-item catalog {% if forloop.first %}active{% endif %}"
                                     data-for="tab-{{ forloop.counter0 }}0">
                                    <div>
                                        <span>{{ ser.name }} ({{ ser.active_houses_count }})</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="catalog-body">
            <div class="tabs-content">
                {% for ser in series_list %}
                    <div id="tab-{{ forloop.counter0 }}0"
                         class="body-item catalog {% if forloop.first %}active{% endif %}">
                        <div class="swiper-container-catalog"
                             id="{% if forloop.first %}swiper1{% else %}swiper1{{ forloop.counter0 }}{% endif %}">
                            <div class="swiper-wrapper">
                                {% for house in houses %}
                                    {% if house.series == ser %}
                                        <div class="swiper-slide">
                                            <div class="product-item white b-shadow">
                                                <a class="a-wrapper" href="{{ house.get_absolute_url }}"></a>
                                                <div class="item-wrapper">
                                                    <div class="item-category">
                                                        <span>{{ house.category.name }}</span>
                                                    </div>
                                                    <div class="item-title">
                                                        <span class="item-category">модель - </span>
                                                        <h4>{{ house.name }}</h4>

                                                    </div>
                                                    <div class="item-picture">
                                                        <img
                                                                alt="{{ house.main_picture.alt }}"
                                                                class="lazy"
                                                                src="{{ house.main_picture.picture.thumb.url }}"
                                                                data-src="{{ house.main_picture.picture.w450.url }}"
                                                        />

                                                    </div>
                                                    <div class="item-min-price">площадь дома -
                                                        <span class="price">{{ house.area }} </span>м&sup2;.
                                                    </div>
                                                    <div class="item-min-price">цена -
                                                        <span class="price">{{ house.catalog_price|price_to_str_filter }}</span>
                                                        руб.
                                                    </div>
                                                    <div class="item-link">
                                                        {#                                                    <a href="{{ house.get_absolute_url }}"#}
                                                        {#                                                       class="btn-a diagonal black">#}
                                                        {#                                                        <span>Подробнее</span>#}
                                                        {#                                                    </a>#}
                                                        <a class="button right" href="{{ house.get_absolute_url }}">
                                                            Подробнее
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"
                                 {% if ser.active_houses_count < 4 %}style="opacity: 0"{% endif %}
                                 id="next{{ forloop.counter0 }}"></div>
                            <div class="swiper-button-prev"
                                 {% if ser.active_houses_count < 4 %}style="opacity: 0"{% endif %}
                                 id="prev{{ forloop.counter0 }}"></div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>