{#{% load active_filter count_active %}#}

<ul class="dropdown-big-item" id="categories">
    <div class="container">
        {% for category in data %}
            <li class="ddb-li">
                <div class="ddb-li-header">{{ category.category_name }}</div>
                <div class="ddb-li-body">
                    {% if category.category_coming_soon %}
                        <div class="ddb-li-body">
                            <div class="ddb-li-body-item">
                                <span class="soon">Скоро на сайте!</span>
                            </div>
                        </div>
                    {% else %}
                        {% for ser in category.series %}
                            <div class="ddb-li-body-item">
                                <a href="{{ ser.series_get_absolute_url }}">
                                    <img src="{{ ser.series_picture.url }}" alt="изображение дома серии {{ ser.series_name }}"/>
                                    <span>{{ ser.series_name }} ({{ ser.series_houses_count }})</span>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>

            {% empty %}
            <li class="ddb-li">
                <div class="ddb-li-header">Дома добавляются прямо сейчас! </div>

            </li>
        {% endfor %}
    </div>

</ul>